/*------------------------------------*\
    #HOMEPAGE: BLOCK
\*------------------------------------*/

.homepage-block {
  margin-top: 84px;
  position: relative;

  &--highlight {
    background: $color__grey--lighter;
    border-left: 1px solid $color__grey--light;
    margin: 77px -15px 14px;
    padding: 21px 15px;
  }

  &__intro {
    color: $color__grey--text;
    margin-bottom: 14px;
  }

  &__button {
    font-size: 16px;
    height: 42px;
    margin-top: 28px;
    width: 125px;
  }

  &__title {
    font-size: 24px;
    line-height: 28px;
    margin: 0 0 28px;
    padding-top: 14px;
    position: relative;
    top: 0;

    &--icon {
      &:after {
        background: url() no-repeat center top transparent;
        content: '';
        height: 42px;
        margin-left: 15px;
        position: absolute;
        top: 0;
        width: 52px;
      }

      &--publication {
        &:after {
          background-image: url(../images/icons/publication_tablet.png);
          height: 43px;
          width: 30px;

          @include image-2x('../images/icons/publication_tablet_@2x.png', 30px, 43px);
        }
      }

      &--consultation {
        &:after {
          background-image: url(../images/icons/consultation_tablet.png);
          width: 52px;

          @include image-2x('../images/icons/consultation_tablet_@2x.png', 52px, 42px);
        }
      }
    }
  }

  &__subtitle {
    font-size: 18px;
    line-height: 21px;
  }

  &__title-link {
    color: $color__body;
    font-weight: 500;
    text-decoration: none !important;

    &:hover {
      color: $color__link--primary;
    }
  }
}

@include media-query(tablet) {
  .homepage-block {
    margin-top: 98px;

    &--highlight {
      margin-left: 0;
      margin-right: 0;
      margin-top: 77px;
    }

    &__title {
      padding-top: 14px;
    }
  }
}

@include media-query(desktop) {
  .homepage-block {
    &__intro {
      font-size: 16px;
      line-height: 21px;
    }

    &__title {
      font-size: $tablet-h2-size;
      line-height: 35px;
      padding-top: 21px;

      &--icon {
        &:after {
          margin-left: 20px;
        }

        &--publication {
          &:after {
            background-image: url(../images/icons/publication_desktop.png);
            height: 46px;
            width: 32px;

            @include image-2x('../images/icons/publication_desktop_@2x.png', 32px, 46px);
          }
        }

        &--consultation {
          &:after {
            background-image: url(../images/icons/consultation_desktop.png);
            height: 48px;
            width: 58px;

            @include image-2x('../images/icons/consultation_desktop_@2x.png', 58px, 48px);
          }
        }
      }
    }
  }
}
