.homepage-news {
  &__date {
    border-left: 2px solid $color__grey--dark;
    font-size: 12px;
    font-weight: 500;
    height: 21px;
    line-height: 21px;
    margin: 11px 0 10px;
    padding-left: 9px;
  }

  &__title {
    font-weight: 700;
    margin-top: 0;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__summary {
    margin-bottom: 42px;
  }
}

.homepage-subscribe {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  position: absolute;
  right: 0;
  top: 20px;

  &__link {
    float: right;
    line-height: 26px;
    margin: -4px 0 0 15px;
    padding: 0 28px 0 10px;
    text-transform: none;
    width: 120px;

    @extend %small-arrow-right;
  }
}

@include media-query(tablet-down) {
  .homepage-news__item {
    display: none;

    &:nth-child(-n + 2) {
      display: inline-block;
    }
  }
}

@include media-query(tablet) {
  .homepage-news {
    &__summary {
      margin-bottom: 28px;
    }
  }

  .homepage-subscribe {
    top: 29px;
  }
}

@include media-query(desktop) {
  .homepage-subscribe {
    top: 34px;
  }
}
