/* Style the supporting hint text */
.hippo-editor-field p.hint-text {
    line-height: 1.6em;
    margin-bottom: 0.7em;
    color: #666;
}

.visually-hidden,
.hidden {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px; width: 1px;
    overflow: hidden;
    position: absolute !important;
}

.fully-hidden,
.hidden.hidden-hard {display: none;}

/* CKEditor widget labels */
.cke_button__accordion_label,
.cke_button__callout_label,
.cke_button__contentblock_label,
.cke_button__inset-text_label,
.cke_button__warning-text_label {
    display: inline-block;
}

/*------------------------------------*\
    #INSET TEXT PLUGIN
\*------------------------------------*/

.ds_inset-text {
    border-left: 10px solid #b3b3b3;
    padding: 14px 15px;

    /* to match CKEditor spacing */
    margin-top: 0.7em;
    margin-bottom: 0.3em;
}

.ds_inset-text__text> :last-child {
    margin-bottom: 0;
}


/*------------------------------------*\
    ACCORDION PLUGIN
\*------------------------------------*/

/* edit mode styles */
.cke_inner .ds_accordion-item__title,
.cke_inner .ds_accordion-item__body {
    border: 1px dashed #cccccc;
    border-radius: 5px;
}

.ds_accordion {
    background: #fcfcfc;
    margin-top: 14px;
}

.ds_accordion-item {
    margin-bottom: -1px;
}

.ds_accordion-item__header {
    padding: 7px 15px;
    position: relative;
}

.ds_accordion-item__title {
    margin: 0 50px 0 0;
    padding: 5px 8px;
}

.ds_accordion-item__body {
    padding: 0 8px;
    margin: 7px 15px;
}

.ds_accordion-item__indicator {
    border: 3px solid currentColor;
    border-width: 3px 3px 0 0;
    content: "";
    display: inline-block;
    height: 0.70711em;
    -webkit-transform: rotateX(0) rotateZ(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotateX(0) rotateZ(-45deg);
    transition: transform 0.2s, top 0.2s;
    width: 0.70711em;
    color: currentColor;
    right: 21px;
    position: absolute;
    top: 20px;
}

.ds_accordion-item {
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
}

.ds_accordion-item__header {
    background: #f3f3f3;
}

/*------------------------------------*\
    #WARNING TEXT PLUGIN
\*------------------------------------*/

.ds_warning-text {
    border: 1px solid currentColor;
    border-width: 1px 0;
    padding: 14px 15px 14px 65px;
    position: relative;

    /* to match CKEditor spacing */
    margin-top: 0.7em;
    margin-bottom: 0.3em;
}

.ds_warning-text__text> :last-child {
    margin-bottom: 0;
}

.ds_warning-text__icon {
    background: #333;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height: 35px;
    font-size: 32px;
    font-weight: 700;
    left: 15px;
    line-height: 35px;
    position: absolute;
    text-align: center;
    top: 9px;
    width: 35px;
}

/*------------------------------------*\
    #BUTTON PLUGIN
\*------------------------------------*/

.ds_button {
    background: #0065bd;
    border: 0;
    border-radius: 0;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    outline-width: 0;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.2s;
    margin-top: 32px;
    margin-bottom: 32px;
}

.ds_reversed .ds_button {
    background-color: #ffffff;
    color: #0065bd;
}

.ds_reversed .ds_button:focus,
.ds_reversed .ds_button:hover:focus {
    background-color: #fdd522;
}

.ds_reversed .ds_button:hover {
    background-color: #d9effc;
}

.ds_reversed .ds_button--secondary {
    background-color: transparent;
    border-color: currentColor;
    color: #ffffff;
}

.ds_reversed .ds_button--secondary:hover:not(:focus) {
    background-color: rgba(0, 101, 189, 0.3);
    color: #ffffff;
}

.ds_button--secondary {
    background-color: transparent;
    color: #0065bd;
    outline: 2px solid currentColor;
    outline-offset: -2px;
}

.ds_button--secondary:hover:not(:focus) {
    background-color: #d9effc;
    color: #00437e;
}

.ds_button--cancel {
    background-color: transparent;
    color: #333333;
    outline: 2px solid currentColor;
    outline-offset: -2px;
}

.ds_button--cancel:hover:not(:focus) {
    background-color: #ebebeb;
    color: #333333;
}

.ds_button--fixed {
    width: 200px;
}

.ds_button--fixed.ds_button--small {
    width: 160px;
}

.ds_button--max {
    max-width: 480px;
    width: 100%;
}

/* editor style overrides */
.cke_wysiwyg_div.cke_editable a.ds_button,
.hippo-richtext a.ds_button {
    color: #fff;
    text-decoration: none;
}

.cke_wysiwyg_div.cke_editable a.ds_button--secondary,
.hippo-richtext a.ds_button--secondary {
    color: #0065bd;
}

.cke_wysiwyg_div.cke_editable a.ds_button--cancel,
.hippo-richtext a.ds_button--cancel {
    color: #333333;
}
