/* Allow tooltips to wrap and set appearance */
.hippo-hint-field .info span {
    width: 400px;
    white-space: normal;
    background-color: #e5f0f8;
}

/* Hide 'add root folder' button*/
.add-root-folder {
    display: none;
}

/* Search boxes styling */
.section-search-input input {
    height: 40px;
    border-width: 3px;
    border-color: #0877d1;
    font-size: 18px;
}

.section-search-input .hi-m {
    width: 32px;
    height: 32px;
}

.section-search-input > a {
    right: 38px;
    top: 6px;
}

/* Dashboard header styling */
.cms-title {
    color: #0065bd;
    font-size: 22px;
    font-weight: 700;
}

.cms-site-logo {
    float: right;
    height: 24px;
    margin-top: 9px;
}

/* Hover effects on left menu */
.hippo-tree .wicket-tree .row:hover {
    background-color: #ebebeb;
    padding-top: 0;
}

.hippo-tree .wicket-tree .row:active {
    background-color: #d9effc;
    padding-top: 0;
}

.hippo-tree .wicket-tree .row .hippo-tree-dropdown-icon-container svg {
    background-color: #ebebeb;
}

.hippo-tree .wicket-tree .row:active .hippo-tree-dropdown-icon-container svg {
    background-color: #d9effc;
}

.hippo-tree .wicket-tree .row.row-selected:hover{
    background-color: transparent;
}

.hippo-tree .wicket-tree .row.row-selected .hippo-tree-node-link {
    color: #22272f;
}

.hippo-tree .wicket-tree .row.row-selected .hippo-tree-node-link:before {
    background-color: #0877d1;
}

.hippo-tree .hippo-tree-highlight-widget {
    display: none;
}

.hippo-tree .wicket-tree .row .a_ {
    height: auto;
}

.hippo-tree .wicket-tree .row {
    overflow-x: hidden;
    padding-top: 0;
    position: relative;
    transition: background-color 0.2s;
}

.hippo-tree .wicket-tree .row .hippo-tree-junction-link,
.hippo-tree .wicket-tree .row-selected .hippo-tree-node-link span {
    position: relative;
    z-index: 1;
}

.hippo-tree .wicket-tree .row .hippo-tree-node-link {
    padding-bottom: 1px;
    padding-top: 1px;
    width: 100%;
}

.hippo-tree .wicket-tree .row.row-selected .hippo-tree-dropdown-icon-container svg {
    background-color: transparent;
}

.hippo-tree .wicket-tree .row .hippo-tree-node-link:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.hippo-tree .wicket-tree .row-selected .hippo-tree-dropdown-icon-container svg {
    color: #22272f;
}


/** EXPERIMENTAL **/
.hippo-tree .wicket-tree .row-selected .hippo-tree-junction-link svg.hi,
.hippo-tree .wicket-tree .row-selected .hippo-tree-node-link svg.hi,
.hippo-tree .wicket-tree .row-selected .hippo-tree-node-link:hover svg.hi {
    color: inherit;
}

.hippo-tree .wicket-tree .row-selected .hippo-tree-node-link span {
    color: inherit;
}

.hippo-tree .wicket-tree  .row.row-selected .hippo-tree-node-link:before {
    background-color: #e5f0f8;
}


.section-search-input {
    position: relative;
}

.section-search-input input {
    background: #ebebeb;
    border: 0;
    border-radius: 30px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
    float: right;
    height: 42px;
    padding: 0 49px 0 0;
    text-indent: 1.5em;
    width: 100%;
    -webkit-appearance: none;
}

.section-search-input input:active,
.section-search-input input:focus {
    background-color: #e5f0f8;
}

.section-search-input > a {
    right: 0;
    top: 0;
    color: white;
    background: #0877D2;
    border-radius: 100px;
    height: 42px;
    width: 42px;
    line-height: 57px;
    position: absolute;
    transition: background-color 0.2s;
}

.section-search-input > a:hover {
    background-color: #00437e;
}

.section-search-input > a .hi {
    color: white !important;
}

.hippo-list-documents>tbody .hippo-list-selected {
    color: inherit;
    background-color: #e5f0f8;
}

.hippo-list-documents>tbody .hippo-list-selected .doclisting-icon .hi-check-circle,
.hippo-list-documents>tbody .hippo-list-selected .doclisting-icon .hi-exclamation-triangle,
.hippo-list-documents>tbody .hippo-list-selected .doclisting-icon .hi-minus-circle {
    color: inherit;
    fill: inherit;
}

.hippo-list-documents>tbody .hippo-list-selected .hi-stack>svg:first-child,
.hippo-list-documents>tbody .hippo-list-selected svg.hi {
    color: inherit;
}

.hippo-list-documents>tbody tr {
    transition: background-color 0.2s;
}

.hippo-list-documents>tbody tr:not(.hippo-list-selected):hover {
    background-color: #ebebeb;
}

.hippo-list-documents>tbody tr:not(.hippo-list-selected):active {
    background-color: #d9effc;
}

/* restores defaults */
.hippo-list-documents>tbody .hippo-list-selected .doclisting-icon .hi-minus-circle,
.hippo-list-documents>tbody .hippo-list-selected .doclisting-icon .hi-times-circle {
    color: #fff;
    fill: #ff4040;
}

.hippo-list-documents>tbody .hippo-list-selected .doclisting-icon .hi-check-circle {
    color: #fff;
    fill: #3dcc3d;
}

.hippo-list-documents>tbody .hippo-list-selected .doclisting-icon .hi-exclamation-triangle {
    color: #22272f;
    fill: #ffa733;
}


/*------------------------------------*\
    $INFORMATIONAL NOTES
    This is a compiled version of the mygov-assets css component.
\*------------------------------------*/
.info-note {
    border-left: 4px solid #0065bd;
    clear: both;
    font-size: 11px;
    line-height: 21px;
    margin: 35px 0;
    padding: 10px 10px 10px 49px;
    position: relative;
    top: 4px;
  }
  .info-note :last-child {
    margin-bottom: 0;
  }
  .info-note--large-margins {
    margin: 35px 0;
  }
  .info-note.note {
    border-width: 1px 0;
    border-color: #b3b3b3;
    border-style: solid;
    font-size: 11px;
    padding-left: 49px;
    line-height: 21px;
    font-weight: 400;
  }
  .info-note.note:before {
    background: url("icons/note.png") no-repeat 0 0 transparent;
    background-size: 22px;
    content: '';
    height: 22px;
    left: 10px;
    position: absolute;
    top: 15px;
    width: 22px;
  }
  .info-note.note p {
    padding-top: 0;
  }
  .info-note.caution {
    font-size: 14px !important;
    border-width: 1px 0;
    border-color: #b3b3b3;
    border-style: solid;
    background-color: inherit;
    padding: 15px 10px 22px 59px;
    font-weight: 700;
    line-height: 21px;
  }
  .info-note.caution:before {
    background: url("icons/caution.png") no-repeat 0 0 transparent;
    background-size: 30px;
    content: '';
    height: 30px;
    left: 10px;
    position: absolute;
    top: 19px;
    width: 30px;
  }
  .info-note.caution p {
    padding-top: 4px;
  }
  .info-note.attribution {
    background: #f8f8f8;
    background-color: inherit;
    border-left: 4px solid #333333;
    font-size: 11px;
    padding: 3px 35px 4px 10px;
  }
  .info-note.blockquote {
    border: 0;
    border-left: 4px solid #0065bd;
    padding: 14px 10px 14px 15px;
    font-style: italic;
    font-weight: 300;
  }
  .info-note.blockquote:before {
    content: none;
  }
  .info-note.blockquote cite {
    display: block;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    margin-top: 8px;
  }
  
  @media (min-width: 768px) {
    .info-note {
      border-left: 4px solid #0065bd;
      font-size: 15px;
      line-height: 28px;
      padding-right: 35px;
      top: 0;
    }
    .info-note.note {
      font-size: 13px;
      padding: 13px 35px 13px 49px;
      line-height: 28px;
      font-weight: 400;
    }
    .info-note.caution {
      padding-right: 35px;
      padding-left: 64px;
      font-size: 14px !important;
      line-height: 28px;
    }
    .info-note.caution:before {
      left: 15px;
    }
    .info-note.attribution {
      line-height: 21px;
    }
    .info-note.blockquote cite {
      font-size: 11px;
    }
}

/* MGS-4819 - Cannot select/copy text in Channel Manager view using Edge */
.channel-iframe-canvas iframe {
    -ms-user-select: text;
}


/*------------------------------------*\
    #STAT BOX
    This is a compiled version of the mygov-assets css component.
\*------------------------------------*/

.stat-boxes {
    overflow: hidden;
}

.stat-box {
    border: 1px solid #333;
    border-width: 1px 0;
    color: #333;
    display: block;
    float: left;
    margin: 0 0 28px;
    min-height: 105px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 30%;
    transition: color 0.2s, border-color 0.2s;
}
.stat-box__value {
    display: block;
    font-size: 56px;
    font-weight: 900;
    line-height: 77px;
}
.stat-box__label {
    top: 67px;
    display: table;
    height: 35px;
    position: absolute;
    width: 100%;
}
.stat-box__label-text {
    display: table-cell;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: center;
    vertical-align: middle;
}

a.stat-box:hover, a.stat-box:focus {
    border-color: #0065bd;
    color: #0065bd;
    text-decoration: none;
    transition-duration: 0.2s;
}
a.stat-box:active {
    background: #d9effc;
    color: #0065bd;
    outline: 0;
}

.stat-box + .stat-box {
    margin-left: 5%;
}

@media (min-width: 768px) {
    .stat-box {
        margin: 0 0 42px;
        min-height: 133px;
    }
    .stat-box__value {
        font-size: 70px;
        line-height: 97px;
    }
    .stat-box__label {
        top: 82px;
    }
    .stat-box__label-text {
        font-size: 15px;
        line-height: 21px;
    }
}

/* Arrows in multi-select */

button.button.remove div, button.button.add div {
    width: 25px;
    height: 25px;
    font-size: 20px;
}

button.button.remove div:after {
    content: '\2190';
}

button.button.add div:after {
    content: '\2192';
}

/* Show move and close buttons in collection group publications */

.hippo-node-field-type-govscot-collectiongroup .hippo-editor-field-subfield-item .hippo-editor-field-subfield-controls+.hippo-editor-field-subfield-item
{
    display: inline-block;
}

.hippo-node-field-type-govscot-collectiongroup .hippo-editor-field-subfield-controls {
    opacity: 1;
}

.hippo-node-field-type-govscot-collectiongroup .hippo-editor-field-subfield-item .hippo-editor-field-subfield-controls {
    display: inline-block;
    position: relative;
}
