/* Hide 'add root folder' button*/
.add-root-folder {
    display: none;
}

/* MGS-4819 - Cannot select/copy text in Channel Manager view using Edge */
.channel-iframe-canvas iframe {
    -ms-user-select: text;
}

/* Show move and close buttons in collection group publications */

.hippo-node-field-type-govscot-collectiongroup .hippo-editor-field-subfield-item .hippo-editor-field-subfield-controls+.hippo-editor-field-subfield-item
{
    display: inline-block;
}

.hippo-node-field-type-govscot-collectiongroup .hippo-editor-field-subfield-controls {
    opacity: 1;
}

.hippo-node-field-type-govscot-collectiongroup .hippo-editor-field-subfield-item .hippo-editor-field-subfield-controls {
    display: inline-block;
    position: relative;
}
