/*------------------------------------*\
    #SEARCH RESULTS
\*------------------------------------*/

.search-results__list {
    list-style: none;
    margin: 21px 0 0 -40px;
}

.search-results__header {
    overflow: hidden;
}

.search-results-header__left {
    float: left;
}

.search-results-header__right {
    float: right;
    margin-top: 21px;
    width: auto;
}

.search-results__count {
    margin: 0;
}

.search-result {
    margin: 0 -15px;

    &__link {
        color: $color__body !important;
        display: block;
        position: relative;
        text-decoration: none;
        @include transition(background-color $transition-out-time);

        &:hover {
            background-color: $color__grey--lighter;
            text-decoration: none;
            @include transition-duration($transition-in-time);

            .search-result__title {
                text-decoration: underline;
            }
        }

        &:active {
            background: $color__blue--light;
            outline: none;
            @include transition(none);
        }
    }

    &__article {
        border-bottom: 1px solid $color__grey--light;
        margin: 0 15px;
        overflow: hidden;
        padding: 21px 0 20px;

        &--top-border {
            border-top: 1px solid $color__grey--pale;
        }

        &--no-border {
            border: 0;
        }
    }

    &__title {
        color: $color__blue--base;
        margin: 1px 0 6px;
        text-decoration: none;
    }

    &__label {
        font-size: 12px;
        font-weight: 700;
        line-height: 14px;
        margin: 0 0 7px;
        text-transform: uppercase;
    }

    &__role {
        font-weight: 500;
        margin-bottom: 7px;
    }

    &__date {
        color: $color__grey--text;
        display: block;
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 7px;
        text-decoration: none;
    }

    &__meta {
        margin-bottom: 21px;
        position: relative;

        &--has-icon {
            padding-left: 45px;
        }
    }

    &__meta-right {
        float: right;
        margin-left: 10px;
    }

    &__summary {
        margin-bottom: 0;
    }

    &__image {
        background-color: $color__grey--light;
        float: right;
        height: 84px;
        margin: 0 0 10px 20px;
        width: 84px;
    }

    &__icon {
        left: 0;
        position: absolute;
        top: -12px;
    }
}
@include media-query(tablet) {
    .search-result {
        margin: 0;

        &__article {
            margin: 0;
            padding-left: 15px;
            padding-right: 15px;
        }

        &__label {
            font-size: 14px;
        }

        &__date {
            font-size: 14px;
        }

        &__image {
            height: 144px;
            width: 144px;
        }
    }

    .search-result__article--has-image {
        .search-result__wrapper {
            margin-right: 159px;
        }
    }

    .search-results__count {
        padding-left: 15px;
    }

    .search-results__list {
        margin-left: 0;
    }
}
