/*------------------------------------*\
    #TITLE WITH LABEL
\*------------------------------------*/

.title-with-label {
  &__label {
    display: block;
    font-size: $base-font-size;
    font-weight: 400;
    margin: 0;
  }

  &__title {
    border-bottom: 1px solid $color__link--primary;
  }

  &__link {
    color: $color__grey--dark;
    text-decoration: none;

    &:hover {
      color: $color__link--primary;
    }

    &:active {
      color: $color__link--active;
    }
  }
}

@include media-query(medium) {
  .title-with-label {
    &__label {
      font-size: $medium-font-size;
    }
  }
}
