/*------------------------------------*\
    #STICKY DOCUMENT INFO
\*------------------------------------*/

.sticky-document-info {
  background: $color__grey--light;
  height: 49px;
  left: 100%;
  opacity: 0;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid $color__grey--light;

  &--animate {
    @include animation(fadeOutFromBlock 0.2s);
  }

  &__cell {
    height: 49px;
    display: table-cell;
    vertical-align: middle;

   }

  /**
   * 1. Specify a width larger than cell width to force table to be rendered
   *    with max width. Width 100% doesn't work since requires a px width.
   *    _bit of a hack_
   */
  &__cell--text-right {
    text-align: right;
    width: 600px; /* [1] */
  }


  &__title {
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
  }

  &__subtitle {
    font-size: 13px;
    line-height: 15px;
    color: $color__grey--base;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
  }


  &__content-data {
    display: none;
  }

  &--visible-if-sticky {
    display: none;
  }

  &--is-sticky {
    box-shadow: 0 3px 10px tint($color__grey--dark, 0.25);
    display: block;
    left: auto;
    margin-top: 0;
    opacity: 1;
    top: 0;
    z-index: 99;

    .sticky-document-info--visible-if-sticky {
      display: table-cell;
    }
    &.sticky-document-info--animate {
      @include animation(fadeInFromNone 0.2s);
    }
  }

  .content-data  {
    margin-bottom:0;
  }

}


@include media-query(medium) {
  .sticky-document-info {
    background: $color__white;

    height: 70px;
    padding-top: 0;
    padding-bottom: 7px;
    position: relative;
    left: auto;
    opacity: 1;

    /**
     * Hack to make the iOS render position:fixed while scrolling
     */
    -webkit-transform: translate3d(-1, 0, 0);

    &--is-sticky {
      position: fixed;
    }

    &__cell {
      height: 70px;
      // line-height: 70px;
      // padding-top: 7px;
    }

    /**
     * 1. Ellipsis requires fixed pixel width
     */
    &__title {
      display: block;
      font-size: 15px;
      font-weight: 400;
      line-height: 28px;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 330px; /* [1] */
    }

    &__label {
      font-size: 21px;
      font-weight: 600;
      line-height: 28px;
    }

    &__content-data {
      display: inline-block;
    }
  }
}

@include media-query(large) {

  .sticky-document-info {

    /**
     * 1. Ellipsis requires fixed pixel width
     */
    &__title {
      font-size: 21px;
      font-weight: 300;
      line-height: 35px;
      width: 535px; /* [1] */
    }
  }

}



/**
 * Trigger button and drop down panel
 */

 .sticky-document-info__trigger {
   @extend .button;
   @extend .button--clear !optional;
   // color: $color__blue--base;
   // background-color: transparent;
   border-top: 1px solid $color__blue--base;
   position: relative;
   text-transform: none;
   font-size: 14px;
   height: 70px;
   padding-right: 28px;
   top: -1px;

   &:after {
     content: '';
     position: absolute;
     right: 0;
     top: 20px;
     width: 35px;
     height: 35px;
     margin: 0 auto;

     background-image: url(../images/icons/arrows/int_arrow_down_blue_35px.png);
     @include image-2x("../images/icons/arrows/int_arrow_down_blue_35px_@2x.png", 35px, 35px);
   }

   &:focus {
     background-color: $color__blue--lighter;
     outline: none;
     color: $color__blue--base;
   }

   &:active {
     background-color: $color__blue--light;
     outline: none;
   }

   &--expanded {
     &:after {
       content: '';
       position: absolute;
       right: 0;
       top: 20px;
       width: 35px;
       height: 35px;
       margin: 0 auto;

       background-image: url(../images/icons/arrows/int_arrow_up_blue_over_35px.png);
       @include image-2x("../images/icons/arrows/int_arrow_up_blue_over_35px_@2x.png", 35px, 35px);
     }
   }

 }


.sticky-document-info__panel-container {
  position: relative;
}
.sticky-document-info__panel {
  display: none;
  &--open {
    display: block;
    position:absolute;
    right: 0;
    background-color: white;
    box-shadow: 0 6px 10px tint($color__grey--dark, 0.25);
    width: 292px;
    max-height: 500px;
    overflow-y: auto;
    padding: 30px;
    z-index: 100000;


  }
}






/**
 * Animations
 */


@include keyframes(fadeOutFromBlock) {
  0% {
    display: block;
    left: 0;
    margin-top: 0;
    opacity: 1;
  }

  99% {
    display: block;
    left: 0;
    margin-top: -10px;
    opacity: 0;
  }

  100% {
    display: none;
    left: 100%;
    margin-top: -10px;
    opacity: 0;
  }
}

@include keyframes(fadeInFromNone) {
  0% {
    display: none;
    margin-top: -10px;
    opacity: 0;
  }

  1% {
    display: block;
    margin-top: -10px;
    opacity: 0;
  }

  100% {
    display: block;
    margin-top: 0;
    opacity: 1;
  }
}
