/*------------------------------------*\
    #CONTENT PREVIEW
    Summary of a content item, such as one would see on a search results page
\*------------------------------------*/

.content-preview {
    margin: 0;
    max-width: 510px;

    &__link {
        color: $color__body !important;
        display: block;
        position: relative;
        text-decoration: none;
        @include transition(background-color $transition-out-time);

        &:hover,
        &:focus {
            background-color: $color__grey--lighter;
            text-decoration: none;
            @include transition-duration($transition-out-time);

            .content-preview__title {
                text-decoration: underline;
            }

            .content-preview__feature-image {
                opacity: 0.8;

                @include transition-duration($transition-in-time);
            }
        }

        &:active {
            background: $color__blue--light;
            outline: none;
            @include transition(none);
        }
    }

    &__feature-image {
        display: block;
        margin: -21px -15px 14px;
        max-width: inherit;
        width: calc(100% + 30px);

        @include transition(opacity $transition-in-time);
    }

    &__article {
        border-bottom: 1px solid $color__grey--light;
        margin: 0 15px;
        padding: 21px 0 20px;

        &--top-border {
            border-top: 1px solid $color__grey--pale;
        }

        &--no-border {
            border: 0;
        }
    }

    &__title {
        color: $color__blue--base;
        margin: 1px 0 6px;
        text-decoration: none;
    }

    &__label {
        font-size: 12px;
        font-weight: 700;
        line-height: 14px;
        margin: 0 0 7px;
        text-transform: uppercase;
    }

    &__role {
        font-weight: 500;
        margin-bottom: 7px;
    }

    &__date {
        color: $color__grey--text;
        display: block;
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 7px;
        text-decoration: none;
    }

    &__meta {
        margin-bottom: 21px;
        position: relative;

        &--has-icon {
            padding-left: 45px;
        }
    }

    &__meta-right {
        float: right;
        margin-left: 10px;
    }

    &__summary {
        margin-bottom: 0;
    }

    &__image {
        background-color: $color__grey--light;
        float: right;
        height: 84px;
        margin: 0 0 10px 20px;
        width: 84px;
    }

    &__icon {
        left: 0;
        position: absolute;
        top: -12px;
    }
}

.content-preview--small {

    .content-preview__label,
    .content-preview__date {
        font-size: 12px !important;
    }

    .content-preview__title {
        font-size: 19px;
        line-height: 21px;
    }

    .content-preview__summary {
        font-size: 16px;
        line-height: 21px;
    }
}

// alternative colorway
.content-preview--dark {
    .content-preview__link {
        background-color: $color__grey--dark !important;
    }

    .content-preview__article {
        border-bottom: 0;
    }

    .content-preview__date,
    .content-preview__title,
    .content-preview__link {
        color: $color__white !important;
    }
}

@include media-query(medium-down) {
    .content-preview:not(:last-child) {
        margin-bottom: 35px;
    }
}

@include media-query(medium) {
    .content-preview {

        &__article {
            margin: 0;
            padding-left: 15px;
            padding-right: 15px;
        }

        &__label {
            font-size: 14px;
        }

        &__date {
            font-size: 14px;
        }

        &__image {
            height: 144px;
            width: 144px;
        }
    }

    .content-preview__article--has-image {
        .content-preview__wrapper {
            margin-right: 159px;
        }
    }

    .search-results__count {
        padding-left: 15px;
    }

    .search-results__list {
        margin-left: 0;
    }

    .content-preview--small {
        .content-preview__feature-image {
            height: 124px;
        }

        .content-preview__link {
            height: 283px;
            overflow: hidden;
        }
    }
}

@include media-query(large) {
    .content-preview--small {
        .content-preview__feature-image {
            height: 165px;
        }

        .content-preview__link {
            height: 324px;
        }
    }
}

@include media-query(xlarge) {
    .content-preview--small {
        .content-preview__feature-image {
            height: 202px;
        }

        .content-preview__link {
            height: 361px;
        }
    }
}
