/*------------------------------------*\
    #PERSON GRID
\*------------------------------------*/

h1 + .person-grid {
    margin-top: -28px;
}

.person-grid {
  /**
   * 1. With the margin bottom of the last .person of 56px, we get a total of 128px.
   * 2. This affects <li> elements that are used as grid-item and so should not have
   *    a margin.
   */
  margin-bottom: 56px; /* [1] */

  &__intro {
    margin-bottom: 56px;
  }

  &__people > li {
    margin-bottom: 0; /* [2] */
    margin-left: 0;
  }

  + .person-grid {
    border-top: 1px solid $color__grey--dark;
    margin-top: 63px;
    padding-top: 21px;
  }
}

@include media-query(tablet) {
    h1 + .person-grid {
        margin-top: -35px;
    }

    .person-grid {
        + .person-grid {
            padding-top: 42px;
        }
    }
}
