/*------------------------------------*\
    #SEARCH BOX
\*------------------------------------*/

$search-box__box-size: 56px;
$search-box__transition-duration: 0.4s;
$search-box__transition-timing: ease;

.search-box {
  position: relative;
  width: 100%;
  height: $search-box__box-size;
  margin-bottom: 21px;

  &__input[type=text] {
    background-color: $color__grey--lighter;
    border: 1px solid $color__grey--medium;
    border-right: 0;
    float: right;
    font-size: 17px;
    height: $search-box__box-size;
    margin-right: $search-box__box-size;
    padding-left: 20px;
    width: calc(100% - #{$search-box__box-size});

    &:focus {
      background: $color__input--focus;
      border: 1px solid $color__input--focus-outline;
      border-right: 0;
      outline: none;
    }
  }

  &__button {
    bottom: 0;
    display: block;
    font-size: $search-box__box-size * 0.5;
    height: $search-box__box-size;
    overflow: hidden;
    position: absolute;
    right: 0;
    width: $search-box__box-size;
    padding: 0;

    .icon {
      background-position: center;
      height: $search-box__box-size;
    }
  }

  &--mobile {
    left: 15px;
    height: auto;
    position: fixed;
    right: 15px;
    top: 104px;
    width: auto;
    z-index: 101;

    @include transition(margin-top $search-box__transition-duration $search-box__transition-timing);
  }

  &--large {
    margin: 35px 0 42px 0;
  }
}

@include media-query(tablet) {
  .search-box {

    &__input {
      @include transition(width $transition-in-time);

      &--expandable:focus {
        width: calc(136% - #{$search-box__box-size});         // OR the next line
        width: calc(100% + 101px - #{$search-box__box-size}); // ([full width] + [width of 1 column] - [button width])
      }

      &:focus {
        font-size: 22px;
        font-weight: 300;
      }
    }
  }
}
