/*------------------------------------*\
    #SIDEBAR BLOCK
\*------------------------------------*/

.sidebar-block {
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 70px;

  &:first-child {
    padding-top: 62px;
  }

  &__heading {
    font-size: 18px;
    line-height: 21px;
    top: 0;
  }

  &__list,
  > ul {
    margin-top: 0;
  }

  &__list-item,
  > ul > li {
    margin-bottom: 7px;
  }

  a {
    text-decoration: none;
  }

  ul li {
    font-size: 14px !important;
  }
}

@include media-query(tablet) {
  .sidebar-block {
    &__heading {
    line-height: 28px;
    }
  }
}

@include media-query(desktop) {
  .sidebar-block {
    font-size: 17px;

    &:first-child {
      border: 0;
      margin-top: 70px;
      padding: 0;
    }
  }
}
