.did-you-mean {
  font-size: 14px;

  &__list {
    display: inline-block;
    list-style-type: none;
    margin: 0;
  }

  &__item {
    display: inline-block;
    font-size: 14px;
    margin: 0;

    &:after {
      content: ',';
      margin-left: -2px;
    }

    &:last-child:after {
      content: none;
    }
  }
}

@include media-query(medium) {
  .did-you-mean {
    font-size: 16px;

    &__item {
      font-size: 16px;

      &:after {
        margin-left: -3px;
      }
    }
  }
}
