/*------------------------------------*\
    #DIRECTORATE LIST
\*------------------------------------*/

.directorate-list {
    &__item {
        margin-bottom: 28px;
        margin-left: 0;
    }

    &__link {
        text-decoration: none;
    }
}
