/*------------------------------------*\
    #BREADCRUMBS
\*------------------------------------*/

.breadcrumbs {
  color: $color__grey--text;
  font-size: 12px;
  padding-left: 0;
  margin: 0 0 28px;

  &__item {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;

    &:after {
        color: $color__grey--base;
        content: '\203a';
        font-size: 19px;
        font-weight: 700;
        line-height: 14px;
        padding: 0 3px 0 3px;
    }
  }

  &__link {
    text-decoration: none;
  }
}

.breadcrumbs__container {
  padding-top: 14px;
}

@include media-query(tablet) {
  .breadcrumbs {
      margin: -3px 0 4px 0;
      font-size: 13px;
  }

  .breadcrumbs__container {
    padding-top: 21px;
  }
}

@include media-query(desktop) {
  .breadcrumbs {
      font-size: 14px;
  }
}
