/*------------------------------------*\
    #TYPE
\*------------------------------------*/

$base-font-size: $inuit-base-font-size;
$base-line-height: $inuit-base-line-height;

// base
$base-font-size: $base-font-size;
$base-milli-size: 14px; // 0.875em;
$base-h1-size: 35px; // 2.1875em;
$base-h2-size: 22px; // 1.375em;
$base-h3-size: 18px; // 1.125em;
$base-h4-size: 15px; // 0.9375em
$base-leader-size: 19px; // 1.1875em;
$base-line-height: $base-line-height;

// tablet
$tablet-font-size: 18px;
//$tablet-milli-size: 16px;
$tablet-h1-size: 56px;
$tablet-h2-size: 28px;
$tablet-h3-size: 21px;
$tablet-h4-size: $tablet-font-size - 1;
$tablet-h5-size: 14px;
$tablet-note-size: 14px;
$tablet-leader-size: 22px;
