/*------------------------------------*\
    #COLORS
\*------------------------------------*/

// Using a BEM-like syntax for variable names.

$color__white: #ffffff;
$color__black: #222222;

$color__blue--lightest: #e8f0f6;
$color__blue--lighter: #d9effc;
$color__blue--base: #005eb8;
$color__blue--dark: #173163;

$color__grey--lighter: #f6f6f6;
$color__grey--light: #cccccc;
$color__grey--base: #888888;
$color__grey--text: #727272; // maximum for acceptable color contrast grey on white
$color__grey--dark: #333333;

// copy
$color__body: $color__grey--dark;
$color__body--h1: $color__black;
$color__body--h2: $color__black;
$color__body--h3: $color__black;

$color__placeholder: #727272;

// copy - links
$color__link--primary: $color__blue--base;
$color__link--hover: $color__blue--dark;
$color__link--active: $color__blue--dark;
$color__link--focus: $color__blue--dark;

$color__input--focus: $color__blue--lightest;
