/*------------------------------------*\
    #COLORS
\*------------------------------------*/

// Using a BEM-like syntax for variable names.

$color__white: #ffffff;
$color__black: #000000;

$color__white--selected: rgba(255,255,255, 0.65);

$color__blue--lightest: #e8f0f6;
$color__blue--lighter: #d9effc;
$color__blue--light: #609AD3;
$color__blue--medium: #3982C8;
$color__blue--base: #005eb8;
$color__blue--dark: #173163;

$color__green--base: #60a037;

$color__red--base: #d32205;

$color__blue--selected: rgba(26, 83, 128, 0.65); // #1a5380 @ 65% transparency;

$color__grey--lighter: #f8f8f8;
$color__grey--light: #ebebeb;
$color__grey--medium: #b3b3b3;
$color__grey--base: #888888;
$color__grey--text: #727272; // maximum for acceptable color contrast grey on white
$color__grey--dark: #333333;
$color__grey--darkest: #111111;


// Typography
$color__body: $color__grey--dark;
$color__body--h1: $color__black;
$color__body--h2: $color__black;
$color__body--h3: $color__black;
$color__body--h4: $color__black;
$color__body--h5: $color__black;

$color__placeholder: #727272;

// Links

$color__link--primary: $color__blue--base;
$color__link--hover: $color__blue--dark;
$color__link--active: $color__blue--dark;
$color__link--focus: $color__blue--dark;

$color__tap-highlight: transparent;

// Buttons

$color__button--primary: $color__blue--base;
$color__button--primary--hover: $color__blue--selected;
$color__button--primary--active: $color__blue--selected;
$color__button--primary--active-text: $color__white--selected;
$color__button--primary--focus: $color__blue--selected;

// Form elements

$color__input--focus: $color__blue--lighter;
$color__input--focus-outline: $color__blue--lighter;
$color__input--focus-outline: $color__blue--light;

$color__error: $color__red--base;
$color__error--background: scale-lightness($color__red--base, 80%);
$color__success: $color__green--base;
$color__success--background: scale-lightness($color__green--base, 80%);
