/*------------------------------------*\
    FIELD GROUP
\*------------------------------------*/

.#{$pl_prefix}field-group {
    margin-top: -21px;
    margin-bottom: 28px;

    &--inline {
        display: flex;
        flex-direction: row;
    }

    &--inline > div:not(:last-child) {
        margin-right: 25px;
    }
}


//specificity hack until DS version

.ds_field-group .checkbox-group__label {
    font-size: 16px;
    line-height: 28px;
}

.ds_field-group input:checked + label.fancy-radio:after {
    top: 10px;
}
