/*------------------------------------*\
    ACCORDION OVERRIDE
    adds "small" variant
\*------------------------------------*/

.ds_accordion-item--small {
    .ds_accordion-item__button, .ds_accordion-item__header-button {
        @include small-size;
        padding: 12px 36px 12px 8px;
    }

    .ds_accordion-item__indicator {
        right: 12px;
        top: 14px;

        @include media-query(medium) {
            right: 16px;
        }
    }
}

.ds_accordion.js-initialised .ds_accordion-item--small .ds_accordion-item__body {
    padding: 0 8px;
}

.ds_accordion-item--small .ds_accordion-item__body,
.ds_accordion.js-initialised .ds_accordion-item--small .ds_accordion-item__control:checked ~ .ds_accordion-item__body {
    padding-left: 8px;
    padding-right: 8px;

    @include ds_responsive-padding(2, top);
    @include ds_responsive-padding(3, bottom);
}

.ds_accordion.js-initialised .ds_accordion-item--small .ds_accordion-item__control:checked ~ .ds_accordion-item__header-button .ds_accordion-item__indicator {
    top: 20px;
}
