/*------------------------------------*\
    CARD OVERRIDES
\*------------------------------------*/

.ds_card {
    grid-template-rows: unset;
}

.ds_card:has(.ds_card__content-footer) {
    .ds_card__content {
        padding-bottom: 16px;
    }
}

.ds_card:has(.ds_card__media) {
    grid-template-rows: auto 1fr;
}
