table.datatable {
    text-align: right;
}

tr, th, td {
    &.cAlign {
        text-align: center;
    }

    &.lAlign {
        text-align: left;
    }

    &.rAlign {
        text-align: right;
    }
}

// override
.datatable tr:first-child td, th {
    text-align: right;
}
