/*------------------------------------*\
    #TYPE
\*------------------------------------*/

.text-center {
  text-align: center;
}

p, .p-alpha {
  margin: 0 0 21px 0;
}

@include media-query(tablet) {
  p, .p-alpha {
    margin: 0 0 28px 0;
  }
}
