/*------------------------------------*\
    RULES
    hard rules
\*------------------------------------*/
hr {
  border: 0;
  @include trailing-border($border-style: solid $color__grey--medium);

  position: relative;
  top: floor($base-line-height / -2);

  @include media-query(tablet) {
    top: 1px;
  }
}
