Package: gov-scot-repo
Version: [[version]]
Section: mygov
Priority: optional
Architecture: all
Maintainer: martin.ellis@gov.scot
Pre-Depends: gov-scot-libs
Depends: java17-runtime-headless
Description: Rubric Repository
>
