/*
The inevitable stylesheet for IE8
*/

.checkbox-group__input {
  left: 7px;
  position: relative;
  top: 10px;
}

input + label.fancy-checkbox:before {
  content: none;
}

.filters-container {
  margin-top: -48px;
}

.filters {
  margin-top: -8px;
}

.filters__button--clear {
  outline: none;
  top: 60px !important;
}

.pika-select {
  display: none;
}

.pika-label {
  padding-right: 4px;
}

.pika-label:after {
  content: none;
}

.pika-prev.is-disabled, .pika-next.is-disabled {
  background-image: none;
}

.date-entry__input {
  margin-right: 60px;
  width: 100%;
}
