@charset "utf-8";

/*------------------------------------*\
    #GOV.SCOT
\*------------------------------------*/


/**
 * CONTENTS
 *
 * SETTINGS
 * Default..............inuitcss default settings
 * Colors...............gov.scot color variables
 * Variables............gov.scot variables
 * Type
 * Responsive...........inuitcss responsive settings
 *
 * TOOLS
 * Animation
 * Functions............inuitcss default functions
 * Hit target
 * Mixins...............inuitcss default mixins
 * Mixins...............gov.scot mixins
 * Responsive...........inuitcss responsive tool
 * Widths...............inuitcss widths tool
 *
 * GENERIC
 * Normalize............inuitcss normalizer
 * Box-sizing...........inuitcss box-sizing defaults
 *
 * BASE
 * Page.................inuitcss defaults page-level styles (HTML element)
 * Buttons
 * Forms
 * Headings
 * Links
 * Lists
 * Page
 * Tables
 * Type
 *
 * OBJECTS
 * Layout...............inuitcss layout tool
 * Dividers
 * Helpers
 * Layers
 * Media
 * Overflows
 * Wrappers
 *
 * PLUGINS
 * Pikaday (plugin styles)
 * Pikaday (custom styles)
 *
 * COMPONENTS
 * Accordion
 * Article header
 * Article nav
 * A-Z list
 * Breadcrumbs
 * Carousel
 * Contact information
 * Content data
 * Document info
 * Expand
 * External links
 * Feedback
 * Full-width note
 * Item link
 * List controls
 * Main nav
 * Media-login
 * Multipage nav
 * News grid
 * Page subnav
 * Pagegroup
 * Pagination
 * Person
 * Person grid
 * Pull quote
 * Search box
 * Search result
 * Site brand
 * Site footer
 * Site header
 * Stat box
 * Sticky back to top
 * Title with prefix
 * Welcome
 *
 * TRUMPS
 * Widths...............inuitcss width helper classes
 * Widths-responsive....inuitcss responsive width helper classes
 * Font awesome
 */




/* SASS LIBRARIES
========================================================================== */
/*
 * Global SASS libraries/helpers from Compass's built in mixins to aid
 * compatibility and progressive enhancement methods.
 */
@import "compass";
@import "compass/typography";
@import "compass/utilities";
@import "compass/css3";

// inuitcss layout module is not ready. Use CSS Wizardry grids instead
$gutter: 30px;
$pull: true;
$push: true;

// same breakpoints as mygov.scot
$breakpoints: (
    'bigphone' '(min-width: 480px)',
    'tablet' '(min-width: 768px)',
    'desktop' '(min-width: 992px)',
    'hd' '(min-width: 1200px)',

    'bigphone-down' '(max-width: 479px)',
    'tablet-down' '(max-width: 767px)',
    'desktop-down' '(max-width: 991px)',
    'bigphone-to-tablet' '(min-width: 480px) and (max-width: 767px)',
    'tablet-to-desktop' '(min-width: 768px) and (max-width: 991px)',
    'desktop-to-hd' '(min-width: 992px) and (max-width: 1199px)',
    'hd-up' '(min-width: 1200px)'
);
$breakpoint-has-widths: ('bigphone', 'tablet', 'desktop', 'hd');
$breakpoint-has-push:   ('bigphone', 'tablet', 'desktop', 'hd');
$breakpoint-has-pull:   ('bigphone', 'tablet', 'desktop', 'hd');

@import "utilities/csswizardry-grids.scss";




/**
 * SETTINGS
 */
$inuit-base-font-size: 15px;
$inuit-base-line-height: 24px;
@import "../../node_modules/inuit-defaults/settings.defaults";
@import "settings/settings.colors";
@import "settings/settings.variables";
@import "settings/settings.type";
@import "../../node_modules/inuit-responsive-settings/settings.responsive";




/**
 * TOOLS
 */
@import "../../node_modules/inuit-functions/tools.functions";
@import "../../node_modules/inuit-mixins/tools.mixins";
$inuit-use-fractions: false;
@import "../../node_modules/inuit-tools-widths/tools.widths";
@import "tools/tools.animation";
@import "tools/tools.mixins";
@import "tools/tools.hit-target";
@import "../../node_modules/inuit-responsive-tools/tools.responsive";

@import "tools/tools.placeholder-selectors";



/**
 * GENERIC
 */
@import "../../node_modules/inuit-normalize/generic.normalize";
// inuit generic reset?
@import "../../node_modules/inuit-box-sizing/generic.box-sizing";
// inuit generic shared?




/**
 * BASE
 */
@import "../../node_modules/inuit-page/base.page";
@import "base/base.buttons";
@import "base/base.forms";
@import "base/base.headings";
@import "base/base.icons";
@import "base/base.links";
@import "base/base.lists";
@import "base/base.page";
@import "base/base.rules";
@import "base/base.tables";
@import "base/base.type";




/**
 * OBJECTS
 */
@import "../../node_modules/inuit-layout/objects.layout";
@import "objects/object.dividers";
@import "objects/object.helpers";
@import "objects/object.layers";
@import "objects/object.media";
@import "objects/object.overflows";
@import "objects/object.wrappers";




/**
 * PLUGINS
 */
@import "../../node_modules/pikaday/scss/pikaday.scss";
@import "components/plugin.pikaday";




/**
 * COMPONENTS
 */
@import "components/component.accordion";
@import "components/component.expand";

@import "components/component.article-header";
@import "components/component.article-nav";
@import "components/component.az-list";
@import "components/component.breadcrumbs";
@import "components/component.carousel";
@import "components/component.contact-information";
@import "components/component.content-data";
@import "components/component.document-info";
@import "components/component.external-links";
@import "components/component.feedback";
@import "components/component.full-width-note";
@import "components/component.item-link";
@import "components/component.list-controls";
@import "components/component.main-nav";
@import "components/component.media-login";
@import "components/component.multipage-nav";
@import "components/component.news-grid";
@import "components/component.page-subnav";
@import "components/component.pagegroup";
@import "components/component.pagination";
@import "components/component.person";
@import "components/component.person-grid";
@import "components/component.publication-info";
@import "components/component.pull-quote";
@import "components/component.search-box";
@import "components/component.search-result";
@import "components/component.site-brand";
@import "components/component.site-footer";
@import "components/component.site-header";
@import "components/component.stat-box";
@import "components/component.sticky-back-to-top";
@import "components/component.sticky-document-info";
@import "components/component.title-with-prefix";
@import "components/component.welcome";
@import "components/informational-notes";


/**
 * TRUMPS
 */
@import "../../node_modules/inuit-widths/trumps.widths";
@import "../../node_modules/inuit-responsive-widths/trumps.widths-responsive";
@import "trumps/trump.display-toggle";
@import "trumps/trump.fontawesome";
