@charset "utf-8";

/*------------------------------------*\
    #GOV.SCOT
\*------------------------------------*/


/**
 * CONTENTS
 *
 * SETTINGS
 * Default..............inuitcss default settings
 * Colors...............gov.scot color variables
 * Variables............gov.scot variables
 * Type
 * Responsive...........inuitcss responsive settings
 *
 * TOOLS
 * Functions............inuitcss default functions
 * Mixins...............inuitcss default mixins
 * Widths...............inuitcss widths tool
 * Mixins...............gov.scot mixins
 * Responsive...........inuitcss responsive tool
 *
 * GENERIC
 * Normalize............inuitcss normalizer
 * Box-sizing...........inuitcss box-sizing defaults
 *
 * BASE
 * Page.................inuitcss defaults page-level styles (HTML element)
 * Headings
 * Links
 * Page
 * Type
 * Forms
 * Buttons
 * Lists
 *
 * OBJECTS
 * Layout...............inuitcss layout tool
 * Wrappers
 * Helpers
 * Layers
 *
 * COMPONENTS
 * Breadcrumbs
 * Contents list
 * Main nav
 * Search box
 * Site header
 * Site footer
 * Article header
 * Stat box
 * Title with prefix
 * Person
 * Pagination
 * Search result
 * Site brand
 *
 * TRUMPS
 * Widths...............inuitcss width helper classes
 * Widths-responsive....inuitcss responsive width helper classes
 */




/* SASS LIBRARIES
========================================================================== */
/*
 * Global SASS libraries/helpers from Compass's built in mixins to aid
 * compatibility and progressive enhancement methods.
 */
@import "compass";
@import "compass/typography";
@import "compass/utilities";
@import "compass/css3";

// inuitcss layout module is not ready. Use CSS Wizardry grids instead
$gutter: 30px;
$pull: true;
$push: true;

// same breakpoints as mygov.scot
$breakpoints: (
    'bigphone' '(min-width: 480px)',
    'tablet' '(min-width: 768px)',
    'desktop' '(min-width: 992px)',
    'hd' '(min-width: 1200px)',

    'tablet-down' '(max-width: 767px)',
    'tablet-to-desktop' '(min-width: 768px) and (max-width: 991px)',
    'desktop-to-hd' '(min-width: 992px) and (max-width: 1199px)',
    'hd-up' '(min-width: 1200px)'
);
$breakpoint-has-widths: ('bigphone', 'tablet', 'desktop', 'hd');
$breakpoint-has-push:   ('bigphone', 'tablet', 'desktop', 'hd');
$breakpoint-has-pull:   ('bigphone', 'tablet', 'desktop', 'hd');

@import "utilities/csswizardry-grids.scss";




/**
 * SETTINGS
 */
$inuit-base-font-size: 15px;
$inuit-base-line-height: 24px;
@import "../../bower_components/inuit-defaults/settings.defaults";
@import "settings/settings.colors";
@import "settings/settings.variables";
@import "settings/settings.type";
@import "../../bower_components/inuit-responsive-settings/settings.responsive";




/**
 * TOOLS
 */
@import "../../bower_components/inuit-functions/tools.functions";
@import "../../bower_components/inuit-mixins/tools.mixins";
$inuit-use-fractions: false;
@import "../../bower_components/inuit-tools-widths/tools.widths";
@import "tools/tools.mixins";
@import "../../bower_components/inuit-responsive-tools/tools.responsive";




/**
 * GENERIC
 */
@import "../../bower_components/inuit-normalize/generic.normalize";
// inuit generic reset?
@import "../../bower_components/inuit-box-sizing/generic.box-sizing";
// inuit generic shared?




/**
 * BASE
 */
@import "../../bower_components/inuit-page/base.page";
@import "base/base.headings";
@import "base/base.links";
@import "base/base.page";
@import "base/base.type";
@import "base/base.forms";
@import "base/base.buttons";
@import "base/base.lists";




/**
 * OBJECTS
 */
@import "../../bower_components/inuit-layout/objects.layout";
@import "objects/object.wrappers";
@import "objects/object.helpers";
@import "objects/object.layers";




/**
 * COMPONENTS
 */
@import "components/component.breadcrumbs";
@import "components/component.contents-list";
@import "components/component.main-nav";
@import "components/component.search-box";
@import "components/component.site-header";
@import "components/component.site-footer";
@import "components/component.article-header";
@import "components/component.stat-box";
@import "components/component.title-with-prefix";
@import "components/component.person";
@import "components/component.pagination";
@import "components/component.search-result";
@import "components/component.site-brand";




/**
 * TRUMPS
 */
@import "../../bower_components/inuit-widths/trumps.widths";
@import "../../bower_components/inuit-widths-responsive/trumps.widths-responsive";
