$pl-prefix: "ds_";

$colour__link--disabled:             $colour__text !default;
$colour__link--disabled__background: $colour__grey--light !default;

$colour__brand: $colour__blue--base;

@mixin layout($gutter: $grid-gap-x) {
  margin-right: #{$gutter * -1};
  overflow: hidden;

  > *[class] {
      margin-right: $gutter;
  }

  @supports (display: grid) {
      display: grid;
      grid-gap: 0 $gutter;
      margin-right: 0;
      overflow: visible;

      > *[class] {
          margin-left: 0;
          margin-right: 0;
          width: auto;
      }
  }
}

@mixin colwidth($columns: 1, $total: 12, $gutter: $grid-gap-x) {
  width: calc(100% * #{$columns/$total} - #{$gutter});
}

@mixin colpush($columns: 1, $total: 12) {
  margin-left: calc(100% * #{$columns/$total});
}

@mixin colpull($columns: 1, $total: 12) {
  margin-left: calc(100% * #{$columns/$total} * -1);
}

/**
 * Mixin to enforce consistency on block-style links, e.g. search results,
 * category items, etc
 */
 @mixin DSblocklink ($link-selector: null, $display: block) {
  display: $display;
  position: relative;
  transition: background-color $transition-out-time, outline-color $transition-out-time;
  z-index: 1;

  outline: 0 !important;

  &:focus {
      background-color: gold;
      box-shadow: inset #{$blocklink__outline-width * -1} #{$blocklink__outline-width + $link__border-width * -1} $colour__link--focus__shadow, inset $blocklink__outline-width #{$blocklink__outline-width + $link__border-width * -1} $colour__link--focus__shadow;
  }

  &:hover:not(:focus) {
      background-color: $colour__blocklink-bg--hover;
  }

  @if $link-selector {
      &:hover:not(:focus) {
          background: transparent;
      }

      #{$link-selector} {
          &::after {
              content: "";
              height: 100%;
              left: 0px;
              position: absolute;
              top: 0px;
              width: 100%;
              z-index: 0;

              transition: background-color $transition-in-time;
          }

          &:focus {
              &::after {
                  transition-duration: 0s;
              }
          }

          &:focus:hover {
              text-decoration: none;
          }
      }

      // apply the background colour in browsers that support blend modes, so we don't obscure the text
      @supports(mix-blend-mode: darken) {
          #{$link-selector} {
              outline: 0;

              &::after {
                  mix-blend-mode: darken;
              }

              &:hover {
                  &::after {
                      background-color: $colour__blocklink-bg--hover;
                  }
              }

              &:focus {
                  background-color: transparent;
                  box-shadow: none;
                  text-decoration: underline;
              }

              &:focus {
                  &::after {
                      background-color: gold;
                      box-shadow: inset #{$blocklink__outline-width * -1} #{$blocklink__outline-width + $link__border-width * -1} $colour__link--focus__shadow, inset $blocklink__outline-width #{$blocklink__outline-width + $link__border-width * -1} $colour__link--focus__shadow;
                  }
              }

              &:focus:hover {
                  text-decoration: underline;
              }
          }
      }
  }
}



/*------------------------------------*\
    DATE PICKER
\*------------------------------------*/




.#{$pl-prefix}datepicker {
  position: relative;

  &__dialog {
      background-color: $colour__white;
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
      display: none;
      padding: 8px;
      outline: 1px solid $colour__border;
      outline-offset: -1px;
      position: absolute;
      top: 0;
      transition: background-color 0.2s, outline-color 0.2s;
      width: 296px;
      z-index: 2;

      &__header {
          text-align: center;

          > :nth-child(1) {
              position: absolute;
              left: 8px;
              top: 8px;
          }

          > :nth-child(3) {
              position: absolute;
              right: 8px;
              top: 8px;
          }
      }

      &__title {
          @include small-size;
          margin: 0 !important;
          text-transform: uppercase;
      }

      &__navbuttons {
          button {
              background-color: transparent;
              color: $colour__text !important;
              font-weight: $normal;
              height: 40px;
              margin: 0;
              width:  32px;

              @include DSblocklink(null, inline-block);
          }
      }

      &__table {

          tbody:focus-within {
              outline: 2px solid gold;
          }

          td {
              border: 0;
              margin: 0;
              outline: 0;
              padding: 0;
          }

          th {
              @include small-size;
              color: $colour__text--secondary;
              font-weight: $normal;
          }

          button {
              background-color: transparent;
              color: $colour__text;
              font-weight: $normal;
              height: 40px;
              margin: 0;
              padding: 0;
              width: 40px;

              @include blocklink;

              &:focus {
                  background: gold;
              }

              &[disabled="true"] {
                  background-color: $colour__link--disabled__background;
                  color: $colour__link--disabled;
              }

              &.#{$pl-prefix}datepicker__current {
                  $dp-current-outline-width: 2px;
                  outline: $dp-current-outline-width solid $colour__border--dark !important;
                  outline-offset: #{$dp-current-outline-width * -1};
              }

              &.#{$pl-prefix}datepicker__current[tabindex="-1"] {
                  background: $colour__grey--lighter;
                  color: currentColor;
              }

              &.#{$pl-prefix}datepicker__today {
                  font-weight: $bold;

                  &::after {
                      background-color: currentColor;
                      border-radius: 4px;
                      bottom: 6px;
                      content: '';
                      height: 4px;
                      left: 50%;
                      margin-left: -2px;
                      position: absolute;
                      width: 4px;
                  }
              }

              // &[tabindex="0"]:not(:focus) {
              //
              // }

              &.#{$pl-prefix}selected:not(:focus) {
                  background-color: $colour__text;
                  color: $colour__white;
              }
          }
      }

      &__table-caption {
          @include tiny-size;
          caption-side: bottom;
          margin-top: 8px;
      }

      &__buttongroup {
          @include layout(8px);
          overflow: visible;

          // non-grid
          button {
              @include colwidth(1,2,8px);
              display: block;
              float: left;
              margin: 0;
          }

          @supports (display: grid) {
              grid-template-columns: 1fr 1fr;
          }
      }
  }
}

@include media-query(medium-down) {
  .#{$pl-prefix}datepicker {

      &__dialog {
          position: static;

          &__header {
              position: relative;

              > :nth-child(1) {
                  left: 0;
                  top: -2px;
              }

              > :nth-child(3) {
                  right: 0;
                  top: -2px;
              }
          }
      }
  }
}

.ds_datepicker__dialog__table {
  margin: 0;
}

.ds_datepicker__dialog__table td {
  background: transparent !important;
  border: 0 !important;
  padding: 0 !important;
}

.ds_datepicker__dialog__table button:hover:not(.ds_selected) {
  color: currentColor;
}




/*------------------------------------*\
    BUTTONS
\*------------------------------------*/

$button__border-width: 2px !default;
$button__outline-width: 3px !default;
$button__height: 48px !default;
$button__height--small: 40px !default;
$button__padding--x: 16px !default;
$link__border-width: 3px;

$button__secondary-border-width: 2px !default;
$button__secondary-border-width--active: 3px !default;




.#{$pl-prefix}button {

    background-color: $color__blue--base;
    border: 0;
    border-radius: 0;
    color: $color__white;
    display: inline-block;
    font-size: $base-font-size + 1px;
    font-weight: 700;
    line-height: 21px;
    height: 49px;
    outline-width: 0;
    padding: 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    vertical-align: top;

    transition: outline-color $transition-out-time, background-color $transition-out-time, color $transition-out-time;

    &:focus {
        color: $color__white;
        background-color: $color__blue--dark;
    }

    &:hover {
        transition-duration: $transition-in-time;
        color: $color__white;
    }

    &:active {
        color: rgba(red($color__white), green($color__white), blue($color__white), 0.65);
        outline: 0;

        transition-duration: 0s;
    }

    &[disabled] {
        background: $color__grey--medium;
        color: $color__grey--lighter;
        opacity: 1;
        pointer-events: none;
    }

    &:hover {
        background-color: $color__blue--dark;
    }

    &:active {
        background-color: $color__blue--dark;
    }


    &--cancel {
        background-color: $color__white;
        border: $button__secondary-border-width solid $color__body;
        color: $color__body;
        //padding: ($button__padding-y - $button__secondary-border-width) ($button__padding-x - $button__secondary-border-width);

        &:hover,
        &:active {
            border-color: $color__blue--dark;
            border-width: $button__secondary-border-width--active;
            color: $color__blue--dark !important;
            //padding: ($button__padding-y - $button__secondary-border-width--active) ($button__padding-x - $button__secondary-border-width--active);
        }

        &:focus {
            color: $color__body;
            background-color: gold;
        }

        &:hover {
            background-color: $color__white;
            color: $color__blue--dark;
        }

        &:active {
            background-color: $color__blue--light;
        }
    }

    // ICONS ON BUTTONS
    .#{$pl-prefix}icon {
        pointer-events: none;
    }
}



// ICON-ONLY BUTTONS
.#{$pl-prefix}button--icon-only {
    height: $button__height;
    padding: 10px 10px 11px 11px;
    width: $button__height;

    &.#{$pl-prefix}button--small {
        height: $button__height--small;
        padding: 10px;
        width: $button__height--small;
    }
}
