.ds_site-header {
    .ds_site-branding__logo-image {
        max-width: 100%;
    }

    .ds_site-branding__logo {
        display: block;
    }

    .ds_site-header__controls {
        justify-self: end;
    }
}

@include ds_media-query(medium-down) {
    .ds_site-header .ds_site-header__content {
        grid-template-columns: auto auto;
    }
}
