/*------------------------------------*\
    #PERSON
\*------------------------------------*/

.#{$site-prefix}person {
    @include ds_small-size;
    @include ds_responsive-margin(6, bottom);

    line-height: 24px;

    &__name {
        @include ds_h4-style;
    }

    &__link {
        display: block;

        &:focus {
            outline: 2px solid $ds_colour__link--focus__outline;
            box-shadow: -2px 5px 0 $ds_colour__link--focus__shadow, 2px 5px 0 $ds_colour__link--focus__shadow;
        }

        &:hover:not(:focus) {
            outline-width: 0;
        }

        &::after {
            background-color: $ds_colour__black;
            bottom: 0;
            content: '';
            left: 0;
            opacity: 0;
            position: absolute;
            right: 0;
            top: 0;
            transition: opacity $transition-in-time;
        }
    }

    &__link:hover &__image-container::after {
        opacity: 0.2;
    }

    &__image-container {
        @include ds_responsive-margin(2, bottom);

        background-color: $ds_colour__white;
        position: relative;
    }

    &__image {
        aspect-ratio: 1 / 1;
        display: block;
        height: auto;
        width: 100%;
        object-fit: cover;
    }

    &__text-container {
        width: 100%;
    }

    &--flex {
        display: flex;

        .#{$site-prefix}person__image-container {
            flex: none;
            margin-right: 32px;
            width: calc(33% - 16px);
        }

        @include ds_media-query(medium) {
            display: block;

            .#{$site-prefix}person__image-container {
                margin-right: 0;
                width: auto;
            }
        }
    }
}

@include ds_media-query(medium-down) {
    .gov_person {
        &__image-container--centered-mobile {
            margin: 0 auto;
            max-width: 256px;
        }
    }
}
