/*------------------------------------*\
    CONTENT BLOCK
    // used on homepage and topic pages
\*------------------------------------*/

$content-block-top-margin: 80px;
$content-block-highlight-padding: 16px;

.#{$site-prefix}content-block {
    @include ds_small-size;

    line-height: 24px;
    position: relative;

    &--highlight {
        background-color: $ds_colour__grey--lighter;
        margin-top: #{$content-block-highlight-padding * -1};
        padding: $content-block-highlight-padding;
    }

    &__title {
        display: inline-block;
        position: relative;
        padding-top: 8px;

        &::before {
            background-color: $ds_colour__brand;
            content: '';
            height: 4px;
            position: absolute;
            top: 0;
            width: 100%;
        }

        &--consultations,
        &--publications {
            &::after {
                background: url() no-repeat center top transparent;
                content: '';
                margin-left: 16px;
                position: absolute;
                top: 0;
            }
        }

        &--publications::after {
            background-image: url(../../../../assets/images/icons/publication_tablet.png);
            height: 43px;
            width: 30px;
        }

        &--consultations::after {
            background-image: url(../../../../assets/images/icons/consultation_tablet.png);
            height: 42px;
            width: 52px;
        }
    }

    &__title-link {
        color: currentColor;
    }

    &__subtitle {
        font-size: inherit;
    }
}

@include ds_media-query(large) {
    .#{$site-prefix}content-block {
        &__title {
            &--publications::after {
                background-image: url(../../../../assets/images/icons/publication_desktop.png);
                height: 46px;
                width: 32px;
            }

            &--consultations::after {
                background-image: url(../../../../assets/images/icons/consultation_desktop.png);
                height: 48px;
                width: 58px;
            }
        }
    }
}

@media only screen and (min-device-pixel-ratio: 1.3),
    only screen and (min-resolution: 1.3dppx) {

    .#{$site-prefix}content-block__title {
        &--publications::after {
            background-image: url('../../../../assets/images/icons/publication_tablet_@2x.png');
            background-size: 30px 43px;
        }

        &--consultations::after {
            background-image: url('../../../../assets/images/icons/consultation_tablet_@2x.png');
            background-size: 52px 42px;
        }

        @include ds_media-query(medium) {
            &--publications::after {
                background-image: url('../../../../assets/images/icons/publication_desktop_@2x.png');
                background-size: 32px 46px;
            }

            &--consultations::after {
                background-image: url('../../../../assets/images/icons/consultation_desktop_@2x.png');
                background-size: 58px 48px;
            }
        }
    }
}
