/*------------------------------------*\
    HOMEPAGE HERO PANEL
\*------------------------------------*/

.#{$site-prefix}hero-item {
    @include ds_responsive-margin(4, bottom);

    &__figure {
        background: $ds_colour__text;
        margin-bottom: 0;
        overflow: hidden;
        padding-bottom: calc(900%/16);
        pointer-events: none;
        position: relative;
        z-index: 1;
    }

    &__image {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;

        object-fit: cover;
        width: 100%;
    }

    &__title {
        margin-top: 0;
    }

    &__media {
        padding-bottom: 16px;
    }

    p, ul, ol {
        margin-bottom: 16px;
    }
}

.#{$site-prefix}homepage-hero__sub {
    h2 {
        @include ds_h3-style;
    }

    .#{$site-prefix}hero-item__content {
        @include ds_small-size;
        line-height: 24px;
    }

    > :last-child {
        margin-bottom: 0;
    }
}

@include ds_media-query(large) {
    .#{$site-prefix}homepage-hero__main {
        > :last-child {
            margin-bottom: 0;
        }
    }
}

@include ds_media-query(xlarge) {
    .#{$site-prefix}homepage-hero:not(.#{$site-prefix}homepage-hero--1) {
        .#{$site-prefix}homepage-hero__main {
            position: relative;

            &::before {
                background-color: $ds_colour__border;
                bottom: 0;
                content: '';
                position: absolute;
                right: -65px;
                top: 0;
                width: 1px;
            }
        }
    }

    .#{$site-prefix}homepage-hero--4 .#{$site-prefix}homepage-hero__sub {
        .#{$site-prefix}hero-item:not(:last-child) {
            border-bottom: 1px solid $ds_colour__border;
            padding-bottom: 16px;
        }
    }
}




// layout
.#{$site-prefix}homepage-hero {
    @include ds_layout();
    @include ds_responsive-margin(8, bottom);

    @include ds_media-query(large) {
        &--2 &__main,
        &--3 &__main {
            @include ds_colwidth(8);
            float: left;
        }

        &--2 &__sub,
        &--3 &__sub {
            @include ds_colwidth(4);
            float: left;
        }

        &--4 &__main {
            @include ds_colwidth(7);
            float: left;
        }

        &--4 &__sub {
            @include ds_colwidth(5);
            float: left;
        }
    }

    @include ds_media-query(xlarge) {
        &--2 &__main,
        &--3 &__main {
            @include ds_colwidth(7);
        }

        &--2 &__sub,
        &--3 &__sub {
            @include ds_colwidth(4);
            @include ds_colpush(1);
        }

        &--4 &__main {
            @include ds_colwidth(6);
        }

        &--4 &__sub {
            @include ds_colwidth(5);
            @include ds_colpush(1);
        }
    }
}

.#{$site-prefix}hero-item {
    @include ds_layout();
}




/*  ONE ITEM  */
.#{$site-prefix}homepage-hero--1 .#{$site-prefix}homepage-hero__main {
    @include ds_media-query(large) {
        .#{$site-prefix}hero-item {
            &__media {
                @include ds_colwidth(8);
                float: left;
            }

            &__content {
                @include ds_colwidth(4);
                float: left;
            }
        }
    }
}




/*  TWO ITEMS  */
.#{$site-prefix}homepage-hero--2 {
    .#{$site-prefix}homepage-hero__sub .#{$site-prefix}hero-item {
        &__media {
            @include ds_colwidth(4);
            float: left;
        }

        &__content {
            @include ds_colwidth(8);
            float: left;
            margin-left: -16px;
        }

        @include ds_media-query(large) {
            &__media {
                @include ds_colwidth(12);
                float: none;
            }

            &__content {
                @include ds_colwidth(12);
                float: none;
                margin-left: 0;
            }
        }

        @include ds_media-query(xlarge) {
            &__media {
                @include ds_colwidth(9);
            }

            &__content {
                @include ds_colwidth(12);
            }
        }
    }
}




/*  THREE ITEMS  */
.#{$site-prefix}homepage-hero--3 {
    .#{$site-prefix}homepage-hero__sub .#{$site-prefix}hero-item {
        &__media {
            @include ds_colwidth(4);
            float: left;
        }

        &__content {
            @include ds_colwidth(8);
            float: left;
            margin-left: -16px;
        }

        @include ds_media-query(large) {
            &__media {
                @include ds_colwidth(9);
                float: none;
            }

            &__content {
                @include ds_colwidth(12);
                float: none;
                margin-left: 0;
            }
        }

        @include ds_media-query(xlarge) {
            &__media {
                @include ds_colwidth(3, 4);
            }

            &__content {
                @include ds_colwidth(12);
            }
        }
    }
}




/*  FOUR ITEMS  */
.#{$site-prefix}homepage-hero--4 {
    .#{$site-prefix}homepage-hero__sub .#{$site-prefix}hero-item {
        &__media {
            @include ds_colwidth(4);
            float: left;
        }

        &__content {
            @include ds_colwidth(8);
            float: left;
            margin-left: -16px;
        }

        @include ds_media-query(large) {
            &__media {
                @include ds_colwidth(2, 5);
            }

            &__content {
                @include ds_colwidth(3, 5);
            }
        }
    }
}




@supports (display: grid) {
    // need to override some fallbacks
    .#{$site-prefix}homepage-hero__main,
    .#{$site-prefix}homepage-hero__sub,
    .#{$site-prefix}hero-item__content,
    .#{$site-prefix}hero-item__media {
        float: none !important;
        margin: 0 !important;
        width: auto !important;
    }

    /* GRID VERSION */
    .#{$site-prefix}homepage-hero {
        &__main {
            grid-area: m;
        }

        &__sub {
            grid-area: s;
        }

        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: 'm m m m m m' 's s s s s s';

        @include ds_media-query(large) {
            grid-template-columns: repeat(12, 1fr);
            grid-template-areas: 'm m m m m m m m s s s s';

            &--1 {
                grid-template-areas:
                    'm m m m m m m m m m m m'
                    's s s s s s s s s s s s';
            }

            &--4 {
                grid-template-areas:
                    'm m m m m m m s s s s s';
            }
        }

        @include ds_media-query(xlarge) {
            grid-template-areas: 'm m m m m m m . s s s s';

            &--1 {
                grid-template-areas:
                    'm m m m m m m m m m m m'
                    's s s s s s s s s s s s';
            }

            &--4 {
                grid-template-areas:
                    'm m m m m m . s s s s s';
            }
        }

        .#{$site-prefix}hero-item {
            &__media {
                grid-area: m;
            }

            &__content {
                grid-area: c;
            }
        }

        &__main .#{$site-prefix}hero-item {
            grid-template-columns: repeat(6, 1fr);
            grid-template-areas: 'm m m m m m' 'c c c c c c';
        }

        &__sub .#{$site-prefix}hero-item {
            grid-template-columns: repeat(6, 1fr);
            grid-template-areas: 'm m c c c c';
            grid-gap: 0 16px;
        }

        &--2 &__sub .#{$site-prefix}hero-item,
        &--3 &__sub .#{$site-prefix}hero-item {
            grid-gap: 0 32px;
        }

        @include ds_media-query(large) {
            &--1 &__main .#{$site-prefix}hero-item {
                grid-template-columns: repeat(12, 1fr);
                grid-template-areas: 'm m m m m m m m c c c c';
            }

            &--2 &__sub .#{$site-prefix}hero-item {
                grid-template-columns: repeat(4, 1fr);
                grid-template-areas: 'm m m m' 'c c c c';
            }

            &--3 &__sub .#{$site-prefix}hero-item {
                grid-template-columns: repeat(4, 1fr);
                grid-template-areas: 'm m m .' 'c c c c';
            }

            &--4 &__sub .#{$site-prefix}hero-item {
                grid-template-columns: repeat(5, 1fr);
                grid-template-areas: 'm m c c c';
            }
        }

        @include ds_media-query(xlarge) {
            &--1 .#{$site-prefix}hero-item {
                grid-template-columns: repeat(12, 1fr);
                grid-template-areas: 'm m m m m m . c c c c c';
            }

            &--2 &__sub .#{$site-prefix}hero-item {
                grid-template-areas: 'm m m .' 'c c c c';
            }

            &--3 &__sub .#{$site-prefix}hero-item {
                grid-template-columns: repeat(4, 1fr);
                grid-template-areas: 'm m m .' 'c c c c';
            }

            &--4 &__sub .#{$site-prefix}hero-item {
                grid-template-columns: repeat(5, 1fr);
                grid-template-areas: 'm m c c c';
            }
        }
    }
}
