/*------------------------------------*\
    DOCUMENT BANNER
    /// used on topic, issue, featured role
\*------------------------------------*/

.gov_feature-header {
    @include ds_responsive-margin(8, bottom);

    background-color: #ebebeb;

    &__title {
        @include ds_h1-style;
        @include ds_responsive-margin(1, bottom);

        font-weight: 300;
    }

    &__content {
        padding: 32px 16px;
        position: relative;
        z-index: 2;

        > :last-child {
            margin-bottom: 0;
        }

        @include media-query(medium) {
            padding-left: 24px;
        }

        @include media-query(large) {
            padding-left: 48px;
        }
    }

    &__media {
        position: relative;
        z-index: 1;

        &--full > img {
            display: block;
            height: auto;
            width: 100%;
        }
    }

    @include media-query(medium) {
        align-items: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 32px;

        &__content {
            grid-area: 1/1/2/2;
        }

        &__media {
            grid-area: 1/2/2/3;
        }

        &__media--full {
            grid-area: 1/1/2/3;
        }
    }

    &--issue,
    &--topic {
        background-color: transparent;
    }

    &--issue &__media,
    &--topic &__media {
        margin: 0 -16px 8px -16px;

        @include media-query(medium) {
            margin: 0;
        }
    }

    &--issue &__content,
    &--topic &__content {
        @include media-query(medium-down) {
            padding: 0;
        }
    }

    &--issue &__content {
        align-self: start;
    }

    &--issue &__content &__title {
        background: $ds_colour__white;
        display: inline-block;
        padding: 0 16px 8px 0;
    }
}




// ie
.gov_feature-header {
    @include media-query(medium) {
        display: -ms-grid;
        -ms-grid-columns: 1fr 1fr;

        &__content {
            -ms-grid-column: 1;
            -ms-grid-row-align: center;
            margin-right: 16px;
        }

        &__media {
            -ms-grid-column: 2;
        }

        &__media--full {
            -ms-grid-column: 1;
            -ms-grid-column-span: 2;
        }

        &--issue &__content {
            -ms-grid-row-align: start;
            padding: 0;
        }
    }
}
