/*------------------------------------*\
    WELCOME COMPONENT
\*------------------------------------*/

.welcome {
  margin: 21px 0 14px;

  &__intro {
    color: $color__grey--text;
    font-size: 16px;
    font-weight: 300;
    line-height: 21px;
  }

  &__search-box {
    margin: 0;
  }
}


@include media-query(medium) {
  .welcome {
    margin-bottom: 28px;

    &__intro {
      padding-left: 20px;
    }
  }
}

@include media-query(large) {
  .welcome {
    &__intro {
      font-size: 21px;
      line-height: 28px;
      padding-left: 15px;
    }
  }
}