/*------------------------------------*\
    LATEST BLOCKS
\*------------------------------------*/

.#{$site-prefix}latest-feeds {
  @include ds_layout();
  @include ds_block-margins;

  @supports (display: grid) {
    > .#{$site-prefix}latest-feed {
      width: auto !important;
    }
  }

  @include ds_media-query(medium) {
    > .#{$site-prefix}latest-feed {
      float: left;
      @include ds_colwidth(4);
    }

    > .#{$site-prefix}latest-feed--horizontal {
        clear: left;
        @include ds_colwidth(12);
    }

    @supports (display: grid) {
      grid-template-columns: repeat(3, 1fr);

      > .#{$site-prefix}latest-feed--horizontal {
        grid-column-start: 1;
        grid-column-end: 4;
      }
    }
  }
}

.#{$site-prefix}latest-feed {
  position: relative;

  @supports(display: grid) {
    display: grid;
    grid-gap: 32px;
    grid-template-rows: 1fr auto;
  }

  &__see-all {
    @include ds_blocklink;

    border-bottom: 1px solid currentColor;
    display: inline-block;
    padding: 8px 8px 8px 40px;
    position: relative;
    text-decoration: none;

    .ds_icon {
      left: 4px;
      position: absolute;
      top: 6px;
    }
  }
}

.#{$site-prefix}latest-feed--horizontal .#{$site-prefix}latest-feed__items {
  @include ds_layout();

  @include ds_media-query(medium) {
    > .#{$site-prefix}latest-feed__item {
      float: left;
      @include ds_colwidth(4);

      margin-bottom: 0;
    }

    @supports(display: grid) {
      grid-template-columns: repeat(3, 1fr);

      > .#{$site-prefix}latest-feed__item {
        width: auto !important;
      }
    }
  }
}

.#{$site-prefix}latest-feed__item {
  @include ds_last-child-no-margin;

  margin-bottom: 16px;
  position: relative;

  &__title {
    @include ds_h4-style;
    margin-top: 0 !important;
  }

  &__topics {
    @include ds_tiny-size;
    color: $ds_colour__text--secondary;
    font-style: italic;
    line-height: 24px;
    list-style-type: none;
    margin: 12px 0;

    li {
      display: inline;
      margin-left: 0;

      &:not(:last-child) {
        &:after {
          content: ',';
        }
      }
    }
  }

  &__date {
    @include ds_tiny-size;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 8px;

    &--bar {
      position: relative;
      padding-left: 8px;

      &::before {
        background-color: currentColor;
        bottom: 6px;
        content: '';
        left: 0;
        position: absolute;
        top: 6px;
        width: 1px;
      }
    }
  }

  &__summary {
    @include ds_small-size;
  }
}

.#{$site-prefix}latest-feed .#{$site-prefix}latest-feed__item {
  padding-top: 24px;

  &:before {
    border-bottom: 2px solid $ds_colour__border--light;
    content: '';
    position: absolute;
    top: 0;
    width: 30%;
  }

  &:first-of-type {
    padding-top: 0;

    &:before {
      content: none;
     }
  }
}

@include ds_media-query(medium) {
  .#{$site-prefix}latest-feed--horizontal .#{$site-prefix}latest-feed__item {
    padding-top: 0;

    &:before {
      content: none;
    }
  }
}
