/*------------------------------------*\
    #CONTENT PLACEHOLDER
\*------------------------------------*/

@keyframes placeholderShimmer{
    0%{
        background-position: -400px 0
    }
    100%{
        background-position: 400px 0
    }
}

.content-placeholder__content {
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeholderShimmer;
    animation-timing-function: linear;
    background: linear-gradient(135deg, $color__grey--light 10%, $color__grey--lighter 20%, $color__grey--light 30%);
    background-size: 800px 100px;
    color: transparent;
    word-break: break-word;
}

.content-placeholder__content--small:before {
    content: '2222-22-22';
}

.content-placeholder__content--medium:before {
    content: 'MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM';
}

.content-placeholder__content--large:before {
    content: 'MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM';
}

.content-placeholder__content--small--alt:before {
    content: '2222-22';
}

.content-placeholder__content--medium--alt:before {
    content: 'MMMMMMMMMMMMMMMMMMMMMMMMMMMMM';
}

.content-placeholder__content--large--alt:before {
    content: 'MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM';
}
