.gov_feature-header {
    align-items: center;
    background-color: #ebebeb;
    display: grid;
    margin-bottom: 64px;

    &__title {
        font-size: 30px;
        font-weight: 300;
        line-height: 35px;
        margin-bottom: 8px;
    }

    &__content {
        padding: 32px 16px;

        > :last-child {
            margin-bottom: 0;
        }
    }
}

@include media-query('medium') {
    .gov_feature-header {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 32px;

        &__title {
            font-size: 44px;
            line-height: 56px;
        }

        &__content {
            padding-left: 24px;
        }
    }
}

@include media-query('large') {
    .gov_feature-header__content {
        padding-left: 48px;
    }
}
