/*------------------------------------*\
    #FORM BOX
\*------------------------------------*/

@use '../../../node_modules/@scottish-government/design-system/src/base/helpers/' as ds_helpers;
@use '../../../node_modules/@scottish-government/design-system/src/base/settings/' as ds_settings;

.form-box {
    background-color: ds_settings.$ds_colour__grey--lighter;
    box-sizing: border-box;

    margin: 32px -16px;
    padding: 24px 16px;
}

.form-box:first-child {
    margin-top: 0;
}

@include ds_helpers.ds_media-query(medium) {
    .form-box {
        margin-left: 0;
        margin-right: 0;
        padding-left: 24px;
        padding-right: 24px;
    }
}
