/*------------------------------------*\
    FILTERS
\*------------------------------------*/

$filters-panel-background: $ds_colour__grey--lighter;

.js-loading-inactive {
    pointer-events: none;
    opacity: 0.5;
}

.#{$site-prefix}filters {
    position: relative;

    fieldset {
        margin: 0;
    }

    &__scrollable {
        margin-left: -8px;
        max-height: 25vh;
        overflow-y:auto;
        padding-left: 10px;

        &::-webkit-scrollbar {
            -webkit-appearance: none;
            background-color: rgba(0,0,0,0.1);
            border-radius: 4px;
            width: 8px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background-color: rgba(0,0,0,0.5);
        }

        &--fixed {
            max-height: 200px;
        }
    }

    &__filter-info {
        font-weight: normal;

        &--count {
            display: none;

            &[data-count] {
                display: block;
            }

            &[data-count]::after {
                content: '(' attr(data-count) ' selected)';
                display: block;
            }
        }
    }

    .ds_accordion.js-initialised .ds_accordion-item__body {
        padding-right: 16px;
    }

    .ds_accordion-item__header:not(:focus):not(:hover),
    .ds_accordion-item__header-button:not(:focus):not(:hover) {
        background-color: transparent;
        color: currentColor;
    }

    .ds_field-group--checkboxes,
    .ds_field-group--checkboxes {
        margin-top: 0;

        .ds_checkbox,
        .ds_radio {
            margin-bottom: 0;
        }
    }

    .ds_input__wrapper .ds_button:not(:focus) {
        background-color: transparent;
        color: currentColor;

        &:hover:not(:focus) {
            background-color: $ds_colour__blocklink-bg--hover;
        }
    }

    .ds_checkbox__label {
        padding: 8px 4px;
    }

    &__clear {
        @include ds_responsive-margin(2, bottom);
        margin-top: 0;
    }
}




.gov_filters {
    @include ds_responsive-margin(4, bottom);
    @include ds_small-size;

    border: 1px solid $ds_colour__border--light;
    position: relative;

    &__expand {
        @include ds_blocklink;

        background-color: $ds_colour__button__background;
        color: $ds_colour__button;
        cursor: pointer;
        font-weight: $bold;
        margin: 0;
        padding: 16px 40px 16px 16px;
        position: sticky;
        text-align: left;
        text-decoration: none;
        top: 0;
        transition: background-color $transition-in-time, box-shadow $transition-in-time;
        width: 100%;
        z-index: 2;

        &--shadow {
            box-shadow: 0px 5px 5px rgba(0,0,0,0.15);
        }

        &:hover:not(:focus) {
            background-color: $ds_colour__button--hover__background;
            color: $ds_colour__button;
        }

        &--shadow:focus {
            box-shadow: 0 3px #333333, 0px 8px 5px rgba(0,0,0,0.15);
        }
    }

    &__expand-indicator {
        @include ds_chevron(down, 0.75em);
        border-width: 0px 0px 3px 3px;
        position: absolute;
        right: 24px;
        top: 20px;
        transition: transform 0.2s, top 0.2s;
        pointer-events: none;
    }
}

.gov_filters__form {
    display: none;
    list-style-type: none;
    margin: 8px 16px;
}

#show-filters:checked ~ .gov_filters__form {
    display: block;
}

#show-filters:checked ~ .gov_filters__expand .gov_filters__expand-indicator {
    top: 24px;
    transform: rotate(-225deg);
}

@include ds_media-query(medium-down) {
    .js-initialised.gov_filters > .gov_filters__form {
        margin-left: 0;
        margin-right: 0;
        max-height: 0;
        overflow: hidden;
        padding-left: 16px;
        padding-right: 16px;
        transition: max-height $transition-in-time, padding $transition-in-time;
    }

    .js-initialised.gov_filters #show-filters:checked ~ .gov_filters__form {
        padding-bottom: 8px;
        padding-top: 8px;
    }
}

@include ds_media-query(medium) {
    .gov_filters {
        border-width: 0;
        line-height: 24px;

        &--tab-title &__title {
            display: block;
        }

        &__form {
            display: block !important;
            margin: 0;
            max-height: unset !important;
        }

        &__expand {
            display: none;
        }

        #show-filters {
            display: none;
        }
    }
}
