/*------------------------------------*\
    #HOMEPAGE: ABOUT
\*------------------------------------*/

.#{$site-prefix}homepage-fm {
  &__image > img {
    display: block;
    margin-bottom: 16px;
    width: 100%;
  }
}

@include ds_media-query(medium) {
  .#{$site-prefix}homepage-fm {
    &__image > img {
      margin: 0 0 16px;
      width: 100%;
    }
  }
}

@include ds_media-query(large) {
  @include ds_layout();

  .#{$site-prefix}homepage-fm {
    &__title {
      @include ds_colwidth(12);
    }

    &__image {
      float: left;
      @include ds_colwidth(4);
      margin-right: 32px;
    }

    &__content {
      float: left;
      @include ds_colwidth(8);
    }
  }
}

@supports(display: grid) {
  .#{$site-prefix}homepage-fm {
    &__image > img {
      margin-left: -16px;
      margin-right: -16px;
      max-width: none;
      width: calc(100% + 32px);
    }

    > * {
      float: none;
      width: auto;
    }

    &__title {
      grid-area: t;
    }

    &__image {
      grid-area: i;
      margin-right: 0;
    }

    &__content {
      grid-area: c;
    }

    @include ds_media-query(medium) {
      &__image > img {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
      }
    }

    @include ds_media-query(large) {
      display: grid;
      grid-gap: 0 $grid-gap-x;
      grid-template-areas: 't t' 'i c';
      grid-template-rows: auto 1fr;
    }
  }
}
