/*------------------------------------*\
    #HOMEPAGE: NEWS
\*------------------------------------*/


.gov_homepage-subscribe {
    &__text + &__link {
      margin-left: 20px;
      position: relative;

      &::before {
        content: '';
        top: 2px;
        bottom: 2px;
        background: $ds_colour__text--secondary;
        position: absolute;
        width: 1px;
        left: -12px;
      }
    }
}

.gov_homepage-subscribe {
  @include ds_small-size;

  margin: 4px 0 20px;
}
