/*------------------------------------*\
    #DOCUMENT NAV
\*------------------------------------*/

.document-nav {
    background: $color__grey--lighter;
    height: 56px;
    line-height: 56px;
    position: sticky;
    text-align: center;
    z-index: 1000; /* same as .site-header */

    //box-shadow: 0 3px 10px 0px rgba(114,114,114,0.25);

    &:after {
        background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0));
        bottom: -5px;
        content: '';
        left: 0;
        position: absolute;
        right: 0;
        top: 100%;
    }

    &__button {
        border-radius: 100%;
        display: inline-block;
        height: 42px;
        margin: 7px 21px 7px 0;
        padding: 4px 0 0;
        min-height: 0;
        width: 42px;

        font-size: 10px;
        line-height: 10px;
        overflow: hidden;

        &:last-child {
            margin-right: 0;
        }
    }
}

@include media-query(medium) {
    .document-nav {
        position: static;
        text-align: left;
    }


}
