/*------------------------------------*\
    ICON LINK
\*------------------------------------*/

$icon-spacing: 1.5em;

.gov_icon-link {
    position: relative;
    text-decoration: none;
    padding-right: $icon-spacing;
    white-space: nowrap;

    &__text {
        text-decoration: underline;
        text-underline-offset: $link__underline-offset;
    }

    &__icon {
        margin-top: calc(-2em/3);
        position: absolute;
        top: 50%;
        right: 0;
    }

    &__icon--chevron {
        @include ds_chevron(right, 0.583333em);

        margin-top: -0.25em;
        right: 0.333333em;
    }

    &:hover &__text {
        text-decoration-thickness: $link__underline-thickness--hover;
    }

    &:focus &__text {
        text-decoration: none;
    }

    &--icon-left {
        padding-right: 0;
        padding-left: $icon-spacing;
    }

    &--icon-left &__icon {
        left: 0;
        right: auto;

        &--chevron {
            @include ds_chevron(left, 0.583333em);

            left: 0.333333em;
        }
    }

    &--major {
        display: inline-block;
        border-bottom: 2px solid currentColor;
        font-weight: $bold;
        padding-top: 6px;
        padding-bottom: 2px;

        &:hover {
            border-bottom-width: 3px;
            padding-bottom: 1px;

            @include ds_media-query(medium) {
                border-bottom-width: 4px;
                padding-bottom: 0;
            }
        }

        &:focus {
            border-bottom-color: transparent;
        }

        &::after {
            margin-top: -0.25em;
        }
    }

    &--major &__text {
        text-decoration: none;
    }


}
