/*------------------------------------*\
    #STAT BOX
\*------------------------------------*/

.stat-boxes {
  @include ds_responsive-margin(2, bottom);

  overflow: auto;

  margin-right: -16px;
}

.stat-box {
  @include ds_blocklink;
  @include ds_responsive-margin(2, bottom);
  @include ds_tiny-size;

  background-color: $ds_colour__grey--lighter;
  line-height: 20px;
  padding: 16px 16px 8px;
  text-align: center;
  text-decoration: none;

  float: left;
  margin-right: 16px;
  width: calc(100%/3 - 16px);

  &:last-child {
    margin-right: 0;
  }

  &__value {
    display: block;
    font-size: 56px;
    font-weight: $bold;
    line-height: 1;
  }

  &__label {
    color: $ds_colour__text;
    display: inline-block;
    min-height: 40px;
  }
}

@include ds_media-query(large) {
  .stat-box__value {
    font-size: 72px;
  }
}

@supports (display: grid) {
  .stat-boxes {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(3, 1fr);
    margin-right: 0;
  }

  .stat-box {
    align-items: center;
    display: grid;
    grid-template-rows: min-content 1fr;

    float: none;
    margin-right: 0;
    width: 100%;

    &__label {
      min-height: 0;
    }
  }

  @include ds_media-query(large) {
    .stat-boxes {
      grid-gap: 32px;
    }
  }
}
