/*------------------------------------*\
    #SOCIAL CHANNELS
\*------------------------------------*/

.social-channels {
  > * {
    margin-bottom: 28px;
  }

  .ds_card__content {
    :last-child {
      margin-bottom: 0;
    }
  }
}

@include media-query(medium-down) {
  @supports(display: grid) {
    .social-channels {
      grid-gap: 14px;

      .ds_card {
        display: grid;
        grid-template-columns: 1fr 2fr;
      }

      .ds_card__media {
        margin: 14px 0 14px 14px;
      }

      .ds_card__content {
        padding: 14px;
      }
    }
  }
}

@include media-query(medium) {
  .social-channels {
    margin-right: -28px;
    > * {
      float: left;
      width: calc(33.333333% - 28px);
      margin-right: 28px;
    }
  }
}

@supports(display: grid) {
  @include media-query(medium) {
  .social-channels {
      display: grid;
      grid-gap: 28px;
      grid-template-columns: repeat(3, 4fr);

      margin-right: 0;

      > * {
        margin-right: 0;
        width: auto;
      }
    }
  }
}
