/*------------------------------------*\
    #SECTION MARKER
\*------------------------------------*/

.section-marker {
    font-size: 15px;
    line-height: 21px;
    margin-top: -28px;
    position: sticky;
    z-index: 1000;

    &__part {
        background: $color__blue--base;
        color: $color__white;
    }

    &__text-line {
        max-height: 21px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__section-title {
        font-weight: $bold;
    }

    &__document-title {
        opacity: 0;
        transition: opacity 0.2s;

        // fixes a subpixel rendering issue by extending the background one pixel further
        margin-bottom: -1px;
        padding-bottom: 1px;
    
        &--visible {
            opacity: 1;
        }
    }
}

@include media-query(medium) {
    .section-marker {
        font-size: 22px;
        line-height: 28px;

        &__text-line {
            max-height: 28px;
        }
    }
}
