/*------------------------------------*\
    FEEDBACK
\*------------------------------------*/

/* [1] compensate for 1px border */
.gov_feedback {
    border-top: 1px solid $ds_colour__border;
    margin-top: 32px;
    padding-top: 31px; /* [1] */
}
