/*------------------------------------*\
    #FULL WIDTH NOTE
\*------------------------------------*/




.full-width-note {

    background-color: $color__grey--lighter;
    padding: 8px 0;

    &__message {
        @extend .wrapper;
        font-size: 13px;
    }

    &--right {
        text-align: right;
    }

}



@include media-query(medium) {

    .full-width-note__message {
        font-size: 14px;
    }

}
