/*------------------------------------*\
    SIDEBAR FEATURE
\*------------------------------------*/

.gov_sidebar-feature {
    &__image {
        display: block;
        height: auto;
        width: 100%;
        @include ds_responsive-margin(4, bottom);
    }
}

@include media-query(medium) {
    .gov_sidebar-feature {
        margin-top: 32px;
    }
}
