/*------------------------------------*\
    FEATURE CARDS
\*------------------------------------*/

@use '../../../node_modules/@scottish-government/design-system/src/base/helpers/' as ds_helpers;

.gov_feature-cards {
    @include ds_helpers.ds_responsive-margin(8, bottom);
    display: grid;
    grid-gap: 2rem;

    @include ds_helpers.ds_media-query('medium') {
        grid-template-columns: repeat(3, 1fr);
    }
}