/*------------------------------------*\
    SECONDARY FOOTER
\*------------------------------------*/

.gov_secondary-footer {
    background-color: $ds_colour__blue--dark;
}

.gov_social-links {
    display: flex;
    justify-content: start;
    list-style-type: none;
    margin: -10px 0;
    min-height: 44px;
    text-align: right;

    &__item {
        display: block;
        margin-bottom: 0;
    }

    &__link {
        color: $ds_colour__text;
        height: 44px;
        display: block;
        margin-left: -8px;
        min-width: 44px;
        padding: 9px;
        text-decoration: none;

        .ds_icon {
            vertical-align: unset;
        }
    }

    &__link-inner {
        background: $ds_colour__white;
        border-radius: 16px;
        color: $ds_colour__blue--dark;
        height: 26px;
        padding: 4px;
        min-width: 26px;
        transition: background-color 0.2s;
    }

    // &__link:hover &__link-inner {
    //     background-color: $ds_colour__link--hover__background;
    // }

    // &__link:focus {
    //     background-color: transparent;
    //     box-shadow: none;
    // }

    &__link:focus &__link-inner {
        background-color: transparent;
        color: $ds_colour__link--focus;
        transition-duration: 0s;
    }

    &__link:hover:not(:focus) &__link-inner {
        background-color: $ds_colour__link--hover__background;
    }
}
