.youtube-embed-wrapper {
    background: #ebebeb;
    margin: 32px 0;

    &:has(iframe) {
        aspect-ratio: 16/9;
        width: 100%;
    }

    iframe,
    img {
        width: 100%;
        height: 100%;
        display: block;
    }

    img {
        height: auto;
    }

    &__consent {
        padding: 24px;
    }
}
