.contents-list {
    list-style-type: none;
    margin: 0 -15px;
}

.contents-list__item {
    margin: 0;
    position: relative;

    &:not(:last-child) .contents-list__link {
        border-bottom: 1px solid $color__grey--light;
    }
}

.contents-list__icon {
    color: $color__grey--medium;
    left: 15px;
    position: absolute;
    top: 7px;
}

.contents-list__link {
    display: block;
    font-weight: 500;
    line-height: 21px; 
    min-height: 35px;
    padding: 6px 15px 7px 42px;
    text-decoration: none;

    &:hover {
        background-color: $color__grey--lighter;
    }

    &:active {
        background-color: $color__blue--light;
        outline-color: transparent;
    }
}

@include media-query(medium) {
    .contents-list {
        margin: 0;

        &__link {
            line-height: 28px;
        }

        &__icon {
            height: 28px;
            top: 5px;
            width: 28px;
        }
    }
}
