/*------------------------------------*\
    #LIST CONTROLS
\*------------------------------------*/

$filter-close-button-size: 49px;

.filters-container {
    bottom: 0;
    left: 0;
    padding-top: $filter-close-button-size;
    position: fixed;
    right: 0;
    top: 100%;
    z-index: 1002;
    @include transition(top 0.4s);

    &--open {
        display: block;
        top: 0;
    }

    &__close {
        color: $color__body;
        height: $filter-close-button-size;
        margin-top: $filter-close-button-size * -1;
        padding: 0;
        width: $filter-close-button-size;

        background: url('../images/icons/close-grey.png') no-repeat $color__grey--lighter center;
        @include image-2x( '../images/icons/close-grey_@2x.png', 27px, 27px);
    }

    &__title {
        background: $color__grey--lighter;
        display: inline-block;
        margin: 0;
        line-height: initial;
        padding: 8px 10px 8px 15px;
        top: 1px;
        z-index: 1;

        border-top: 1px solid $color__grey--pale;

        &:after {
            border-bottom: 41px solid $color__grey--lighter;
            border-right: 15px solid transparent;
            content: '';
            position: absolute;
            right: -14px;
            top: -1px;
        }

        &:before {
            border-bottom: 41px solid $color__grey--pale;
            border-right: 15px solid transparent;
            content: '';
            position: absolute;
            right: -15px;
            top: -1px;
        }
    }
}

.filters {
    background: $color__grey--lighter;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    padding: 28px 15px 88px;
    position: absolute;
    right: 0;
    top: $filter-close-button-size;

    -webkit-overflow-scrolling: touch;

    &__legend {
        display: none;
    }

    &__label {
        display: block;
        font-size: 14px;
    }

    &__input {
        &--search-term[type=text] {
            height: 56px;
            padding-right: 56px;
            width: 100%;
        }

        &--search-term-home[type=text] {
            height: 49px;
            padding-right: 49px;

            &:focus + .filter-search__button {
                background: url('../images/icons/search-blue.png') no-repeat transparent center;
                @include image-2x( '../images/icons/search-blue_@2x.png', 35px, 35px);
            }
        }
    }

    &__button {
        &--clear {
            float: right;
            font-size: 14px;
            height: 28px;
            padding: 0 10px;
            top: -14px;
            width: auto;
        }
    }
}

.filter-search {
    clear: both;
    margin-bottom: 21px;
    position: relative;

    &__subtitle {
        margin-top: 14px;
    }

    .filter-search__button {
        font-size: 24px;
        height: 56px;
        margin: 0;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 56px;

        background: url('../images/icons/search-grey.png') no-repeat transparent center;
        @include image-2x( '../images/icons/search-grey_@2x.png', 35px, 35px);

        &--home {
            height: 49px;
            width: 49px;
        }
    }

    &__input:focus + .filter-search__button {

        background: url('../images/icons/search-blue.png') no-repeat transparent center;
        @include image-2x( '../images/icons/search-blue_@2x.png', 35px, 35px);
    }
}

.checkbox-group {
    overflow-y: auto;

    &__input {
        float: left;
        margin-right: 4px;
    }

    &__label {
        display: block;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 14px;
        min-height: 24px;
        padding-left: 34px;
        padding-top: 3px;
        position: relative;
    }
}

.date-entry {
    margin-bottom: 21px;
    position: relative;

    + .date-entry {
        margin-top: -7px;
    }

    &__input-group {
        position: relative;
    }

    &__input {
        margin-right: 60px;
        width: calc(100% - 60px);
    }

    &__trigger {
        background-image: url("../images/icons/date_picker.png");
        background-position: center;
        background-repeat: no-repeat;
        bottom: 0;
        height: 48px;
        margin: 0;
        padding: 0;
        position: absolute;
        right: 0;
        text-indent: -999em;
        width: 50px;
        @include image-2x( '../images/icons/date_picker_@2x.png', 48px, 48px);
    }

    &__calendar {
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
        margin-top: 8px;
        max-height: 0;
        overflow: hidden;
        @include transition(max-height $transition-in-time);

        &--open {
            max-height: 260px;
        }
    }
}

.filter-actions {
    background: $color__white;
    box-shadow: 0 -15px 30px $color__grey--light;

    bottom: 0;
    left: 0;
    padding: 14px;
    position: fixed;
    right: 0;

    .filter-actions__apply,
    .filter-actions__cancel {
        font-size: 16px;
        margin: 0;
        width: 47%;
    }

    .filter-actions__apply {
        float: right;
    }

    .filter-actions__cancel {
        float: left;
    }
}

.filter-buttons {
    margin-bottom: 24px;

    .button {
        height: 56px;
        width: 100%;
    }

    &--sticky {
        background: $color__grey--lighter;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        font-size: 12px;
        left: 0;
        opacity: 0;
        padding: 10px 15px 11px;
        position: fixed;
        right: 0;
        text-align: center;
        top: 0;
        z-index: 1;
        @include transition(opacity $transition-in-time, top $transition-in-time);

        &--show {
            display: block;
            opacity: 1;
            top: 52px;
        }

        .button {
            width: auto;

            &--left {
                float: left;
            }

            &--right {
                float: right;
            }
        }

        .gamma {
            font-size: 14px;
        }

    }
}

.filters-expandable {
    .expandable-item--open .expandable-item__header {
        // background-color: inherit;
    }
}

/**
 * for older mobile devices with poor/no support for position:fixed
 */
@include media-query (medium-down) {
    body.no-fixed {
        .filters-container {
            padding-top: 0;
            position: relative;
            z-index: 999;
        }

        .filters {
            margin-bottom: 14px;
            padding-bottom: 14px;
            position: static;
        }

        .filters-container__close {
            display: none !important;
        }

        .filter-actions {
            background: transparent;
            border-top: 1px solid $color__grey--light;
            box-shadow: none;
            padding: 15px 0 0;
            position: static;
        }

        .filters-layer {
            &.mobile-layer {
                position: static;
                display: none;
            }

            &.mobile-layer--open {
                display: block;
            }

            .mobile-layer__overlay {
                display: none !important;
            }

            .mobile-layer__content {
                padding-top: 0;
            }
        }
    }
}
@include media-query(medium) {
    .filter-search .filter-search__button {
        height: 49px;
        width: 49px;
    }

    .filters-expandable {
        margin: -1px -10px;
    }

    .filters-container {
        background: transparent;
        display: block;
        padding-top: 0;
        position: relative;
    }

    //.filters-layer {
    //  // the sticky footer won't work without this. :/
    //  // the size was determined using chrome dev tools.
    //  min-height: 1100px;
    //}

    .filters {
        border-bottom: 1px solid $color__grey--light;
        border-top: 1px solid $color__grey--light;
        display: block;
        overflow: visible;
        padding: 21px 10px 0;
        position: static;

        &__input {
            &--search-term[type=text] {
                height: 49px;
                padding-right: 49px;
            }
        }

        &__button {
            &--clear {
                position: absolute;
                right: 0;
                top: 0;
            }
        }
    }

    .filter-buttons--sticky {
        display: none;
    }

    .checkbox-group {
        &__title {
            margin: 7px 0;
        }

        &__label {
            padding-top: 1px;
            min-height: 0;
        }
    }

    .date-entry {
        &__input[type=text] {
            height: 42px;
            margin-right: 52px;
            width: calc(100% - 52px);
        }

        &__trigger {
            height: 42px;
            width: 42px;

            background-image: url("../images/icons/date_picker_42px.png");
            @include image-2x( '../images/icons/date_picker_42px_@2x.png', 42px, 42px);
        }

        &__close {
            border: 0;
            margin-top: 0;
            position: absolute;
            right: 0;
            text-indent: -999em;
            top: 0;
        }

        &__calendar {
            box-shadow: 8px 0 1px rgba(0, 0, 0, 0.1);
            left: 0;
            max-height: 1000px;
            opacity: 0;
            filter: alpha(opacity=0);
            position: absolute;
            top: -999em;
            width: 380px;
            z-index: -1;
            @include animation(hideCalendar 0.2s);

            &--open {
                left: 100%;
                display: block;
                opacity: 1;
                filter: alpha(opacity=100);
                top: -21px;
                @include animation(showCalendar 0.2s);
            }
        }
    }
}
@include media-query(xlarge) {
    .checkbox-group {
        &__label {
            padding-top: 3px;
        }
    }
}
@include keyframes(hideCalendar) {
    0% {
        display: block;
        left: 100%;
        opacity: 1;
        top: -21px;
    }

    99% {
        display: block;
        left: 0;
        opacity: 0;
        top: -21px;
    }

    100% {
        display: none;
        left: 0;
        opacity: 0;
        top: -999em;
    }
}
@include keyframes(showCalendar) {
    0% {
        display: none;
        left: 0;
        opacity: 0;
        top: -999em;
    }

    1% {
        display: block;
        left: 0;
        opacity: 0;
        top: -21px;
    }

    100% {
        display: block;
        left: 100%;
        opacity: 1;
        top: -21px;
    }
}
