/*------------------------------------*\
    #DOCUMENT NAV
\*------------------------------------*/

.document-nav {
    background: $color__grey--lighter;
    height: 56px;
    line-height: 56px;
    position: relative;
    text-align: center;
    z-index: 1000; /* same as .site-header */

    &--sticky {
        position: sticky;
    }

    //box-shadow: 0 3px 10px 0px rgba(114,114,114,0.25);

    &:after {
        background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0));
        bottom: -5px;
        content: '';
        left: 0;
        position: absolute;
        right: 0;
        top: 100%;
    }

    &__button {
        border-radius: 100%;
        display: inline-block;
        height: 42px;
        min-height: 0;
        margin: 7px 21px 7px 0;
        padding: 0;
        width: 42px;

        font-size: 10px;
        line-height: 10px;
        overflow: hidden;

        &:last-child {
            margin-right: 0;
        }

        &[disabled] {
            background: $color__grey--base;
            color: $color__grey--lighter;
        }
    }

    &__icon {
        display: block;
        height: 32px;
        margin: 0 auto -7px;
        width: 32px;
    }
}

@include media-query(medium) {
    .document-nav {
        height: 77px;
        line-height: 77px;
        text-align: left;

        &__button {
            font-size: 12px;
            height: 63px;
            width: 63px;
        }

        &__icon {
            width: 49px;
            height: 49px;
        }
    }
}
