
.ds_file-info {
    @include ds_responsive-padding(2, false);
    @include ds_responsive-margin(2, bottom);

    background-color: $ds_colour__grey--lighter;
    display: flex;
}

.ds_file-info--highlighted {
    box-shadow: inset 4px 0 0 blue, 0 4px 0 rgba(0,0,0,0.25);
}

.ds_file-info__thumbnail {
    margin-right: 16px;
}

.ds_file-info__thumbnail-link {
    display: block;
    width: px-to-rem(72px);
}

.ds_file-info__thumbnail img {
    display: block;
}

.ds_file-info__title {
    @include ds_responsive-margin(1, bottom);
}

.ds_file-info__title a:not(:focus) {
    text-decoration: underline;
}

@include ds_media-query(medium-down) {
    .ds_file-info .ds_file-info__download {
        width: 100%;
    }
}

@include ds_media-query(medium) {
    .ds_file-info__thumbnail-link {
        width: px-to-rem(72px, $root-font-size--medium);
    }
}
