/*------------------------------------*\
    #HOMEPAGE: NEWS
\*------------------------------------*/


.gov_homepage-subscribe {
    &__text + &__link {
      margin-left: 20px;
      position: relative;

      &::before {
        content: '';
        top: 2px;
        bottom: 2px;
        background: $ds_colour__text--secondary;
        position: absolute;
        width: 1px;
        left: -12px;
      }
    }
}

/// not currently used but should be?????



.gov_homepage-news__date {
  border-left: 2px solid currentColor;
  margin-bottom: 8px;
  padding-left: 10px;
}

.gov_homepage-news-all {
  @include ds_media-query(medium) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.gov_homepage-subscribe {
  @include ds_small-size;

  margin: 16px 0;
}
