/*------------------------------------*\
    #POLICY LIST
\*------------------------------------*/

.policy-list {
    line-height: 21px;
    margin: 0 0 49px 0;
    position: relative;
    font-size: 16px;

    &:after {
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;

        background: $color__white;
    }

    &__item {
        border-top: 1px solid $color__grey--pale;
        margin: 0;
        position: relative;
    }

    &__link {
        display: block;
        padding-bottom: 21px;
        padding-right: 30px;
        padding-top: 21px;
        text-decoration: none;

        &:hover {
            background: $color__grey--lighter;
        }

        &:active,
        &:focus {
            background: $color__blue--light;
            outline: none !important;
        }
    }
}

@include media-query(medium) {
    .policy-list {

        &__link {
            padding-top: 28px;
            padding-bottom: 28px;

            &:after {
                right: 25%;
            }
        }
    }
}

@include media-query(large) {
    .policy-list {
        font-size: 18px;
    }
}