/*------------------------------------*\
    GOV DOCUMENT INFO
\*------------------------------------*/

.gov_document-info {
    clear: both;
    margin: 0;
    overflow: hidden;
    padding: 32px 16px 32px 40px;
    position: relative;

    &:not(:last-child) {
        border-bottom: 1px solid $color__border--light;
    }

    &__icon {
        float: left;
        margin-right: 16px;
    }

    &__info {
        margin-left: 88px;
    }

    &__download {
        clear: left;
        padding-top: 16px;

        .button {
            width: 100%;
        }
    }

    &__thumbnail-link {
        // from mygov-assets
        // background-color: #ebebeb;
        border: 1px solid #b3b3b3;
        display: block;
        width: 64px;
        outline: none !important;
        padding-right: 0px !important;
        // background-image: none !important;
    }

    &__thumbnail-image {
        // from mygov-assets
        display: block;
        width: 100%;
        transition: opacity 0.2s ease 0s;
    }

    &__title {
        // from mygov-assets
        font-weight: normal;
    }

    &__file-details {
        line-height: 28px;
        margin-bottom: 21px;
    }

    &--highlight &__info {
        margin-left: 136px;
    }

    &--highlight {
        padding-left: 0;
    }

    &--highlight &__thumbnail-link {
        width: 128px;
    }

    &--targeted {
        background-color: $color__blue--lighter;

        .file-icon::before {
            border-top-color: $color__blue--lighter;
        }
    }
}

@include media-query(medium) {
    .gov_document-info {
        &__info {
            float: left;
            margin-left: 0 !important;
            margin-right: 16px;
            width: calc(100% - 72px - 16px - 16px - 120px);
        }

        .button {
            width: 120px;
        }

        &__thumbnail-link {
            width: 120px;
        }

        &--highlight &__thumbnail-link {
            width: 160px;
        }

        &--highlight &__info {
            width: calc(100% - 112px - 16px - 16px - 120px);
        }

        &__download {
            clear: none;
            float: right;
            padding: 0;
        }
    }
}


@supports (display: grid) {
    .gov_document-info {
        display: grid;
        grid-gap: 16px;
        grid-template-areas: 'icon info' 'download download';
        grid-template-columns: auto 1fr;


        @include media-query(medium) {
            grid-template-areas: 'icon info download';
            grid-template-columns: auto 1fr auto;
        }

        &__icon,
        &__info,
        &__download {
            float: none;
            margin: 0;
        }

        &--highlight &__info {
            margin-left: 0;
            width: auto;
        }

        &__icon {
            grid-area: icon;
            justify-self: right
        }

        &__info {
            grid-area: info;
            width: auto;
        }

        &__download {
            grid-area: download;
            padding-top: 0;
        }
    }
}
