/*------------------------------------*\
    #FORM BOX
\*------------------------------------*/

.form-box {
    background-color: #f8f8f8;//$colour__grey--lighter;
    box-sizing: border-box;

    margin: 32px -16px;
    padding: 24px 16px;
}

.form-box:first-child {
    margin-top: 0;
}

@include media-query(medium) {
    .form-box {
        margin-left: 0;
        margin-right: 0;
        padding-left: 24px;
        padding-right: 24px;
    }
}

.multi-page-form {
    padding: 24px;
}
