/*------------------------------------*\
    FEATURED ITEM
    used on issue and topic pages
\*------------------------------------*/

@use '../../../node_modules/@scottish-government/design-system/src/base/helpers/' as ds_helpers;
@use '../../../node_modules/@scottish-government/design-system/src/base/settings/' as ds_settings;

.#{$site-prefix}featured-item {
    @include small-size;

    line-height: 24px;
    position: relative;

    > :last-child {
        margin-bottom: 0;
    }

    &__metadata {
        @include tiny-size;
        color: ds_settings.$ds_colour__text;
        margin-bottom: 8px;

        .ds_content-label {
            @include tiny-size;
            font-weight: $bold;
        }

        .ds_metadata__value {
            font-weight: $normal;
        }
    }

    &--sidebar {
        background-color: ds_settings.$ds_colour__grey--lighter;
        padding: 16px;
    }
}

h3.#{$site-prefix}featured-item__title {
    @include h4-size;

    margin-top: 0;
}


.#{$site-prefix}featured-item__link {
    &::after {
        background: transparent;
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    &:focus {
        filter: none;
        outline: none;
        box-shadow:
            0 0 0 round(ds_settings.$ds_focus__outline-width, 1px) ds_settings.$ds_colour__link--focus__outline,
            0 round(ds_settings.$ds_focus__shadow-width, 1px) 0 round(ds_settings.$ds_focus__outline-width, 1px) ds_settings.$ds_colour__link--focus__shadow;
    }
}

@supports (display: grid) {
    .#{$site-prefix}featured-item {
        display: grid;
        grid-template-rows: max-content;
    }
}
