/*------------------------------------*\
    SECONDARY FOOTER
\*------------------------------------*/

.gov_secondary-footer {
    font-size: $small-size--fixed;
    line-height: line-height-on-grid($small-size--fixed);
}

.gov_social-links {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;

    &__item {
        margin: px-to-rem(15px) 0.75rem px-to-rem(1px) 0;
    }

    &__link {
        display: block;
        padding-right: 0.5rem;
    }

    &__link-inner {
        align-items: center;
        display: flex;
    }

    &__icon {
        align-items: center;
        display: flex;
        height: 2rem;
        justify-content: center;
        margin-right: 0.25rem;
        width: 2rem;

        .ds_icon {
            color: currentColor;
        }
    }
}
