/*------------------------------------*\
    #SITE BRAND
\*------------------------------------*/

.site-brand {
  display: table;
  height: 70px;
  padding-right: 20px;

  &__link {
    display: table-cell;
    vertical-align: middle;
  }

  &__logo {
    display: block;
    height: 32px;
    width: 185px;
    background-size: 100%;
    transition: none;
    transition: all $transition-in-time;
    img {
      height: 100%;
      width: 100%;
    }
  }
}


@include media-query(medium) {
  .site-brand {
    height: 76px;
    position: absolute;

    &__logo {
      transition: all 0;
      height: 33px;
      width: 195px;

      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}

@include media-query(large) {
  .site-brand {
    height: 90px;
    padding-right: 25px;

    &__logo {
      height: 44px;
      width: 240px;
    }
  }
}
