/*------------------------------------*\
    FEEDBACK
\*------------------------------------*/

@use '../../../node_modules/@scottish-government/design-system/src/base/settings/' as ds_settings;

/* [1] compensate for 1px border */
.gov_feedback {
    border-top: 1px solid ds_settings.$ds_colour__border;
    margin-top: 32px;
    padding-top: 31px; /* [1] */
}
