/*------------------------------------*\
    #MAIN NAVIGATION
    top of page navigation in site header
\*------------------------------------*/

$main-menu__button__size: 56px;
$main-nav__transition-duration: 0.4s;
$main-nav__transition-timing: ease;


/*------------------------------------*\
    Mobile styles
\*------------------------------------*/

@include media-query(medium-down) {
  .main-nav {

    /**
     * This wrapper element allows us to clip the hidden nav list
     * so that the document doesn't expand in width.
     *
     * 1. To work, height must be set to pixel, not a %
     */
    &__wrap {
      position: absolute;
      overflow-x: hidden;
      height:480px; /* [1] */
      width: 100%;
    }

    &__list {
      background: $color__blue--base;
      left: 100%;
      list-style-type: none;
      margin: 0;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 1001;
      padding: 24px 15px;

      transition: left $main-nav__transition-duration $main-nav__transition-timing;
    }

    &__item {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      margin-left: 0;
    }

    &__item:last-child {
      border-bottom: none;
    }

    &__link {
      color: $color__white;
      display: block;
      padding: 10px 15px;
      font-size: 17px;
      text-decoration: none;

      transition: background-color $transition-in-time;

      &:hover,
      &:focus {
        background: $color__link--hover;
        color: $color__white;
        outline: none;
      }

      &:active {
        color: $color__white--selected;
      }

    }
  }

  /*
   * MOBILE NAV
   */
  .mobile-nav {
    &.mobile-layer--open {
      .main-nav__list {
        left: 15px;
        max-height: calc(100% - 63px);
        overflow-y: auto;
        width: auto;
      }
    }
  }
}




/*------------------------------------*\
    Tablet and up styles
\*------------------------------------*/


@include media-query(medium) {
  .main-nav {

    &__list {
      display: block;
      list-style-type: none;
      margin: 0;
      padding: 0;
      text-align: right;
    }

    &__item {
      display: inline-block;
      margin: 0;
    }

    /**
     * 1. Use display: table-cell display so that we can easily center the text
     *    in the block.
     */
    &__link {
      border: 0px solid transparent;
      box-sizing: border-box;
      color: $color__body !important;
      display: table-cell; /* [1] */
      font-size: 15px;
      height: 76px;
      line-height: 21px;
      padding: 0 12px;
      text-decoration: none;
      vertical-align: middle;

      transition: background-color $transition-in-time;
    }

    &__link:hover {
      background-color: $color__grey--lighter;
      text-decoration: none;
    }

    &__link:active, &__link:focus {
      background: $color__blue--light;
      outline: 0;
    }

    /**
     * 1. Add border to top and bottom to keep text centered
     */
    &__link--selected {
      border-width: 5px 0; /* [1] */
      border-bottom-color: $color__blue--base;
      background: $color__blue--lighter;
      color: $color__white;

      &:hover {
        background-color: $color__blue--lighter;
        cursor: pointer;
      }
    }
  }
}

@include media-query(large) {
  .main-nav__link {
    font-size: 16px;
    height: 90px;
    line-height: 21px;
    padding: 0 20px;
  }
}
