/*------------------------------------*\
    DOCUMENT INFO
    used in body-document-info.ftl
\*------------------------------------*/

.gov_document-info {
  @include ds_block-margins;
  background-color: $ds_colour__grey--lighter;
  display: flex;
  padding: 16px;

  &__title,
  &__file-details {
    @include ds_responsive-margin(2, bottom);
  }

  &__title {
    font-size: 1rem;
    line-height: 24px;

    a:not(:focus) {
      text-decoration: underline;
    }
  }

  &__thumbnail {
    margin-right: 16px;
  }
}
