/*------------------------------------*\
    LATEST BLOCKS
\*------------------------------------*/

.#{$site-prefix}latest-feeds {
  @include ds_layout();
  @include ds_block-margins;

  @supports (display: grid) {
    grid-template-areas: 'a' 'b' 'c' 'd';

    > .#{$site-prefix}latest-feed {
      width: auto !important;
    }
  }

  @include ds_media-query(medium) {
    > .#{$site-prefix}latest-feed:nth-child(-n+3) {
      float: left;
      @include ds_colwidth(4);
    }

    > .#{$site-prefix}latest-feed:nth-child(4) {
        clear: left;
        @include ds_colwidth(12);
    }

    @supports (display: grid) {
      grid-template-columns: repeat(3, 1fr);

      grid-template-areas:
          'a b c'
          'd d d';

      > .#{$site-prefix}latest-feed:nth-child(4) {
        grid-area: d;
      }
    }
  }
}

.#{$site-prefix}latest-feed {
  position: relative;

  @supports(display: grid) {
    display: grid;
    grid-gap: 32px;
    grid-template-rows: 1fr auto;
  }

  &__see-all {
    @include ds_blocklink;

    border-bottom: 1px solid currentColor;
    display: inline-block;
    padding: 8px 8px 8px 40px;
    position: relative;
    text-decoration: none;

    .ds_icon {
      left: 4px;
      position: absolute;
      top: 6px;
    }
  }
}

.#{$site-prefix}latest-feed:nth-child(4) .#{$site-prefix}latest-feed__items {
  @include ds_layout();

  @include ds_media-query(medium) {
    > .#{$site-prefix}latest-feed__item {
      float: left;
      @include ds_colwidth(4);

      margin-bottom: 0;
    }

    @supports(display: grid) {
      grid-template-columns: repeat(3, 1fr);

      > .#{$site-prefix}latest-feed__item {
        width: auto !important;
      }
    }
  }
}

.#{$site-prefix}latest-feed__item {
  @include ds_last-child-no-margin;

  margin-bottom: 32px;
  position: relative;

  &__title {
    @include ds_h4-style;
    font-weight: 400;

    @include ds_media-query(medium) {
      line-height: 28px;
    }
  }

  &__topics {
    @include ds_tiny-size;
    color: $ds_colour__text--secondary;
    font-style: italic;
    line-height: 24px;
    list-style-type: none;
    margin: 8px 0;

    li {
      display: inline;
      margin-left: 0;

      &:not(:last-child) {
        &:after {
          content: ',';
        }
      }
    }
  }

  &__date {
    @include ds_tiny-size;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 0;
  }
}

.#{$site-prefix}latest-feed:nth-child(-n+3) .#{$site-prefix}latest-feed__item {
  &:not(:first-of-type) {
    padding-top: 32px;

    &:before {
      border-bottom: 2px dotted $ds_colour__border--light;
      content: '';
      position: absolute;
      top: 0;
      width: 30%;
    }
  }
}
