/*------------------------------------*\
    #STAT BOX
\*------------------------------------*/

@use '../../../node_modules/@scottish-government/design-system/src/base/helpers/' as ds_helpers;
@use '../../../node_modules/@scottish-government/design-system/src/base/settings/' as ds_settings;

.stat-boxes {
  @include ds_helpers.ds_responsive-margin(2, bottom);

  overflow: auto;

  margin-right: -1rem;
}

.stat-box {
  @include ds_helpers.ds_blocklink;
  @include ds_helpers.ds_responsive-margin(2, bottom);
  @include ds_helpers.ds_tiny-size;

  background-color: ds_settings.$ds_colour__grey--lighter;
  padding: 1rem;
  text-align: center;
  text-decoration: none;

  float: left;
  margin-right: 1rem;
  width: calc(100%/3 - 1rem);

  &:last-child {
    margin-right: 0;
  }

  &__value {
    display: block;
    font-size: 3.5rem;
    font-weight: $bold;
    line-height: 1;
  }

  &__label {
    color: ds_settings.$ds_colour__text;
    display: inline-block;
    min-height: 2.5rem;
    text-decoration: underline;
  }

  &:hover &__label {
    text-decoration-thickness: $link__underline-thickness--hover;
  }

  &:focus &__label {
    text-decoration: none;
  }
}

@include ds_helpers.ds_media-query(large) {
  .stat-box__value {
    font-size: 4.5rem;
  }
}

@supports (display: grid) {
  .stat-boxes {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    margin-right: 0;
  }

  .stat-box {
    align-items: center;
    display: grid;
    grid-template-rows: min-content 1fr;

    float: none;
    margin-right: 0;
    width: 100%;

    &__label {
      min-height: 0;
    }
  }

  @include ds_helpers.ds_media-query(large) {
    .stat-boxes {
      grid-gap: 2rem;
    }
  }
}
