/*------------------------------------*\
    ISSUE CALLOUT
\*------------------------------------*/

.#{$site-prefix}issue-callout {
    background: $ds_colour__white;
    color: $ds_colour__brand;
    margin: -48px -16px 32px;
    padding: 16px;
    text-align: center;

    &__inner {
        border: 1px solid currentColor;
        overflow: hidden;
        padding: 8px 16px;
        position: relative;

        &:before,
        &:after {
            background: $ds_colour__white;
            bottom: 0;
            content: '';
            position: absolute;
            top: 0;
            width: 16px;
            z-index: 2;
        }

        &:after {
            right: 0;
        }

        &:before {
            left: 0;
        }
    }

    &__alpha {
        display: inline-block;
        font-size: 26px;
        line-height: 32px;
        margin: 0 0 16px;
        position: relative;

        &:before,
        &:after {
            background: $ds_colour__brand;
            content: '';
            height: 1px;

            position: absolute;
            top: 50%;
        }

        &:before {
            left: -24px;
            right: calc(100% + 8px);
        }

        &:after {
            left: calc(100% + 8px);
            right: -25px;
        }
    }

    &__beta {
        font-size: 22px;
        font-weight: 700;
        margin: 16px 0 16px;
    }

    &__gamma {
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        margin: 0 0 24px;
    }
}

@include ds_media-query(medium) {
    .#{$site-prefix}issue-callout {
        @include ds_box-shadow;
        margin-left: 0;
        margin-right: 0;
        margin-top: -128px;
        position: relative;
        z-index: 1;
    }

    .#{$site-prefix}displace-by-issue-callout {
        padding-top: 160px;
    }
}
