/*------------------------------------*\
    POLICY LIST
\*------------------------------------*/

@use '../../../node_modules/@scottish-government/design-system/src/base/helpers/' as ds_helpers;
@use '../../../node_modules/@scottish-government/design-system/src/base/settings/' as ds_settings;

.#{$site-prefix}policy-list {
    @include ds_helpers.ds_responsive-margin(6, bottom);

    line-height: 24px;
    list-style-type: none;
    position: relative;

    &:after {
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;

        background: ds_settings.$ds_colour__white;
    }

    &__item {
        border-top: 1px solid ds_settings.$ds_colour__border--faint;
        margin: 0;
        position: relative;
    }

    &__link {
        @include ds_helpers.ds_blocklink();

        display: block;
        padding-bottom: 24px;
        padding-right: 32px;
        padding-top: 24px;
        text-decoration: none;
    }
}

@include ds_helpers.ds_media-query(medium) {
    .#{$site-prefix}policy-list {

        &__link {
            padding-top: 32px;
            padding-bottom: 32px;

            &:after {
                right: 25%;
            }
        }
    }
}
