/*------------------------------------*\
    CONTENT BLOCK
    used on homepage and topic pages
\*------------------------------------*/

$content-block-highlight-padding: 16px;

.#{$site-prefix}content-block {
    @include ds_responsive-margin(6, bottom);

    position: relative;

    &__highlight {
        background-color: $ds_colour__grey--lighter;
        margin-top: #{$content-block-highlight-padding * -1};
        padding: $content-block-highlight-padding;
    }

    &__title {
        @include ds_responsive-margin(3, bottom);

        display: inline-block;
        position: relative;
        padding-top: 8px;

        &::before {
            background-color: $ds_colour__brand;
            content: '';
            height: 4px;
            position: absolute;
            top: -4px;
            width: 100%;
        }
    }

    &__title-link {
        color: currentColor;
    }

    &__subtitle {
        font-size: inherit;
    }
}
