/*------------------------------------*\
    #SEARCH RESULTS
\*------------------------------------*/

.search-results-overlay {
    background: rgba(255,255,255,0.8);
    bottom:0;
    left:0;
    position: absolute;
    right:0;
    top:0;
}

.search-results__list {
    list-style: none;
    margin: 21px 0 0 -40px;

    .listed-content-item {
      max-width: none;
      margin: 0 -15px;
    }

    li:before {
        content: none;
    }
}

.search-results__header {
    overflow: hidden;
}

.search-results-header__left {
    float: left;
}

.search-results-header__right {
    float: right;
    margin-top: 21px;
    width: auto;
}

.search-results__count {
    margin: 0;
}

.search-results__item >
.listed-content-item__link >
.listed-content-item__article {
    overflow: hidden;
}

@include media-query(medium) {
    .search-results__list {
        margin: 21px 0 0 0;

        .listed-content-item {
          margin: 0;
        }
    }
}
