.hero-item{
    margin-bottom: 28px;

    &__figure {
        background: #333;
        margin-bottom: 0;
        overflow: hidden;
        padding-bottom: calc(900%/16);
        pointer-events: none;
        position: relative;
        z-index: 1;
    }

    &__image {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;

        object-fit: cover;
        width: 100%;
    }

    &__title {
        margin-top: 0;
    }

    &__media {
        padding-bottom: 14px;
    }

    p, ul, ol {
        margin-bottom: 14px;
    }
}

.homepage-hero__sub {
    h2 {
        font-size: 21px;
        line-height: 28px;
    }

    .hero-item__content {
        font-size: 16px;
        line-height: 21px;
    }

    > :last-child {
        margin-bottom: 0;
    }
}

@include media-query(large) {
    .homepage-hero__main {
        > :last-child {
            margin-bottom: 0;
        }
    }
}

@include media-query(xlarge) {
    .homepage-hero:not(.homepage-hero--1) {
        .homepage-hero__main {
            position: relative;

            &::before {
                background-color: $color__border--base;
                bottom: 0;
                content: '';
                position: absolute;
                right: -65px;
                top: 0;
                width: 1px;
            }
        }
    }

    .homepage-hero--4 .homepage-hero__sub {
        .hero-item:not(:last-child) {
            border-bottom: 1px solid $color__border--base;
            padding-bottom: 14px;
        }
    }
}




// layout
.homepage-hero {
    @include layout();

    @include media-query(large) {
        &--2 &__main,
        &--3 &__main {
            @include colwidth(8);
            float: left;
        }

        &--2 &__sub,
        &--3 &__sub {
            @include colwidth(4);
            float: left;
        }

        &--4 &__main {
            @include colwidth(7);
            float: left;
        }

        &--4 &__sub {
            @include colwidth(5);
            float: left;
        }
    }

    @include media-query(xlarge) {
        &--2 &__main,
        &--3 &__main {
            @include colwidth(7);
        }

        &--2 &__sub,
        &--3 &__sub {
            @include colwidth(4);
            @include colpush(1);
        }

        &--4 &__main {
            @include colwidth(6);
        }

        &--4 &__sub {
            @include colwidth(5);
            @include colpush(1);
        }
    }
}

.hero-item {
    @include layout();
}




/*  ONE ITEM  */
.homepage-hero--1 .homepage-hero__main {
    @include media-query(large) {
        .hero-item {
            &__media {
                @include colwidth(8);
                float: left;
            }

            &__content {
                @include colwidth(4);
                float: left;
            }
        }
    }
}




/*  TWO ITEMS  */
.homepage-hero--2 {
    .homepage-hero__sub .hero-item {
        &__media {
            @include colwidth(4);
            float: left;
        }

        &__content {
            @include colwidth(8);
            float: left;
            margin-left: -15px;
        }

        @include media-query(large) {
            &__media {
                @include colwidth(12);
                float: none;
            }

            &__content {
                @include colwidth(12);
                float: none;
                margin-left: 0;
            }
        }

        @include media-query(xlarge) {
            &__media {
                @include colwidth(9);
            }

            &__content {
                @include colwidth(12);
            }
        }
    }
}




/*  THREE ITEMS  */
.homepage-hero--3 {
    .homepage-hero__sub .hero-item {
        &__media {
            @include colwidth(4);
            float: left;
        }

        &__content {
            @include colwidth(8);
            float: left;
            margin-left: -15px;
        }

        @include media-query(large) {
            &__media {
                @include colwidth(9);
                float: none;
            }

            &__content {
                @include colwidth(12);
                float: none;
                margin-left: 0;
            }
        }

        @include media-query(xlarge) {
            &__media {
                @include colwidth(3, 4);
            }

            &__content {
                @include colwidth(12);
            }
        }
    }
}




/*  FOUR ITEMS  */
.homepage-hero--4 {
    .homepage-hero__sub .hero-item {
        &__media {
            @include colwidth(4);
            float: left;
        }

        &__content {
            @include colwidth(8);
            float: left;
            margin-left: -15px;
        }

        @include media-query(large) {
            &__media {
                @include colwidth(2, 5);
            }

            &__content {
                @include colwidth(3, 5);
            }
        }
    }
}




@supports (display: grid) {
    /* GRID VERSION */
    .homepage-hero {
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: 'm m m m m m' 's s s s s s';
    }

    // need to override some fallbacks
    .homepage-hero__main,
    .homepage-hero__sub,
    .hero-item__content,
    .hero-item__media {
        float: none !important;
        margin: 0 !important;
        width: auto !important;
    }

    @include media-query(large) {
        .homepage-hero {
            grid-template-columns: repeat(12, 1fr);
            grid-template-areas: 'm m m m m m m m s s s s';
        }

        .homepage-hero--1 {
            grid-template-areas: 'm m m m m m m m m m m m'
                                 's s s s s s s s s s s s';
        }

        .homepage-hero--4 {
            grid-template-areas: 'm m m m m m m s s s s s';
        }
    }

    @include media-query(xlarge) {
        .homepage-hero {
            grid-template-areas: 'm m m m m m m . s s s s';
        }

        .homepage-hero--1 {
            grid-template-areas: 'm m m m m m m m m m m m'
                                 's s s s s s s s s s s s';
        }

        .homepage-hero--4 {
            grid-template-areas: 'm m m m m m . s s s s s';
        }
    }

    .homepage-hero__main {
        grid-area: m;
    }

    .homepage-hero__sub {
        grid-area: s;
    }




    .homepage-hero__main .hero-item {
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: 'm m m m m m' 'c c c c c c';
    }

    .homepage-hero__sub .hero-item {
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: 'm m c c c c';
        grid-gap: 0 15px;
    }

    .homepage-hero--2 .homepage-hero__sub .hero-item,
    .homepage-hero--3 .homepage-hero__sub .hero-item {
        grid-gap: 0 30px;
    }

    .homepage-hero .hero-item {
        &__media {
            grid-area: m;
        }

        &__content {
            grid-area: c;
        }
    }

    @include media-query(large) {
        .homepage-hero--1 .homepage-hero__main .hero-item {
            grid-template-columns: repeat(12, 1fr);
            grid-template-areas: 'm m m m m m m m c c c c';
        }

        .homepage-hero--2 .homepage-hero__sub .hero-item {
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas: 'm m m m' 'c c c c';
        }

        .homepage-hero--3 .homepage-hero__sub .hero-item {
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas: 'm m m .' 'c c c c';
        }

        .homepage-hero--4 .homepage-hero__sub .hero-item {
            grid-template-columns: repeat(5, 1fr);
            grid-template-areas: 'm m c c c';
        }
    }

    @include media-query(xlarge) {
        .homepage-hero--1 .hero-item {
            grid-template-columns: repeat(12, 1fr);
            grid-template-areas: 'm m m m m m . c c c c c';
        }

        .homepage-hero--2 .homepage-hero__sub .hero-item {
            grid-template-areas: 'm m m .' 'c c c c';
        }

        .homepage-hero--3 .homepage-hero__sub .hero-item {
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas: 'm m m .' 'c c c c';
        }

        .homepage-hero--4 .homepage-hero__sub .hero-item {
            grid-template-columns: repeat(5, 1fr);
            grid-template-areas: 'm m c c c';
        }
    }
}
