/*------------------------------------*\
    #HOMEPAGE: ABOUT
\*------------------------------------*/

.homepage-about {
  margin-bottom: 56px;

  &__title {
    font-size: 21px;
    font-weight: 400;
    line-height: 28px;
    margin: 14px 0 21px;
  }

  &__image-container {
    margin: 0 -15px 21px;
  }

  &__image {
    width: 100%;
  }

  &__grid-item + &__grid-item {
    margin-top: 15px;
  }

  &__read-more {
    margin-top: -14px;
  }
}

@include media-query(medium) {
  .homepage-about {

    &__grid-item + &__grid-item {
      margin-top: 0;
    }

    &__image-container {
      margin-left: 0;
      margin-right: 0;
    }

    &__leader {
      font-size: 21px;
      margin-top: -9px;
    }
  }
}

@include media-query(medium-to-large) {
  // special case for "homepage about" stat boxes
  // take mobile size for tablet resolution
  .homepage-about {
    .stat-box {
      min-height: 119px;

      &__value {
        font-size: 56px;
        line-height: 84px;
      }

      &__label {
        top: 74px;
      }

      &__label-text {
        font-size: 12px;
        line-height: 14px;
      }

      + .stat-box {
        margin-left: 5%;
      }
    }
  }
}

@include media-query(large) {
  .homepage-about {
    &__title {
      font-size: 26px;
      line-height: 35px;
      margin-bottom: 28px;
    }

    .narrow {
      padding-right: 30px;
    }

    &__image {
      margin-top: 7px;
    }
  }
}