%inner-shadow-top {
  position: relative;

  &:before {
    border-top: 1px solid $color__grey--light;
    display: block;
    content: '';
    height: 7px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;

    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 0%,rgba(0, 0, 0, 0) 100%);
  }
}

%inner-shadow-bottom {
  position: relative;

  &:after {
    border-bottom: 1px solid $color__grey--light;
    bottom: 0;
    display: block;
    content: '';
    height: 7px;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 1;

    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0.05) 100%);
  }
}

%inner-shadow-right {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    width: 7px;
    height: 100%;
    border-right: 1px solid $color__grey--light;
    z-index: 1;

    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0.05) 100%);
  }
}

.inner-shadow-top {
  @extend %inner-shadow-top;
}

.inner-shadow-right {
  @extend %inner-shadow-right;
}

@include media-query(medium-down) {
  .inner-shadow-top--no-mobile,
  .inner-shadow-right--no-mobile {
    &:before {
      content: none;
    }
  }
}

@include media-query(medium) {
  .inner-shadow-top--no-desktop {
    &:before {
      content: none;
    }
  }
}

%small-arrow-right {
  $small-arrow-position: relative !default;

  position: $small-arrow-position;

  &:after {
    $arrow-icon-height: 16px;
    background: url(../../../../assets/images/icons/arrows/small_arrow_right.png);
    @include image-2x('../../../../assets/images/icons/arrows/small_arrow_right_@2x.png', 8px, 16px);

    content: '';
    height: $arrow-icon-height;
    margin-top: $arrow-icon-height * -0.5;
    position: absolute;
    right: 10px;
    top: 50%;
    width: 8px;
  }
}

%small-arrow-right--white {
    &:after {
        background-image: url(../../../../assets/images/icons/arrows/small_arrow_right_white.png);
        @include image-2x('../../../../assets/images/icons/arrows/small_arrow_right_white_@2x.png', 8px, 16px);
    }
}
