/*------------------------------------*\
    #MAIN NAVIGATION
\*------------------------------------*/

$main-menu__button__size: 56px;

.main-nav {

  &__list {
    $main-nav__list__margin: 15px;

    left: 100%;
    list-style-type: none;
    margin: 0 $main-nav__list__margin * -1;
    position: absolute;
    right: 0;
    z-index: 1001;

    @include transition(left $transition-in-time);
  }

  &__item {
    margin-bottom: 1px;
  }

  &__link {
    background: $color__blue--base;
    color: $color__white;
    display: block;
    padding: 8px 15px;

    @include transition(background-color $transition-in-time);

    &:hover,
    &:active {
      background: $color__link--hover;
      color: $color__white;
    }
  }
}

/*
 * MOBILE NAV
 */
.mobile-main-nav {
  &.mobile-layer--open {
    .main-nav__list {
      left: 0;
    }
  }
}

@include media-query(tablet) {
  .main-nav {

    &__button {
      display: none;
    }

    /**
     * 1. -1px from grid multiple because of 1px site header bottom border
     */
    &__list {
      background: $color__white;
      display: table;
      font-size: 14px;
      height: 79px; /* [1] */
      margin: 0;
      padding-left: 0;
      position: static;
      width: 100%;

      @include transform(none);

      @include transition(none);

      &--open {
        display: table;
        max-height: auto;

        @include transition(none);
      }
    }

    &__item {
      display: table-cell;
      text-align: center;
      vertical-align: middle;

      &--active {
        background: $color__blue--base;

        a {
          color: $color__white;
        }
      }
    }

    &__link {
      background: transparent;
      border: 0px solid transparent;
      border-bottom-color: $color__blue--base;
      color: $color__body;
      display: table;
      height: 100%;
      padding: 0;
      text-decoration: none;
      width: 100%;

      /**
       * 1. animate top and bottom to keep text centered
       */
      &:hover {
        background: transparent;
        border-width: 5px 0; /* [1] */
        color: $color__body;
      }

      &:active {
        background: $color__blue--base;
        color: $color__white;
        outline: 0;
      }
    }

    &__title {
      display: table-cell;
      padding: 0 10px;
      vertical-align: middle;
    }
  }

  // override anchor transition (which is color)
  a.main-nav__link {
    @include transition(border-width $transition-in-time);
  }
}

@include media-query(desktop) {
  .main-nav {
    &__list {
      font-size: 16px;
    }
  }
}

