$notification_padding: 14px;

.notification {

  /**
   * BLOCK
   */
  background-color: $color__grey--light;
  padding: $notification_padding;

  /**
   * 1. Position wrapper so that we can position the close button
   *    with respect to it.
   */
  .wrapper {
    position:relative; /* [1] */
  }


  /**
   * ELEMENTS
   */

  &__close {
    position: absolute;
    top: -5px;
    right: 0;
    border: 0;
    height: 35px;
    width: 35px;
    text-indent: 200%;
    overflow: hidden;
    background: url('../images/icons/close-blue.png') no-repeat;
    @include image-2x('../images/icons/close-blue_@2x.png', 35px, 35px);
    @include transition(opacity 1s);

    &:hover,
    &:active {
      opacity: 0.5;

      @include transition(opacity 0.2s);
    }
  }

  p {
    margin: 0px;
    margin-right: 49px;
    }
    p + p {
      margin-top: 14px;
    }


    /**
     * MODIFIERS
     */
    &--dark {
      background-color: $color__grey--dark;
      color: white;


      a, a:link, a:visited, a:hover, a:active {
        color: white;
        @include transition(opacity 1s);

        &:hover,
        &:active {
          opacity: 0.75;
          @include transition(opacity 0.2s);
        }
      }


      .notification__close {
        background: url('../images/icons/close-white.png') no-repeat;
        @include image-2x('../images/icons/close-white_@2x.png', 35px, 35px);
      }

    }

    &--gold {
      overflow: auto;
      color: $color__grey--dark;
      background-color: $color_gold;
      line-height: 35px;

      .wrapper {
        padding: 0 14px;
      }

      p {
        font-size: 18px;
        line-height: 35px;
        color: #333;
        padding: 7px 0;
      }

      a {
        color: $color__grey--dark;
        font-weight: 700;
      }

      .notification__extra-content {
        overflow: auto;
      }

      .notification__beta-box {
        display: inline-block;
        background: black;
        color: $color_gold;
        padding: 7px 14px;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 21px;
      }

      .notification__btn {
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        text-align: center;
        text-transform: uppercase;
        border: 1px solid $color__grey--dark;
        word-break: normal;
        padding: 7px 14px;
        width: 100%;

        &:hover {
          background: rgba(255, 255, 255, 0.5);
        }
      }


      .notification__close {
        top: 0;
        right: 14px;
        background: url("../images/icons/close-grey.png") no-repeat;
        @include image-2x('../images/icons/close-grey_@2x.png', 35px, 35px);
      }
    }
}

@include media-query(desktop) {
  .notification {
    &--gold {
      .notification__close {
        display: none;
      }

      .notification__extra-content {
        overflow: auto;
      }

      .notification__beta-box {
        line-height: 35px;
        float: left;
      }

      p {
        display: inline-block;
        width: auto;
        padding: 7px 14px;
      }

      .grid {
        float: right;
      }

      .grid__item {
        display: inline-block;
        width: auto;
        padding: 0 0 0 10px;
      }

    }
  }
}
