/*------------------------------------*\
    #SITE BRAND
\*------------------------------------*/

.site-brand {
  display: table;
  height: 56px;

  &__link {
    display: table-cell;
    vertical-align: middle;
  }

  &__logo {
    display: block;
    height: 40px;
    width: 195px;
    background-size: 100%;
    transition: none;
    @include transition(all $transition-in-time);
    img {
      height: 100%;
      width: 100%;
    }
  }
}


@include media-query(tablet) {
  .site-brand {
    height: 72px;
    position: absolute;

    &__logo {
      @include transition(all 0);
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}

@include media-query(desktop) {
  .site-brand {
    &__logo {
      height: 47px;
      width: 230px;
    }
  }
}

@include media-query(hd) {
  .site-brand {
    height: 80px;

    &__logo {
      height: 53px;
      width: 262px;
    }
  }
}
