/*------------------------------------*\
    #NOTIFICATION
\*------------------------------------*/


$notification_padding: 14px;

/**
 * 1. Notifications should display on top
 */
.notification-wrapper {
  position: relative;
  z-index: 9999; /* [1] */
}

.notification {

  /**
   * BLOCK
   */
  background-color: $color__grey--light;
  padding: $notification_padding;

  /**
   * 1. Position wrapper so that we can position the close button
   *    with respect to it.
   */
  .wrapper {
    position:relative; /* [1] */
  }


  /**
   * ELEMENTS
   */

  &__close {
    position: absolute;
    top: -5px;
    right: 0;
    border: 0;
    height: 35px;
    width: 35px;
    text-indent: 200%;
    overflow: hidden;
    background: url('../images/icons/close-blue.png') no-repeat;
    @include image-2x('../images/icons/close-blue_@2x.png', 35px, 35px);
    @include transition(opacity 1s);

    &:hover,
    &:active {
      opacity: 0.5;

      @include transition(opacity 0.2s);
    }
  }

  p {
    margin: 0px;
    margin-right: 49px;
    }
    p + p {
      margin-top: 14px;
    }


    /**
     * MODIFIERS
     */
    &--dark {
      background-color: $color__grey--dark;
      color: white;


      a, a:link, a:visited, a:hover, a:active {
        color: white;
        @include transition(opacity 1s);

        &:hover,
        &:active {
          opacity: 0.75;
          @include transition(opacity 0.2s);
        }
      }


      .notification__close {
        background: url('../images/icons/close-white.png') no-repeat;
        @include image-2x('../images/icons/close-white_@2x.png', 35px, 35px);
      }

    }

    &--gold {
      color: $color__grey--dark;
      background-color: $color_gold;
      padding: 0 14px;

      .wrapper {
        padding: 0;
      }

      p {
        color: $color__body;
        padding: 0;
        margin: 14px 0;
      }

      a {
        color: $color__grey--dark;
        font-weight: 700;
      }

      .notification__main-content {
        height: 42px;
      }

      .notification__extra-content {
        overflow: auto;
      }

      .notification__beta-box {
        display: inline-block;
        background: $color__grey--dark;
        color: $color_gold;
        text-transform: uppercase;
        font-weight: 700;
        padding: 1px 14px;
        margin: 10.5px 0;
      }

      .notification__btn {
        text-decoration: none;
        display: inline-block;
        font-size: 13px;
        text-align: center;
        text-transform: uppercase;
        border: 1px solid $color__grey--dark;
        word-break: normal;
        padding: 6px 10px;
        margin: 0 0 21px 0;
        width: 100%;

        &:hover {
          background: rgba(0, 0, 0, 0.05);
        }

        &:active {
          background: rgba(0, 0, 0, 0.1);
          outline: none;
        }
      }

      .notification__close {
        top: 0;
        right: -15px;
        margin: 0;
        height: 42px;
        width: 42px;
        background: url("../images/icons/grey_arrow_up.png") no-repeat;
        @include image-2x('../images/icons/grey_arrow_up_@2x.png', 35px, 35px);

        &:focus {
          outline: none;
        }
      }

      .notification__close--minimised {
        background: url("../images/icons/grey_arrow_down.png") no-repeat;
        @include image-2x('../images/icons/grey_arrow_down_@2x.png', 35px, 35px);

      }
    }
}



@include media-query(tablet) {
  .notification {
    &--gold {
      .wrapper {
        padding: 0 15px;
      }

      .notification__btn {
        margin: 0;
      }
      .notification__close {
        display: none;
      }

      .notification__main-content {
        height: auto;
      }

      .notification__extra-content {
        overflow: auto;
      }

      .notification__beta-box {
        float: left;
        margin: 10.5px 0;
        padding: 6px 10px;
      }

      .notification__btn {
        margin: 10.5px 0;
      }

      p {
        display: inline-block;
        width: auto;
        padding: 7px;
        margin: 10.5px 0;
      }

      .grid {
        float: right;
        margin: 0;
      }

      .grid__item {
        display: inline-block;
        width: auto;
        padding: 0 0 0 10px;
      }
    }

    &--dark {
      .notification__close {
        right: 10px;
      }
    }
  }
}
