/*------------------------------------*\
    #SEARCH BOX
\*------------------------------------*/

$search-box__box-size: 56px;

.search-box {
  position: relative;
  width: 100%;

  &__input[type=text] {
    border-right: 0;
    float: right;
    font-size: 19px;
    height: $search-box__box-size;
    margin-right: $search-box__box-size;
    width: calc(100% - #{$search-box__box-size});
  }

  &__button {
    height: $search-box__box-size;
    font-size: $search-box__box-size * 0.5;
    position: absolute;
    right: 0;
    top: 0;
    width: $search-box__box-size;
  }

  &--mobile {
    left: 0;
    position: absolute;
    right: 0;
    width: auto;
    z-index: 101;

    @include transition(margin-top $transition-in-time);
  }
}

/*
 * MOBILE SEARCH
 */
.mobile-search {
  &.mobile-layer--open {
    .search-box--mobile {
      margin-top: 16px;
    }
  }
}

@include media-query(tablet) {
  .search-box {
    &__input {
      @include transition(width $transition-in-time);

      &--expandable:focus {
        width: calc(136% - #{$search-box__box-size});         // OR the next line
        width: calc(100% + 101px - #{$search-box__box-size}); // ([full width] + [width of 1 column] - [button width])
      }

      &:focus {
        font-size: 22px;
        font-weight: 300;
      }
    }
  }
}
