/*------------------------------------*\
    #STAT BOX
\*------------------------------------*/

.stat-boxes {
  overflow: hidden;
}

.stat-box {
  border: 1px solid $color__grey--dark;
  border-width: 1px 0;
  color: $color__grey--dark;
  display: block;
  float: left;
  margin: 0 0 28px;
  min-height: 119px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 30%;

  @include transition(color $transition-in-time, border-color $transition-in-time);

  &__value {
    display: block;
    font-size: 56px;
    font-weight: 900;
    line-height: 84px;
  }

  &__label {
    top: 74px;
    display: table;
    height: 35px;
    position: absolute;
    width: 100%;
  }

  &__label-text {
    display: table-cell;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: center;
    vertical-align: middle;
  }
}

a.stat-box {
  &:hover,
  &:focus {
    border-color: $color__link--primary;
    color: $color__link--primary;
    text-decoration: none;

    @include transition-duration($transition-in-time);
  }

  &:active {
    background: $color__blue--lighter;
    color: $color__link--primary;
    outline: 0;
  }
}

.stat-box + .stat-box {
  margin-left: 5%;
}

@include media-query(tablet) {
  .stat-box {
    margin: 0 0 42px;
    min-height: 133px;

    &__value {
      font-size: 70px;
      line-height: 97px;
    }

    &__label {
      top: 82px;
    }

    &__label-text {
      font-size: 15px;
      line-height: 21px;
    }
  }
}
