/*------------------------------------*\
    #PULL QUOTE
\*------------------------------------*/

.pull-quote {
  color: $color__grey--darkest;
  display: none;
  font-size: 26px;
  font-weight: 100;
  line-height: 32px;
  margin: 23px 0 0 0;
  padding-right: 30px;
  position: relative;

  &--border {
    &:before {
      border-top: 1px solid $color__grey--base;
      content: '';
      left: 0;
      position: absolute;
      right: 70%;
    }
  }
}

@include media-query(tablet) {
  .pull-quote {
    display: block;
  }
}


@include media-query(desktop) {
  .pull-quote {
    font-size: 34px;
    line-height: 40px;
  }
}
