/*------------------------------------*\
    #MEDIA LOGIN BOX
\*------------------------------------*/

.media-login {
  display: none;
  padding: 16px 16px 8px;
  background-color: $color__blue--lightest;

  &__header {
    font-size: 24px;
    margin: 8px auto 16px;
  }
}


@include media-query(tablet) {
}


@include media-query(desktop) {
  .media-login {
    display: block;
  }
}
