
.publication-content {

  border-bottom: 1px solid $color__grey--pale;

  h3 {
    margin-bottom: 21px;
    font-size: 22px;
    line-height: 35px;
  }

  img {
    max-width: 100%;
  }

  @include media-query(tablet-down) {
    margin-left: -15px;
    margin-right: -16px;
    padding: 35px 15px;
  }

  @include media-query(tablet) {
    padding-top: 56px;
  }
}


.publication-section {
  color: $color__grey--base;
  margin: 21px 0;
  font-size: 15px;

  &__current {
    font-weight: 600;
  }
}
