/*------------------------------------*\
    #TITLE WITH PREFIX
\*------------------------------------*/

.title-with-prefix {
  &__prefix {
    display: block;
    font-size: $base-font-size;
    font-weight: 400;
    margin: 0;
  }

  &__title {
    border-bottom: 1px solid $color__link--primary;
  }

  &__link {
    color: $color__grey--darkest;
    text-decoration: none;

    &:hover {
      color: $color__link--primary;
    }

    &:active {
      color: $color__link--active;
    }
  }
}

@include media-query(tablet) {
  .title-with-prefix {
    &__prefix {
      font-size: $tablet-font-size;
    }
  }
}
