/*------------------------------------*\
    #PERSON
\*------------------------------------*/

.person {
  margin-bottom: 32px;

  &__image-container {
    clear: left;
    float: left;
    margin-right: 20px;
    width: 130px;
  }

  &__text-container {
    padding-left: 150px;
  }

  &__image {
    display: block;
    width: 100%;
  }

  &__name {
    margin: 0 0 8px 0;
    line-height: 20px;

    &--link a {
      color: $color__body;
      font-weight: 700;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__role {
    font-size: $base-font-size;
    line-height: 20px;
  }

  &:after {
    clear: both;
    content: '';
    display: block;
  }
}

/*
Person sizes for particular templates
*/
body.org-roles,
body.person {
  .person__image {
    height: 130px;
    width: 130px;

    background: url(../images/people/placeholder.png);
    background-size: cover;

    @include media-query(bigphone) {
      height: 213px;
      width: 213px;
    }

    @include media-query(tablet) {
      height: 220px;
      width: 220x;
    }

    @include media-query(desktop) {
      height: 213px;
      width: 213px;
    }

    @include media-query(hd) {
      height: 263px;
      width: 263px;
    }
  }
}

body.directorate {
  .person__image {
    height: 130px;
    width: 130px;

    background: url(../images/people/placeholder.png);
    background-size: cover;

    @include media-query(bigphone) {
      height: 213px;
      width: 213px;
    }

    @include media-query(tablet) {
      height: 137px;
      width: 137px;
    }

    @include media-query(desktop) {
      height: 132px;
      width: 132px;
    }

    @include media-query(hd) {
      height: 165px;
      width: 165px;
    }
  }
}


@include media-query(bigphone) {
  .person {
    &__image-container {
      width: 213px;
    }

    &__text-container {
      padding-left: 233px;
    }
  }
}


@include media-query(tablet) {
  .person {
    &__image-container {
      float: none;
      margin: 0 0 16px 0;
      width: 100%;
    }

    &__text-container {
      float: none;
      padding-left: 0;
    }

    &__name {
      margin: 0 0 8px 0;
    }
  }
}

@include media-query(hd) {
  .person__role {
    font-size: $tablet-font-size;
    line-height: $base-line-height;
  }
}
