/*------------------------------------*\
    #APS PUBLICATION
\*------------------------------------*/

.publication-content {
  img {
    max-width: 100%;
  }

  @include media-query(tablet-down) {
    margin-left: -15px;
    margin-right: -16px;
    padding: 35px 15px;
  }

  @include media-query(tablet) {
    padding-top: 35px;
  }
}

.publication-section {
  color: $color__grey--base;
  margin: 21px 0;
  font-size: 15px;

  &__current {
    font-weight: 600;
  }
}

.publication-content td img {
    mix-blend-mode: multiply;
}

.publication-content p > img {
    display: block;
    margin: 14px 0;
}
