.mobile-only-accordion__item {
  display: none;
}

.mobile-only-accordion__item--open {
  display: block;
}

.mobile-only-accordion__title {
  display: none;
}

@include media-query(tablet-down) {

  .mobile-only-accordion {
    &__header {
      display: block;

      padding: 16px 15px 15px;
      position: relative;
      text-decoration: none;

      @include transition(background-color $transition-out-time);

      &:hover {
        background-color: $color__grey--lighter;
        @include transition(background-color $transition-in-time);
      }
    }

    &__toggle-indicator {
      font-size: 40px !important;
      height: 40px;
      position: absolute;
      right: 15px;
      top: calc(50% - 20px);
      width: 40px;
    }

    &__title {
      display: block;
      margin: 0;
      top: 0;
    }

    &__body {
      display: none;
      padding: 24px 15px 0;
    }

    &__item {
      border: 1px solid $color__grey--light;
      border-width: 1px 0;
      display: block;
      margin: 0 -15px;
    }

    &__item + .mobile-only-accordion__item {
      margin-top: -1px;
    }

    &__item--open {

      .mobile-only-accordion__header {
        background: $color__blue--base;
        transition: none;
      }

      .mobile-only-accordion__title {
        color: $color__white;
      }

      .mobile-only-accordion__body {
        display: block;
      }
    }
  }
}


