/*------------------------------------*\
    $item link
\*------------------------------------*/
/**
 * The item-link component is used in a variety of places where we want to
 * link to an item like a publication, consultation or even news.
 *
 * It contains the following elements;
 * - link
 * - tag(s)
 * - date
 */


$item-link-margin: 32px;
$item-link-element-margin: 16px !default;
$item-link-title-text-size: 14px !default;
$item-link-title-text-size-tablet: 17px !default;
$item-link-title-line-height: 16px !default;
$item-link-title-line-height-tablet: 24px !default;
$item-link-tag-text-size: 13px !default;
$item-link-tag-line-height: 15px !default;
$item-link-date-text-size: 13px !default;


.item-link {
  margin: 0 0 $item-link-margin;

  &__title {
    margin: 0 0 $item-link-element-margin;
    font-size: $item-link-title-text-size;
    line-height: $item-link-title-line-height;
  }
    &__link {
      text-decoration: none;
    }

  &__tags {
    margin: 0 0 $item-link-element-margin;
    font: {
      style: italic;
      size: $item-link-tag-text-size;
    }
    line-height: $item-link-tag-line-height;
    color: $color__grey--text;
  }
    &__tag {
    }

  &__date {
    font: {
      weight: bold;
      size: $item-link-date-text-size;
    }
    margin: 0 0 $item-link-element-margin;
    text-transform: uppercase;
  }

}


@include media-query(tablet) {
  .item-link__title {
    font-size: $item-link-title-text-size-tablet;
    line-height: $item-link-title-line-height-tablet;
  }
}
