/*------------------------------------*\
    $INFORMATIONAL NOTES
\*------------------------------------*/

.info-note {
  border-left: 4px solid $color__blue--light;
  clear: both;
  font-size: $mobile-font-size;
  line-height: 21px;
  margin: 33px 0 37px 0;
  padding: 13px 10px 13px 0;
  position: relative;
  top: 4px;

  p {
    margin-bottom: 0;
  }

  &.note {
    // icon
    &:before {
      background: url(../images/icons/note.png) no-repeat 0 0 transparent;
      content: '';
      height: 26px;
      left: 10px;
      position: absolute;
      top: 13px;
      width: 26px;

      @include image-2x('../images/icons/note.png', 26px, 26px);
    }

    border-width: 1px 0;
    border-color: $color__grey--dark;
    border-style: solid;
    font-size: 15px;
    padding-left: 49px;


    p {
      padding-top: 0px;
    }
  }

  &.caution {
    // icon
    &:before {
      background: url(../images/icons/caution.png) no-repeat 0 0 transparent;
      content: '';
      height: 36px;
      left: 10px;
      position: absolute;
      top: 15px;
      width: 36px;

      @include image-2x('../images/icons/caution.png', 36px, 36px);
    }

    border-width: 1px 0;
    border-color: $color__grey--dark;
    border-style: solid;
    background-color: inherit;
    padding: 16px 10px 20px 59px;
    font-weight: 600;

    p {
      padding-top: 4px;
    }
  }

  &.smallprint {
    background-color: inherit;
    border-left: 0px;
    font-size: 12px;
    padding: 0px 10px 0 0;
  }

  &.attribution {
    background: $color__grey--lighter;
    background-color: inherit;
    border-left: 4px solid $color__grey--dark;
    font-size: 14px;
    margin-top: 0;
    padding-top: 3px;
    padding-bottom: 4px;
    padding-left: 10px;
  }

  &.blockquote {
    border: 0;
    border-left: 4px solid $color__blue--light;
    padding: 13px 10px 14px 15px;
    font-style: italic;
    font-weight: 300;

    &:before {
      content: none;
    }

    cite {
      display: block;
      font-size: $mobile-milli-size;
      font-style: normal;
      font-weight: 400;
      margin-top: 8px;
    }
  }
}


@include media-query(tablet)  {
  .info-note {
    border-left: 4px solid $color__blue--light;
    font-size: $tablet-font-size;
    line-height: 28px;
    padding-right: 35px;
    margin-right: 125px;
    top: 0;

    &.note {
      font-size: 17px;
      padding: 13px 35px 13px 49px;
    }

    &.caution {
      &:before {
        left: 15px;
      }

      padding-right: 35px;
      padding-left: 64px;
    }

    &.smallprint {
      font-size: 14px;
      line-height: 21px;
      padding-right: 35px;
    }

    &.blockquote {
      cite {
        font-size: 16px;
      }
    }
  }
}

@include media-query(desktop)  {
  .info-note {
    margin-right: 81px;
  }
}

@include media-query(hd)  {
  .info-note {
    margin-right: 98px;
  }
}
