/*------------------------------------*\
    #CONTACT INFORMATION
    details about a person (or role)
\*------------------------------------*/



.contact-information {
  &__section-title {
    font-size: 1em;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  &__section-subtitle {
    font-size: 1em;
    margin-bottom: 0;
  }

  &__email {
    word-break: break-word;
  }
}

@include media-query(tablet) {

  .contact-information {
    font-size: 15px;
    line-height: 24px;
  }

}
