.article-nav {
  &__list {
    list-style-type: none;
    margin: 0 0 24px 0;
  }

  &__item {
    border: 1px solid $color__grey--light;
    border-width: 1px 0;
    margin: 0 0 -1px 0;
  }

  &__title {

    display: block;
    padding: 16px 15px 15px;
    text-decoration: none;

    &--link {
      @include transition(background-color $transition-out-time);

      &:hover {
        background-color: $color__grey--lighter;
        @include transition(background-color $transition-in-time);
      }
    }

      &--no-link {
      background-color: $color__blue--base;
      color: $color__white;
    }
  }


}
