.publication-body {
  margin-top: 35px;
}

.publication-info {
  &__preamble {
    border: 1px dashed $color__grey--pale;
    border-width: 1px 0;
    font-size: 14px;
    margin-bottom: 0;
    min-height: 79px;
    padding: 14px 0;

    &--icon {
      padding-left: 44px;
      position: relative;
    }
  }

  &__file-icon {
    left: 0;
    position: absolute;
    top: 10px;
  }

  &__preamble-expand {
    font-weight: 700;
    text-transform: uppercase;
  }

  &__collapsible {
    // collapsible panel is initially collapsed on mobile
    &--collapsed-initial {
      display: none;
    }
  }

  &__body {
    margin: -1px -15px 0;
    overflow: hidden;
    padding: 0 15px;
    
    @include background-image(linear-gradient($color__grey--lighter, $color__grey--lighter, $color__white));

    @extend %inner-shadow-bottom;
    @extend %inner-shadow-top;

    &:before {
      height: 15px;
    }
  }

  &__section {
    padding-top: 42px;
    padding-bottom: 28px;

    &:first-child {
      padding-top: 35px;
    }

    h2, .beta,
    h3, .gamma {
      margin-top: 0;
    }
  }

  &__contact {
    font-size: 15px;
  }
}

@include media-query(tablet) {
  .publication-info {
    &__collapsible {
      // collapsible panel is NOT initially collapsed on tablet and above
      &--collapsed-initial {
        display: block;
      }

      &--not-tablet {
        display: block !important;
      }
    }

    &__body {
      background-color: $color__grey--lighter;
      margin: 0;

      &:after {
        content: none;
      }
    }
  }
}
