.multipage-nav {
  margin-top: 24px;

  &__container {
    display: table;
    margin-bottom: 24px;
    min-height: 63px;
    position: relative;
    width: 100%;
  }

  &__link {
    border: 1px solid $color__blue--base;
    border-width: 1px 0;
    display: table-cell;
    line-height: 20px;
    padding: 0 20px;

    text-decoration: none;
    vertical-align: middle;

    &--next {
      padding-right: 46px;
      text-align: right;
    }

    &--previous {
      padding-left: 46px;
      text-align: left;
    }

    &:hover {
      background-color: $color__grey--lighter;
      border-color: $color__link--hover;
    }

    &:active {
      outline: none;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    margin-top: -15px;

    &--left {
      left: 10px;
    }

    &--right {
      right: 10px;
    }
  }
}
