/*------------------------------------*\
    # News grid
    Shows three news item equal sizes
    With a pinned subscribe button.
\*------------------------------------*/

.news-grid {
  position: relative;

  &__item {
    margin: 0 0 40px;
  }

  &__date {
    font-size: 13px;
    text-transform: uppercase;
    line-height: 16px;
    padding-left: 8px;
    border-left: 3px solid $color__blue--base;
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    margin: 12px 0 8px;

    @include heading-link;
  }


}

.news-subscribe-pin {
  display: none;
}


@include media-query(tablet) {

  .news-subscribe-pin {
    background-color: $color__grey--lighter;
    display: block;
    font-size: 14px;
    line-height: 20px;
    padding: 16px 32px;
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;

    a {
      text-decoration: none;
    }

    strong {
      display: block;
      font-weight: bold;
      text-transform: uppercase;
    }
  }


}


@include media-query(desktop) {

}
