/*------------------------------------*\
    #CONTENT DATA
    metadata block at the top of content items
\*------------------------------------*/

.content-data {
  font-size: 12px;
  margin-bottom: 35px;
  position: relative;

  &__expandable {
    position: relative;
  }

  &__toggle {
    position: absolute;
    right: 0;
    top: -4px;
  }

  &__list {
    color: $color__grey--dark;
    line-height: 16px;
    margin: 0;
    padding-right: 40px;
  }

  &__label {
    color: $color__grey--text;
    display: inline;
  }

  &__value {
    display: inline;
    margin: 0;

    &:after {
      content: '';
      display: block;
      margin-bottom: 8px;
    }
  }

  &__expand {
    display: none;
  }
}

@include media-query(tablet) {
  .content-data {
    font-size: 14px;

    &__toggle {
      display: none;
    }

    &__list {
      height: auto;
      overflow: visible;
      padding-right: 0;
      white-space: normal;
    }

    &__expand {
      display: inline;
    }

    &__additional {
      display: none;

      &--shown {
        display: inline;
      }
    }
  }
}
