/*------------------------------------*\
    #ARTICLE HEADER
\*------------------------------------*/

.article-header {
  margin: 48px 0 64px;

  &__title {
    margin-bottom: 0;
  }

  &__subtitle {
    color: $color__black;
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 0;
  }

  &__subtitle-link {
    border-bottom: 1px solid $color__blue--base;
    color: $color__black;
    display: inline;
    line-height: 1em;
    text-decoration: none;

    &:hover {
      color: $color__link--primary;
    }

    &:active {
      color: $color__link--active;
    }
  }
}
