/*------------------------------------*\
    #SEARCH RESULTS
\*------------------------------------*/

.search-results {
  margin-top: 9px;
}

.search-results__list {
  list-style: none;
  margin: 21px 0 0 -40px;
}

.search-results__header {
  overflow: hidden;
}

.search-results-header__left {
  float: left;
}

.search-results-header__right {
  float: right;
  width: auto;
}

.search-results__count {
  margin: 0;
}

.search-result {
  margin: 0 -15px;

  &__link {
    display: block;
    position: relative;
    text-decoration: none;

    @include transition(background-color $transition-out-time);

    &:hover {
      background-color: $color__grey--lighter;
      text-decoration: none;

      @include transition-duration($transition-in-time);

      .search-result__title {
        text-decoration: underline;
      }
    }

    &:active {
      background: $color__blue--lightest;
      outline: none;

      @include transition(none);
    }
  }

  &__article {
    border-bottom: 1px solid $color__grey--light;
    margin: 0 15px;
    padding: 21px 0 20px;

    &--top-border {
      border-top: 1px solid $color__grey--pale;
    }
  }

  &__title {
    color: $color__blue--base;
    margin: 1px 0 6px;
    //padding-right: 90px;
    text-decoration: none;
  }

  &__date {
    color: $color__grey--text;
    font-size: 14px;
    margin: 1px 0 6px;
    text-decoration: none;
  }

  &__summary {
    color: $color__body;
    margin-bottom: 0;
  }
}

@include media-query(tablet) {
  .search-result {
    margin: 0;

    &__article {
      margin: 0;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .search-results__count {
    padding-left: 15px;
  }

  .search-results__list {
    margin-left: 0;
  }
}
