// this cannot currently use BEM because this is all using nested markdown lists

.page-subnav {
  margin-top: -3px;

  ul {
    list-style-type: none;
    margin: 0 0 24px;

    li {
      margin: 8px 0;
    }

    ul {
      margin-left: 25px;
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
