/*------------------------------------*\
    #SITE HEADER
\*------------------------------------*/

.site-header {
  background-color: $color__white;
  border-top: 8px solid $color__blue--base;
  border-bottom: 1px solid $color__grey--light;
  height: 64px;
  margin-bottom: 16px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1001;

  @include transition(all $transition-in-time);

  // BUTTONS

  &__buttons {
    position: absolute;
    right: 10px;
    top: 8px;
  }

  &__button {
    font-size: 12px;
    line-height: 16px;
    padding: 4px 3px 4px 3px;
    vertical-align: top;
    outline: 0;

    &--menu {
      // The menu icon is a bit taller, so remove padding on bottom
      padding-bottom: 0;
    }

    &--selected .site-header__button--search {
      background-color: $color__grey--light;
    }

    &--selected .site-header__button--menu {
      background-color: $color__blue--base;
    }

    &__button:focus {

    }

  }

  // ICONS

  &__icon {
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    height: 35px;
    text-indent: -999em;
    width: 35px;
  }

  &__icon--search {
    background-image: url('../images/icons/search-blue.png');
    background-position: 0 -4px;
    @include image-2x('../images/icons/search-blue_@2x.png', 35px, 35px);
  }

  &__icon--menu {
    background-image: url('../images/icons/menu.png');
    @include image-2x('../images/icons/menu_@2x.png', 35px, 40px);
    width: 35px;
    height: 40px;
  }

  // SELECTED ICONS

  &__button--selected {

    .site-header__icon--search {
      background-image: url('../images/icons/close-blue.png');
      background-position: 0 0;
      @include image-2x('../images/icons/close-blue_@2x.png', 35px, 35px);
    }

    .site-header__icon--menu {
      background-image: url('../images/icons/close-white.png');
      @include image-2x('../images/icons/close-white_@2x.png', 35px, 35px);
    }

  }

}

.site-header__container {
  // should be applied to the <body> tag
  // should equal the height of the header
  margin-top: 72px;
}

// A variation that is added by JavaScript automatically
// when scrolling has reached a certain point.
.site-header--scaled {

  height: 52px;
  border-top-width: 4px;

  // Drop shadow;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(114, 114, 114, 0.25);
  -moz-box-shadow: 0px 3px 10px 0px rgba(114, 114, 114, 0.25);
  box-shadow: 0px 3px 10px 0px rgba(114, 114, 114, 0.25);

  .site-brand__logo {
    width: 155px;
    height: 30px;
  }

  .site-brand {
    height: 48px;
  }

  .site-header__buttons {
    top: 4px;
  }

  // ICONS - REDUCED

  .site-header__icon--search {
    background-image: url('../images/icons/search-blue-reduced.png');
    background-position: 0 -2px;
    @include image-2x('../images/icons/search-blue-reduced_@2x.png', 35px, 35px);
  }

  .site-header__icon--menu {
    background-image: url('../images/icons/menu-reduced.png');
    @include image-2x('../images/icons/menu-reduced_@2x.png', 35px, 35px);
  }

}

@include media-query(tablet) {

  .site-header {
    position: absolute;
    height: 80px;
  }

  .site-header__container {
    margin-top: 100px;
  }

}

@include media-query(hd) {

  .site-header {
    position: absolute;
    height: 88px;
  }

  .site-header__container {
    margin-top: 108px;
  }

}
