/*------------------------------------*\
    #CONTENTS LIST
\*------------------------------------*/
/**
 * List of in-page links in page sidebar
 */

$contents-list__item__padding: 20px;
$contents-list__item__border-width: 4px;

.contents-list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;

  &__item {
    margin-bottom: 1em $contents-list__item__padding;
    padding-left: $contents-list__item__padding;

    &--active {
      border-left: $contents-list__item__border-width solid $color__blue--base;
      padding-left: $contents-list__item__padding - $contents-list__item__border-width;
    }
  }

  &__link {
    text-decoration: none;
  }
}
