.sidebar-block {
  font-size: 14px !important;
  line-height: 21px;
  margin-bottom: 70px;

  &:first-child {
    padding-top: 62px;
  }

  &__heading {
    font-size: 19px;
    font-weight: 400;
    line-height: 28px;
    margin: 0 0 21px;
    text-transform: uppercase;
    top: 0;
  }

  &__list,
  > ul {
    margin-top: 0;
  }

  &__list-item,
  > ul > li {
    margin-bottom: 7px;
  }

  a {
    text-decoration: none;
  }
}

@include media-query(desktop) {
  .sidebar-block {
    font-size: 14px !important;
    line-height: 28px;

    &:first-child {
      border: 0;
      margin-top: 70px;
      padding: 0;
    }
  }
}