/*------------------------------------*\
    #SITE FOOTER
\*------------------------------------*/

.site-footer {
  background: $color__blue--base;
  margin-top: 48px;
  padding: 2em 0;

  &__link {
    color: $color__white;
    text-decoration: none;
  }

  &__list {
    list-style-type: none;
    padding: 0;
  }
}

.site-items {
  border-left: 1px solid $color__white;
  padding-left: 1em;

  &__link:hover {
    text-decoration: underline;
  }
}

// making icon size css properties relative instead of absolute makes it easy to resize icons for different breakpoints
$social-icon__size: 32px;
$social-icon__size-multiplier: 2/3;

.social-links {
  float: right;
  list-style-type: none;

  &__item {
    display: inline-block;
  }

  &__link {
    font-size: $social-icon__size * $social-icon__size-multiplier;

    background: $color__white;
    border-radius: 1em / $social-icon__size-multiplier;
    color: $color__blue--base;
    display: block;
    height: 1em / $social-icon__size-multiplier;
    line-height: 1em / $social-icon__size-multiplier;
    opacity: 0.7;
    text-align: center;
    width: 1em / $social-icon__size-multiplier;

    @include transition(opacity $transition-out-time);

    &:hover {
      color: $color__blue--base;
      opacity: 1;

      @include transition-duration($transition-in-time);
    }

    .fa {
      line-height: 1em / $social-icon__size-multiplier;
    }
  }
}

// for demonstration only: social icon sizes can be controlled through a single property, e.g.
@include media-query(tablet) {
  .site-footer {
    margin-top: 88px;
  }

  .social-links__link {
    $social-icon-size: 48px;

    font-size: $social-icon-size * $social-icon__size-multiplier;
  }
}

