/*------------------------------------*\
    #BREADCRUMBS
\*------------------------------------*/

.breadcrumbs {
  color: $color__grey--text;
  font-size: 14px;
  padding-left: 0;
  margin: -1px 0 0 0;

  &__item {
    display: inline-block;
    margin-bottom: 0;

    &:after {
      content: '>';
    }

    &--no-icon {
      &:after {
        content: '';
      }
    }
  }

  &__link {
    text-decoration: none;
  }
}
