/*------------------------------------*\
    #POLICY DATA
    metadata block at the top of policy pages
\*------------------------------------*/

.policy-data {
  margin-bottom: 40px;
  position: relative;

  &__toggle {
    position: absolute;
    right: 0;
    top: -4px;
  }

  &__list {
    color: $color__grey--dark;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    padding-right: 40px;
  }

  &__label {
    color: $color__grey--text;
    display: inline;

    &:before {
      content: '';
      display: block;
      margin-top: 8px;
    }

    &:first-child:before {
      margin-top: 0;
    }
  }

  &__value {
    display: inline;
    margin: 0;
  }

  &__expand {
    display: none;
  }
}

@include media-query(tablet) {
  .policy-data {
    &__toggle {
      display: none;
    }

    &__list {
      font-size: 14px;
      height: auto;
      overflow: visible;
      padding-right: 0;
      white-space: normal;
    }

    &__value {
      &:first-of-type:after {
        content: none;
      }
    }

    &__expand {
      display: inline;
    }

    &__additional {
      display: none;

      &--shown {
        display: inline;
      }
    }
  }
}
