/*------------------------------------*\
    #MEDIA LOGIN BOX
\*------------------------------------*/

.media-login {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 21px;

  &__title {
    margin-top: 0;
  }

  &__button {
    margin-bottom: 0;
    display: table !important;
  }
}

@include media-query(tablet) {
  .media-login {
    margin-top: 70px;

    &__button {
      margin-bottom: 21px;
    }
  }
}

@include media-query(desktop) {
  .media-login {
    &__button {
      margin-bottom: 0;
    }
  }
}