/*------------------------------------*\
    #ARTICLE HEADER
\*------------------------------------*/

.article-header {
  &__title {
    margin-bottom: 0;
  }

  &__subtitle {
    color: $color__grey--base;
    font-size: 22px;
  }

  &__subtitle-link {
    color: $color__grey--base;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
