/*------------------------------------*\
    # A Z List
    a segmented a-z list, built with az-list helper
\*------------------------------------*/

.az-list {

  &__chunkName {
      font-weight: 600;
      font-size: 28px;
      line-height: 28px;
      float: left;
      clear: left;
      width: 20%;
      padding-top: 34px;
  }

  &__chunk {
      float: left;
      width: 70%;
      padding-top: 40px;
  }

  &__list {
      list-style-type: none;

  }

  &__item {


  }

}


@include media-query(tablet) {


  .az-list {

      &__chunkName {
          width: 30%;
          font-size: 48px;
          padding-top: 40px;
      }

  }


}
