/*------------------------------------*\
    #ARTICLE HEADER
    title block for articles
\*------------------------------------*/


.article-header {

  &__subtitle {
    color: $color__grey--dark;
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
    margin: -21px 0 35px 0;
  }

  &__subtitle-link {
    color: $color__grey--dark;

    &:hover {
      color: $color__link--primary;
    }

    &:active {
      color: $color__link--active;
    }
  }

  &__prefix {
    color: $color__grey--dark;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    margin: 0 0 7px 0;
    text-transform: uppercase;
  }
}

@include media-query(tablet) {
  .article-header {

    &__subtitle {
      font-size: 18px;
      line-height: 28px;
      margin: -21px 0 49px 0;
    }

    &__prefix {
      font-size: 14px;
      line-height: 21px;
      font-size: 18px;
      line-height: 28px;
      margin: -21px 0 49px 0;
    }
  }
}
