.social {
  list-style: none;
  margin-left: 0;
  margin-top: 0;

  &__item {
    margin: 0;
  }

  &__link {
    border-bottom: 1px solid $color__grey--light;
    color: $color__body;
    display: block;
    padding: 8px 4px;
    text-decoration: none;

    @include transition(background-color $transition-out-time);

    &:hover {
      background-color: $color__grey--lighter;
      @include transition-duration($transition-in-time);
    }
  }

  &__icon {
    margin-right: 0.25em;
  }

  >:first-child {
    .social__link {
      border-top: 1px solid $color__grey--light;
    }
  }
}
