.sticky-document-info {
  background: $color__grey--light;
  box-shadow: 0 3px 10px tint($color__grey--dark, 0.25);
  height: 49px;
  left: 100%;
  opacity: 0;
  position: fixed;
  margin-top: -10px;
  width: 100%;

  @include animation(fadeOutFromBlock 0.2s);

  &__cell {
    height: 49px;
  }

  &__title {
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;

    display: table-cell;
    vertical-align: middle;
  }

  &__content-data {
    display: none;
  }
}

.sticky-document-info.is-sticky {
  opacity: 1;
  left: auto;
  margin-top: 0;
  display: block;
  z-index: 1000;

  @include animation(fadeInFromNone 0.2s);
}

@include media-query(tablet) {
  .sticky-document-info {
    background: $color__white;
    border-bottom: 1px solid $color__grey--light;
    box-shadow: 0 3px 10px tint($color__grey--text, 0.25);

    &__cell {
      line-height: 49px;
    }

    &__title {
      display: block;
      font-size: 21px;
      font-weight: 300;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }

    &__content-data {
      display: inline-block;
    }
  }
}


@include keyframes(fadeOutFromBlock) {
  0% {
    display: block;
    left: 0;
    margin-top: 0;
    opacity: 1;
  }

  99% {
    display: block;
    left: 0;
    margin-top: -10px;
    opacity: 0;
  }

  100% {
    display: none;
    left: 100%;
    margin-top: -10px;
    opacity: 0;
  }
}

@include keyframes(fadeInFromNone) {
  0% {
    display: none;
    margin-top: -10px;
    opacity: 0;
  }

  1% {
    display: block;
    margin-top: -10px;
    opacity: 0;
  }

  100% {
    display: block;
    margin-top: 0;
    opacity: 1;
  }
}
