.pika-single {
  background: $color__grey--lighter;
  border: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  position: static;
}

.pika-lendar {
  background: $color__white;
  border: 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  float: none;
  margin: 0;
  width: 100%;
}

.pika-title {
  background: $color__blue--base;
  height: 40px;
  padding: 5px 0;
}

.pika-label {
  background: transparent;
  border: 1px dashed rgba(255, 255, 255, 0.3);
  color: $color__white;
  display: inline;
  font-size: 20px;
  font-weight: 700;
  height: 30px;
  line-height: 27px;
  margin: 0 4px;
  padding: 0 20px 3px 4px;
  position: relative;

  &:after {
    background: url(../images/icons/arrows/date_picker_dd_arrows.png);
    content: '';
    display: inline-block;
    height: 18px;
    position: absolute;
    right: 4px;
    top: 5px;
    width: 8px;

    @include image-2x('../images/icons/arrows/date_picker_dd_arrows_@2x.png', 8px, 18px);
  }
}

.pika-table  {
  margin: 0;

  thead + tbody tr:nth-child(2n - 1) td {
    background: transparent;
  }
}

.pika-table td {
  background: transparent;
  border: 1px solid $color__grey--lighter;
}

.pika-table th {
  border: 0;
  color: $color__grey--text;
  font-size: 12px;
  font-weight: 300;
}

.pika-button {
  background: transparent;
  border-radius: 0;
  color: $color__blue--base;
  font-size: 16px;
  font-weight: 900;
  padding: 8px 4px;
  text-align: center;

  &:hover {
    background: $color__grey--lighter;
    border-radius: 0;
    color: $color__blue--base;
  }
}

.is-selected .pika-button {
  background: $color__blue--base;
  border-radius: 0;
  box-shadow: none;
  color: $color__white;
}

.is-today .pika-button {
  color: $color__blue--base;
}

.is-today.is-selected .pika-button {
  color: $color__white;
}

.pika-select {
  background: $color__white;
  color: $color__grey--text;
  font-size: 16px;
  font-weight: normal;
}

.pika-prev,
.pika-next {
  height: 42px;
  opacity: 1;
  position: absolute;
  text-indent: 42px;
  top: -1px;
  width: 42px;
}

.pika-prev,
.is-rtl .pika-next {
  background-image: url(../images/icons/arrows/int_arrow_left_42px.png);
  left: 0;

  @include image-2x('../images/icons/arrows/int_arrow_left_42px_@2x.png', 42px, 42px);
}

.pika-next,
.is-rtl .pika-prev {
  background-image: url(../images/icons/arrows/int_arrow_42px.png);
  right: 0;

  @include image-2x('../images/icons/arrows/int_arrow_42px_@2x.png', 42px, 42px);
}

@include media-query(tablet) {
  .pika-single {
    box-shadow: 10px 0 3px rgba(0, 0, 0, 0.2);
    padding: 45px;
  }
}
