/*------------------------------------*\
    #GOVSCOT BUTTONS
    For legacy button styles and other govscot-specific buttons not accounted for
    in the button language spec
\*------------------------------------*/

.button--pill {
    border-radius: 100px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 7px 24px 7px 10px;
    text-transform: none;
    width: auto;

    > .mg-icon {
        height: 16px;
        margin-top: -8px;
    }
}

.button--full-width {
    width: 100%;
}


.icon-button {
    position: relative;

    &__text {
        padding-right: 42px;
    }

    &__icon-container {
        height: 42px;
        position: absolute;
        right: -2px;
        top: -2px;
        width: 42px;
    }

    &__icon {
        height: 100%;
        width: 100%;
    }
}

.button--secondary:hover {
    .icon-button__icon-container {
        height: 42px;
        position: absolute;
        right: -3px;
        top: -3px;
        width: 42px;
    }
}
