// temporary table caption styling

caption {
    font-size: 16px;
    font-weight: $bold;
    line-height: 21px;
    margin-bottom: 14px;
    text-align: left;

    @include media-query(medium) {
        font-size: 19px;
        line-height: 28px;
    }
}


table.datatable {
    text-align: right;
}

tr, th, td {
    &.cAlign {
        text-align: center;
    }

    &.lAlign {
        text-align: left;
    }

    &.rAlign {
        text-align: right;
    }
}