/*------------------------------------*\
    #HOMEPAGE: PUBLICATION
\*------------------------------------*/

.homepage-publication {
  margin-bottom: 28px;

  position: relative;

  &__title {
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 7px;
    max-height: 42px;
    overflow: hidden;
  }

  &__topics {
    color: $color__grey--text;
    font-size: 14px;
    font-style: italic;
    line-height: 21px;
    list-style-type: none;
    margin: 7px 0;

    li {
      display: inline;
      margin-left: 0;

      &:not(:last-child) {
        &:after {
          content: ',';
        }
      }
    }
  }

  &__date {
    font-size: 12px;
    font-weight: 500;
    line-height: 21px;
    margin-bottom: 0;
  }

  &:not(:first-of-type) {
    padding-top: 28px;

    &:before {
      border-bottom: 2px dotted $color__grey--pale;
      content: '';
      position: absolute;
      top: 0;
      width: 30%;
    }
  }

  &__see-all {
    font-size: 14px;
    line-height: 21px;
    position: relative;
    text-decoration: none;

    &--icon {
      padding-left: 29px;

      span {
        background: $color__link--primary;
        height: 17px;
        left: 0;
        position: absolute;
        top: 0;
        width: 17px;

        @include transition(background-color 1s);

        &:before {
          border: 1px solid $color__white;
          border-width: 1px 0;
          content: '';
          height: 7px;
          left: 0;
          position: absolute;
          top: 5px;
          width: 17px;
          z-index: 1;
        }
      }
    }

    &:hover {
      text-decoration: underline;

      span {
        background-color: $color__link--hover;

        @include transition(background-color 0.2s);
      }
    }

    &--icon-grid {
      span:after {
        border: 1px solid $color__white;
        border-width: 0 1px;
        content: '';
        height: 17px;
        left: 5px;
        position: absolute;
        top: 0;
        width: 7px;
      }
    }
  }
}

@include media-query(tablet-down) {
  .homepage-publication {
    display: none;

    &:nth-child(-n + 3) {
      display: block;
    }
  }
}

@include media-query(tablet) {
  .homepage-publication {
    &__title {
      max-height: 56px;
    }
  }
}

@include media-query(desktop) {
  .homepage-publication {
    &__title {
      font-size: 18px;
      line-height: 28px;
      max-height: 56px;
    }
  }
}
