%headercell {
  border-bottom: 1px solid $color__grey--dark;
  font-weight: bold;
  padding: 10px 5px;
  vertical-align: top;
}

%contentcell {
  border-bottom: 1px solid $color__grey--light;
  padding: 10px 5px;
  vertical-align: top;
}

table {
  font-size: 14px;
  line-height: 19px;
  margin: 28px 0;
  width: 100%;
}

// for imported tables without correct thead/th markup
//tr:first-child td {
//  @extend %headercell;
//}

td {
  @extend %contentcell;
}

tr:nth-child(2n) td {
  background: $color__grey--lighter;
}

// for correctly structured tables
th {
  @extend %headercell;
}

thead + tbody {
//  tr:first-child td {
//    font-weight: normal;
//    @extend %contentcell;
//  }

  tr:nth-child(2n) td {
    background: transparent;
  }

  tr:nth-child(2n - 1) td {
    background: $color__grey--lighter;
  }
}

@include media-query(tablet) {
  table {
    font-size: 16px;
    line-height: 21px;
  }

//  tr:first-child td:first-child {
//    padding-left: 15px;
//  }
//
//  tr:first-child td:last-child {
//    padding-right: 15px;
//  }

  tr >:first-child {
    padding-left: 15px;
  }

  tr >:last-child {
    padding-right: 15px;
  }
}
