/*------------------------------------*\
    #LINKS
\*------------------------------------*/


a {
  color: $color__link--primary;
  font-weight: 400;
  text-decoration: underline;

  @include transition(color $transition-out-time);

  &:hover {
    color: $color__link--hover;

    @include transition-duration($transition-in-time);
  }

  &:active {
    background-color: $color__blue--lighter;
    color: $color__link--active;
    outline: 3px solid $color__blue--lighter;
  }
}

article a {
  word-break: break-word;
}

html {
  -webkit-tap-highlight-color: $color__tap-highlight;
}
