/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

.button {
  background: $color__grey--base;
  border: 0;
  color: $color__white;
  padding: 8px 1em;
  display: inline-block;
  text-decoration: none;
  align-items: flex-start;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;

  @include transition(background $transition-out-time);

  &:hover {
    @include transition-duration($transition-in-time);
  }
  &:focus {
    @include transition-duration($transition-in-time);
    .icon {
      opacity: 0.65;
    }
  }


  &--primary {
    background-color: $color__link--primary;

    &:hover {
      background-color: $color__button--primary--hover
    }

    &:focus  {
      background-color: $color__button--primary--focus;
    }
    &:active {
      background-color: $color__button--primary--active;
      color: $color__button--primary--active-text;
    }
  }

  // color variant
  &--clear {
    background-color: transparent;
    color: $color__link--primary;

    @include transition(color $transition-out-time);

    &:hover {
      color: $color__link--hover;
    }
  }

  // color variant
  &--invert {
    background-color: $color__white;
    color: $color__blue--base;

    @include transition(color $transition-out-time);

    &:hover {
      color: $color__link--hover;
    }
  }

  // color variant
  &--ghost {
    background-color: transparent;
    border: 1px solid $color__white;
    color: $color__white;
  }

  // size variant
  &--large {
    height: 64px;
  }
}
