/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/

/**
 * 1. Nudge the header onto the baseline grid
 */
h1, .alpha {
  color: $color__body--h1;
  font-size: $base-h1-size;
  font-weight: 100;
  line-height: 40px;
  margin: 0 0 24px;

  position: relative; /* [1] */
  top: -1px;
}

/**
 * 1. Nudge the header onto the baseline grid
 */
h2, .beta {
  color: $color__body--h2;
  font-size: $base-h2-size;
  font-weight: 400;
  margin: 48px 0 16px;

  position: relative; /* [1] */
  top: -3px;

}


/**
 * 1. Nudge the header onto the baseline grid
 */
h3, .gamma {
  color: $color__body--h3;
  font-size: $base-h3-size;
  font-weight: 700;
  line-height: 24px;
  margin: 32px 0 8px;

  position: relative; /* [1] */
  top: -2px;
}

h4, .delta {
  color: $color__body--h4;
  font-size: $base-h4-size;
}


h5, .epsilon {
  color: $color__body--h3;
  font-size: $base-h5-size;
  font-weight: 600;
  margin: 24px 0 16px;
  text-transform: uppercase;
}




@include media-query(tablet) {
  h1, .alpha {
    font-size: $tablet-h1-size;
    line-height: 72px;
  }

  h2, .beta {
    font-size: $tablet-h2-size;
    line-height: 40px;
    margin: 72px 0 24px;
  }

  h3, .gamma {
    font-size: $tablet-h3-size;
    margin: 48px 0 8px;
  }

  h4, .delta {
    font-size: $tablet-h4-size;
  }
}

.heading {
  &--underline {
    border-bottom: 1px solid $color__grey--light;
    margin-bottom: 30px;
    padding-bottom: 9px;

    &--heavy {
      border-bottom: 4px solid $color__blue--base;
      margin-bottom: 27px;
    }
  }

  &--overline {
    border-top: 1px solid $color__black;
    margin-top: 48px;
    padding-top: 17px;

    &--heavy {
      border-top: 4px solid $color__blue--base;
      margin-top: 45px;
    }
  }
}


/**
 * Headings with links should not have a text-underline.
 */
h1, h2, h3, h4, h4 {
  a, a:visited {
    text-decoration: none;
  }
}


/*------------------------------------*\
    SECTION HEADER
\*------------------------------------*/
/**
 * Welcome header are used on the homepage at the top of each section.
 */

h2.section-header {
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 32px;

  a {
    font-weight: inherit;
  }
  a:link, a:visited {
    color: inherit;
  }
  a:hover, a:active {
    color: $color__link--hover;
    border-bottom: 2px solid $color__link--hover;
  }
}

@include media-query(tablet) {
  h2.section-header {
    margin-bottom: 24px; /* Reverse mobile change. */
  }
}

@include media-query(desktop) {
  h2.section-header {
    font-size: 32px;
  }
}

@include media-query(hd) {
  h2.section-header {
    font-size: 40px;
  }
}



/*------------------------------------*\
    SOCIAL CHANNELS HEADINGS
\*------------------------------------*/
/**
 * The social channel headings are used on the homepage and have extra features
 * on mobile, therefore the need for a separate heading style.
 */

h3.social-channel {
  font-size: 24px;
  color: $color__body;
  text-align: right;
  margin-bottom: 24px;

  .fa {
      float: right;
      padding-left: 8px;
  }


/**
 * 1. Add border to pseudo element ...
 * 2. ... and position behind the real elemnt
 * 3. Set a background to hide the line behind the link.
 * 4. Add padding to separate link from the line.
 * 5. Override the default link colour
 */
  &:before {
    content: "Scottish Government on";
    display: block;
    color: $color__grey--text;
    font-size: 15px;
    font-weight: 400;
    border-bottom: 1px solid $color__body; /* [1] */
    padding-bottom: 26px; /* [2] */
    margin-bottom: -20px;
  }
  a {
    display: inline-block;
    background: white; /* [3] */
    padding-left: 14px; /* [4] */
  }
  a:link, a:visited {
    color: $color__body; /* [5] */
  }

}

/**
 * 1. Reverse padding-left added in mobile.
 * 2. Hide pseudo element that include "Scottish..." and line behind.
 */
@include media-query(tablet) {
  h3.social-channel {
    text-align: left;

    .fa {
        float: left;
        padding-right: 8px;
        padding-left: 0; /* [1] */
    }

    a {
      padding-left:0; /* [1] */
    }

    &:before {
      display: none; /* [2] */
    }

  }
}

@include media-query(hd) {
  h3.social-channel {
    font-size: 28px;
  }
}


/*------------------------------------*\
    FIRST CHILDREN
\*------------------------------------*/


.body-content {
  > h1:first-child,
  > h2:first-child,
  > h3:first-child,
  > .alpha:first-child,
  > .beta:first-child,
  > .gamma:first-child {
    margin-top: 0;
  }
}

// get first sidebar heading to share page H1's baseline
.sidebar-content {
  > h2:first-child,
  > .beta:first-child {
    margin-top: 60px;
  }

  > h3:first-child,
  > .gamma:first-child {
    margin-top: 71px;
  }
}


.emphasis {
  display: inline-block;
  padding-top: 15px;

  &:before {
    background: $color__blue--base;
    border-radius: 7px;
    content: '';
    height: 7px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}
