/*------------------------------------*\
    #LISTS
\*------------------------------------*/

$list__left-margin: 35px;

ul,
ol {
  font-weight: inherit;
  line-height: 21px;
  margin: -7px 0 21px $list__left-margin;
  padding: 0;

  li {
    margin: 0 0 7px 0;
  }
}

ol {
  margin-left: 20px;
}

/*
 * [1] for lists in markdown blocks we want to have no bullets
 */
ul.no-bullets,
.no-bullets ul /*[1]*/ {
  list-style-type: none;
  margin-left: 0;
}

article ol.fancy {
  counter-reset: li;
  list-style-type: none;
  margin-left: $list__left-margin;

  li {
    position: relative;
    min-height: 42px;

    &:before {
      color: $color__blue--base;
      content: counter(li);
      counter-increment: li;
      font-size: 42px;
      font-weight: 100;
      letter-spacing: -3px;
      line-height: 42px;
      padding-right: 20px;
      position: absolute;
      right: 100%;
      top: 0;
    }
  }
}

@include media-query(tablet) {
  ul,
  ol {
    li {
      margin-bottom: 14px;
    }
  }

  article ol.fancy li {
    min-height: 49px;
  }
}
