/*------------------------------------*\
    #FORMS
\*------------------------------------*/

input {
  background: $color__grey--lighter;
  border: 1px solid $color__grey--light;
  height: 48px;
  padding: 0 1em;

  &[type=text] {
    &:focus {
      background: $color__input--focus;
      outline: 0;
    }
  }
}

::-webkit-input-placeholder {
  color: $color__placeholder;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: $color__placeholder;
}

:-ms-input-placeholder {
  color: $color__placeholder;
}

::-ms-clear {
  height: 50%;
}

// fallback for browsers without placeholder
.placeholder {
  color: $color__placeholder;
}
