/*------------------------------------*\
    #FORMS
\*------------------------------------*/

input[type=text] {
  background: $color__white;
  border: 1px solid $color__grey--pale;
  border-radius: 0;
  font-size: 16px;
  height: 49px;
  padding: 0 0.75em;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  &:focus {
    background: $color__input--focus;
    border: 2px solid $color__input--focus-outline;
    outline: none;
  }
}

textarea {
  background: $color__white;
  border: 1px solid $color__grey--light;
  padding: 0.5em;
}

select {
  background: $color__grey--lighter;
  border: 1px solid $color__grey--light;
  border-radius: 0;
  height: 40px;
  padding: 0 1em;
}

::-webkit-input-placeholder {
  color: $color__placeholder;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: $color__placeholder;
}

:-ms-input-placeholder {
  color: $color__placeholder;
}

::-ms-clear {
  height: 50%;
}

// fallback for browsers without placeholder
.placeholder {
  color: $color__placeholder;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

label.inverse {
  color: white;
}

.input-group {
  .message {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    padding: 5px 0;
  }

  &--has-error {
    $input-group-background-color: $color__error--background;
    $input-group-foreground-color: $color__error;

    input,
    select,
    textarea {
      background-color: $input-group-background-color;
      border-color: $input-group-foreground-color;
      border-width: 2px;

      &:focus {
        background-color: $input-group-background-color;
        border-color: $input-group-foreground-color;
      }
    }

    .message {
      color: $input-group-foreground-color;
    }
  }

  &--has-success {
    $input-group-background-color: $color__success--background;
    $input-group-foreground-color: $color__success;

    input {
      background-color: $input-group-background-color;
      border-color: $input-group-foreground-color;
      border-width: 2px;

      &:focus {
        background-color: $input-group-background-color;
        border-color: $input-group-foreground-color;
      }
    }

    .message {
      color: $input-group-foreground-color;
    }
  }
}

/**
 * Nice checkboxes
 */
$fancy-checkbox-size: 24px;

label.fancy-checkbox {
  position: relative;
}

input + label.fancy-checkbox:before {
  background-color: $color__white;
  border: 1px solid $color__grey--base;
  content: '';
  float: left;
  font-size: $fancy-checkbox-size - 6;
  height: $fancy-checkbox-size;
  left: 0;
  line-height: $fancy-checkbox-size - 2;
  position: absolute;
  text-align: center;
  top: 0;
  width: $fancy-checkbox-size;
}

input:focus + label.fancy-checkbox:before {
  background: $color__blue--lighter;
}

input:checked + label.fancy-checkbox:before {
  border-color: $color__blue--base;
  color: $color__blue--base;
  content: '\2713';
}

@include media-query(tablet) {
  input + label.fancy-checkbox:before {
    top: -2px;
  }
}

@include media-query(hd) {
  input + label.fancy-checkbox:before {
    top: 0;
  }
}



/*
SCROLLABLE CONTAINER
*/
@include media-query(tablet) {
  .scrollable {
    position: relative;

    &:before {
      @include background-image(linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0)));

      content: '';
      height: 4px;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }

    ::-webkit-scrollbar {
      width: 7px;
    }

    ::-webkit-scrollbar-track {
      -webkit-border-radius: 5px;
      border-radius: 5px;
      background: rgba(0, 0, 0, 0.1);
      margin: 21px 0;
      position: relative;
    }

    ::-webkit-scrollbar-thumb {
      -webkit-border-radius: 5px;
      border-radius: 5px;
      background: rgba(0, 0, 0, 0.2);
    }

    ::-webkit-scrollbar-thumb:hover {
      background: rgba(0, 0, 0, 0.4);
    }

    ::-webkit-scrollbar-thumb:window-inactive {
      background: rgba(0, 0, 0, 0.05);
    }

    &__content {
      height: 100vh;
      overflow-y: scroll;
      padding: 14px 0 0 0;

      &--40 {
        height: 40vh;
      }
    }

    &.accordion-item__body {
      padding: 0 10px;
    }
  }
}
