/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

.button {
  align-items: flex-start;
  background: $color__grey--base;
  border: 0;
  color: $color__white;
  cursor: pointer;
  display: table;
  font-weight: bold;
  height: 49px;
  padding: 7px 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100%;

  @include transition(background $transition-out-time);

  &:hover {
    text-decoration: none;
    color: $color__white;
    @include transition-duration($transition-in-time);
  }
  &:focus {
    @include transition-duration($transition-in-time);
    .icon {
      opacity: 0.65;
    }
  }


  &--primary {
    background-color: $color__link--primary;

    &:hover {
      background-color: $color__button--primary--hover
    }

    &:focus  {
      background-color: $color__button--primary--focus;
    }
    &:active {
      background-color: $color__button--primary--active;
      color: $color__button--primary--active-text;
    }
  }

  // color variant
  &--dark {
    background-color: $color__blue--dark;
  }

  // color variant
  &--clear {
    background-color: transparent;
    color: $color__link--primary;

    @include transition(color $transition-out-time);

    &:hover {
      color: $color__link--hover;
    }
  }

  // color variant
  &--invert {
    background-color: $color__white;
    color: $color__blue--base;

    @include transition(color $transition-out-time);

    &:hover {
      color: $color__link--hover;
    }
  }

  // type variant
  &--ghost {
    background-color: transparent;
    border: 1px solid $color__grey--dark;
    color: $color__grey--dark;
    padding: 7px 10px;

    &:hover {
      background-color: $color__grey--lighter;
      color: $color__grey--dark;
    }

    &:focus {
      background-color: $color__grey--light;
      color: tint-solid($color__grey--dark, $color__grey--light, 0.65);
      outline: none !important;
    }
  }

  // color variant
  &--ghost-primary {
    border-color: $color__link--primary;
    color: $color__link--primary;

    &:hover {
      border-color: $color__link--hover;
      color: $color__link--hover;
    }

    &:focus {
      color: tint-solid($color__link--hover, $color__grey--light, 0.65);
    }
  }

  // color variant
  &--ghost-invert {
    border-color: $color__white;
    color: $color__white;
  }

  // size variant
  &--large {
    height: 70px;
  }

  // size variant
  &--medium {
    height: 42px;
  }

  // size variant
  &--small {
    font-size: 14px;
    height: 28px;
    padding: 0 1em;
  }

  // size variant
  &--xsmall {
    font-size: 12px;
    height: 28px;
    padding: 0 0.5em;

    @include media-query(tablet) {
        font-size: 13px;
    }
  }

  // display in a textlike (no padding)
  &--text {
    background: transparent;
    color: $color__grey--text;
    padding: 0;
  }

  &--close {
    height: 27px;
    width: 27px;
    background-image: url('../images/icons/close-grey.png');
    @include image-2x('../images/icons/close-grey_@2x.png', 27px, 27px);
  }

  // display variant
  &--pill {
      border-radius: 100px;
      display: inline-block;
      font-weight: 400;
      height: auto;
      line-height: 21px;
      padding: 7px 24px 7px 10px;
      text-transform: none;
      width: auto;

      @extend %small-arrow-right;
      & + & {
          margin-left: 10px;
      }

      &:hover {
          text-decoration: underline;
      }

      &:active {
          background-color: $color__blue--light;
          outline: none;
      }

      @include media-query(tablet) {
          padding-left: 12px;
          padding-right: 22px;
      }
  }

  /**
   * Button icon placement
   */
  .button__icon--right {
    margin-top: -10px;
    position: absolute;
    right: 1em;
    top: 50%;
  }

  .link-text {
    display: table-cell;
    vertical-align: middle;
  }
}
