/*------------------------------------*\
    #FORMS
\*------------------------------------*/

input[type=text] {
  background: $color__grey--lighter;
  border: 1px solid $color__grey--light;
  height: 48px;
  padding: 0 1em;

  &:focus {
    background: $color__input--focus;
    outline: 0;
  }
}

select {
  background: $color__grey--lighter;
  border: 1px solid $color__grey--light;
  border-radius: 0;
  height: 40px;
  padding: 0 1em;
}

::-webkit-input-placeholder {
  color: $color__placeholder;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: $color__placeholder;
}

:-ms-input-placeholder {
  color: $color__placeholder;
}

::-ms-clear {
  height: 50%;
}

// fallback for browsers without placeholder
.placeholder {
  color: $color__placeholder;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

label.inverse {
  color: white;
}
