/*------------------------------------*\
    #LINKS
\*------------------------------------*/

/*
 * 1. This is the more widely-supported legacy property name. correct property name, overflow-wrap, is currently only supported in webkit browsers (23/12/2015)
 */
a {
  color: $color__link--primary;
  font-weight: 400;
  text-decoration: underline;
  word-wrap: break-word; /* [1] */

  @include transition(color $transition-out-time);

  &:hover {
    color: $color__link--hover;

    @include transition-duration($transition-in-time);
  }

  &:active {
    background-color: $color__blue--lighter;
    color: $color__link--active;
    outline: 3px solid $color__blue--lighter;
  }
}

html {
  -webkit-tap-highlight-color: $color__tap-highlight;
}
