/*------------------------------------*\
    #TYPE
\*------------------------------------*/

%leader-text {
  color: $color__grey--darkest;
  font-size: $base-leader-size;
  font-weight: 300;
  line-height: 24px;
  margin: 0 0 48px 0;
}


p {
  margin: 0 0 24px;
}

.leader {
  @extend %leader-text;

  &--first-para {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: inherit;

    > :first-child {
      @extend %leader-text;
    }
  }
}

.no-top-margin {
  margin-top: 0;
}

.text-center {
  text-align: center;
}


@include media-query(tablet) {

  %tablet-leader-text {
    font-size: $tablet-leader-size;
    line-height: 32px;
    margin-bottom: 72px;
  }

  .leader {
    @extend %tablet-leader-text;

    &--first-para {
      font-size: inherit;
      line-height: inherit;
      margin-bottom: inherit;

      > :first-child {
        @extend %tablet-leader-text;
      }
    }
  }
}
