/*------------------------------------*\
    SITE PAGE LAYOUTS
\*------------------------------------*/

.#{$site-prefix}layout {

}

.#{$site-prefix}sublayout {
    @include layout();
    margin-bottom: 32px;

    &--threecols {
        margin-left: 0;
    }
}

@include media-query(medium) {
    .#{$site-prefix}layout {
        &--about {
            > .#{$pl-prefix}layout {
                &__banner {
                    @include colwidth(9);
                    @include colpush(3);
                }

                &__header {
                    @include colwidth(9);
                    @include colpush(3);
                }

                &__content {
                    @include colwidth(9);
                    @include colpush(3);
                }

                &__feedback {
                    clear: left;
                    @include colwidth(9);
                    @include colpush(3);
                    @include colpush(3);
                }

                &__sidebar {
                    float: left;
                    @include colwidth(3);
                }
            }
        }

        &--filter-search {
            > .#{$pl-prefix}layout {
                &__header {
                    @include colwidth(8);
                    @include colpush(3);
                }

                &__content {
                    @include colwidth(8);
                    @include colpush(3);
                }

                &__feedback {
                    clear: left;
                    @include colwidth(8);
                    @include colpush(4);
                }

                &__sidebar {
                    float: left;
                    @include colwidth(4);
                }
            }
        }

        &--policy {
            > .#{$pl-prefix}layout {
                &__header {
                    @include colwidth(8);
                }

                &__content {
                    float: left;
                    @include colwidth(8);
                }

                &__feedback {
                    clear: left;
                    @include colwidth(8);
                    @include colpush(4);
                }

                &__sidebar {
                    float: left;
                    @include colwidth(4);
                }
            }
        }

        &--issue {
            > .#{$pl-prefix}layout {
                &__banner {
                    @include colwidth(12);
                }

                &__content {
                    float: left;
                    @include colwidth(8);
                }

                &__feedback {
                    clear: left;
                    @include colwidth(8);
                }

                &__sidebar {
                    float: left;
                    @include colwidth(4);
                }
            }
        }

        &--collection,
        &--publication {
            > .#{$pl-prefix}layout {
                &__header {
                    @include colwidth(8);
                }

                &__content {
                    float: left;
                    @include colwidth(8);
                }

                &__feedback {
                    clear: left;
                    @include colwidth(8);
                    @include colpush(4);
                }

                &__sidebar {
                    float: left;
                    @include colwidth(4);
                }
            }
        }

        &--role {
            > .#{$pl-prefix}layout {
                &__header {
                    @include colwidth(8);
                }

                &__content {
                    float: left;
                    @include colwidth(8);
                }

                &__feedback {
                    clear: left;
                    @include colwidth(8);
                    @include colpush(4);
                }

                &__sidebar {
                    float: left;
                    @include colwidth(4);
                }
            }
        }
    }

    .#{$site-prefix}sublayout {
        &--twocols {
            > * {
                float: left;
                @include colwidth(6);

                &:nth-child(2n+1) {
                    clear: left;
                }
            }
        }

        &--threecols {
            > * {
                float: left;
                @include colwidth(4);

                &:nth-child(3n+1) {
                    clear: left;
                }
            }
        }

        &--publication-header {
            > .#{$pl-prefix}layout {
                &__title {
                    @include colwidth(12);
                }

                &__metadata {
                    float: left;
                    @include colwidth(3);
                }

                &__content {
                    float: left;
                    @include colwidth(9);
                }
            }
        }
    }
}

@include media-query(large) {
    .#{$site-prefix}layout {
        &--about {
            > .#{$pl-prefix}layout {
                &__banner {
                    @include colwidth(7);
                }

                &__header {
                    @include colwidth(7);
                }

                &__content {
                    @include colwidth(7);
                }

                &__feedback {
                    @include colwidth(7);
                }
            }
        }

        &--filter-search {
            > .#{$pl-prefix}layout {
                &__content {
                    @include colwidth(7);
                    @include colpush(3);
                }

                &__feedback {
                    clear: left;
                    @include colwidth(7);
                    @include colpush(3);
                }

                &__sidebar {
                    @include colwidth(3);
                }
            }
        }

        &--policy {
            > .#{$pl-prefix}layout {
                &__content {
                    float: left;
                    @include colwidth(7);
                }

                &__feedback {
                    @include colwidth(7);
                    @include colpush(3);
                }

                &__sidebar {
                    @include colwidth(3);
                }
            }
        }

        &--collection,
        &--publication {
            > .#{$pl-prefix}layout {
                &__content {
                    float: left;
                    @include colwidth(7);
                }

                &__feedback {
                    @include colwidth(7);
                    @include colpush(3);
                }

                &__sidebar {
                    @include colwidth(3);
                }
            }
        }

        &--role {
            > .#{$pl-prefix}layout {
                &__header {
                    @include colwidth(8);
                }

                &__content {
                    @include colwidth(7);
                }

                &__feedback {
                    @include colwidth(7);
                    @include colpush(3);
                }

                &__sidebar {
                    @include colwidth(3);
                }
            }
        }
    }

    .#{$site-prefix}sublayout {
        &--firstminister {
            > *:first-child {
                float: left;
                @include colwidth(2, 6);
            }

            > *:last-child {
                float: left;
                @include colwidth(4, 6);
            }
        }

        &--publication-header {
            > .#{$pl-prefix}layout {
                &__title {
                    @include colwidth(10);
                }

                &__metadata {
                    float: left;
                    @include colwidth(3);
                }

                &__content {
                    float: left;
                    @include colwidth(7);
                }
            }
        }
    }
}

@supports(display: grid) {
    /**
     * GRID KEY
     * c: content
     * f: feedback
     * h: header
     * l: list (e.g. category items, search results)
     * n: navigation (e.g. subpages of a publication or guide)
     * p: partner branding
     * s: sidebar

     * b: banner
     * d: directorates
     * F: featured items
     * l: latest (news/collections/etc)
     * P: policies
    */
    $grid-area-about:           a;
    $grid-area-banner:          b;
    $grid-area-directorates:    d;
    $grid-area-featured:        F;
    $grid-area-latest:          l;
    $grid-area-policies:        P;
    $grid-area-search:          S;
    $grid-area-sticky:          k;

    $grid-subarea-title:        st;
    $grid-subarea-metadata:     sm;
    $grid-subarea-content:      sc;
    $grid-subarea-document:     sd;

    .#{$pl-prefix}layout {
        grid-template-rows: auto auto 1fr;

        &__about {
            grid-area: $grid-area-about;
        }

        &__banner {
            grid-area: $grid-area-banner;
        }

        &__directorates {
            grid-area: $grid-area-directorates;
        }

        &__featured {
            grid-area: $grid-area-featured;
        }

        &__latest {
            grid-area: $grid-area-latest;
        }

        &__policies {
            grid-area: $grid-area-policies;
        }

        &__search {
            grid-area: $grid-area-search;
        }

        &__sticky {
            grid-area: $grid-area-sticky;
        }
    }

    .#{$site-prefix}sublayout {
        &__title {
            grid-area: $grid-subarea-title;
        }

        &__metadata {
            grid-area: $grid-subarea-metadata;
        }

        &__content {
            grid-area: $grid-subarea-content;
        }

        &__document {
            grid-area: $grid-subarea-document;
        }
    }

    .#{$site-prefix}layout {
        &--about {
            grid-template-areas:
                'b b'
                's s'
                'h h'
                'c c'
                'f f';
        }

        &--filter-search {
            grid-template-areas:
                's s'
                'h h'
                'c c'
                'f f';
        }

        &--role {
            grid-template-areas:
                'h h'
                'c c'
                's s'
                'f f';
        }

        &--policy {
            grid-template-areas:
                'h h'
                's s'
                'c c'
                'f f';
        }

        &--topic {
            grid-template-areas:
                'b b'
                'c c'
                'P P'
                'F F'
                'l l'
                'd d'
                'f f';
        }

        &--issue {
            grid-template-areas:
                'b b'
                'c c'
                's s'
                'f f';
        }

        &--collection,
        &--publication {
            grid-template-areas:
                'h h'
                'k k'
                's s'
                'c c'
                'f f';
        }

        &--home {
            grid-template-areas:
                'h h'
                'S S'
                'c c'
                'f f';
        }
    }

    @include media-query(small) {
        .#{$site-prefix}layout {
            &--about {
                grid-template-areas:
                    'b b b b b b'
                    's s s s s s'
                    'h h h h h h'
                    'c c c c c c'
                    'f f f f f f';
            }

            &--filter-search {
                grid-template-areas:
                    's s s s s s'
                    'h h h h h h'
                    'c c c c c c'
                    'f f f f f f';
            }

            &--policy {
                grid-template-areas:
                    'h h h h h h'
                    's s s s s s'
                    'c c c c c c'
                    'f f f f f f';
            }

            &--topic {
                grid-template-areas:
                    'b b b b b b'
                    'c c c c c c'
                    'P P P P P P'
                    'F F F F F F'
                    'l l l l l l'
                    'd d d d d d'
                    'f f f f f f';
            }

            &--issue {
                grid-template-areas:
                    'b b b b b b'
                    'c c c c c c'
                    's s s s s s'
                    'f f f f f f';
            }

            &--collection,
            &--publication {
                grid-template-areas:
                    'h h h h h h'
                    'k k k k k k'
                    's s s s s s'
                    'c c c c c c'
                    'f f f f f f';
            }

            &--role {
                grid-template-areas:
                    'h h h h h h'
                    'c c c c c c'
                    's s s s s s'
                    'f f f f f f';
            }

            &--home {
                grid-template-areas:
                    'h h h h h h'
                    'S S S S S S'
                    'c c c c c c'
                    'f f f f f f';
            }
        }
    }

    @include media-query(medium) {
        .#{$site-prefix}layout {
            &--about {
                grid-template-areas:
                    's s s b b b b b b b b b'
                    's s s h h h h h h h h h'
                    's s s c c c c c c c c c'
                    '. . . f f f f f f f f f';
            }

            &--filter-search {
                grid-template-areas:
                    'h h h h h h h h . . . .'
                    's s s s c c c c c c c c'
                    '. . . . f f f f f f f f';
            }

            &--policy {
                grid-template-areas:
                    'h h h h h h h h . . . .'
                    's s s s c c c c c c c c'
                    '. . . . f f f f f f f f';
            }

            &--topic {
                grid-template-areas:
                    'b b b b b b b b b b b b'
                    'c c c c c c c c c . . .'
                    'P P P P P P P P P P P P'
                    'F F F F F F F F F F F F'
                    'l l l l l l l l l l l l'
                    'd d d d d d d d d d d d'
                    'f f f f f f f f f . . .';
            }

            &--issue {
                grid-template-areas:
                    'b b b b b b b b b b b b'
                    'c c c c c c c c s s s s'
                    'f f f f f f f f . . . .';
            }

            &--collection,
            &--publication {
                grid-template-areas:
                    'h h h h h h h h h h h h'
                    'k k k k k k k k k k k k'
                    's s s s c c c c c c c c'
                    '. . . . f f f f f f f f';
            }

            &--role {
                grid-template-areas:
                    'h h h h h h h h . . . .'
                    's s s s c c c c c c c c'
                    '. . . . f f f f f f f f';
            }

            &--home {
                grid-template-areas:
                    'h h h h h h h . S S S S'
                    'c c c c c c c c c c c c'
                    'f f f f f f f f . . . .';
            }
        }
    }

    @include media-query(large) {
        .#{$site-prefix}layout {
            &--about {
                grid-template-areas:
                    's s s b b b b b b b . .'
                    's s s h h h h h h h . .'
                    's s s c c c c c c c . .'
                    '. . . f f f f f f f . .';
            }

            &--filter-search {
                grid-template-areas:
                    'h h h h h h h h . . . .'
                    's s s c c c c c c c . .'
                    '. . . f f f f f f f . .';
            }

            &--policy {
                grid-template-areas:
                    'h h h h h h h h . . . .'
                    's s s c c c c c c c . .'
                    '. . . f f f f f f f . .';
            }

            &--topic {
                grid-template-areas:
                    'b b b b b b b b b b b b'
                    'c c c c c c c . . . . .'
                    'P P P P P P P P P P P P'
                    'F F F F F F F F F F F F'
                    'l l l l l l l l l l l l'
                    'd d d d d d d d d d d d'
                    'f f f f f f f . . . . .';
            }

            &--collection,
            &--publication {
                grid-template-areas:
                    'h h h h h h h h h h h h'
                    'k k k k k k k k k k k k'
                    's s s c c c c c c c . .'
                    '. . . f f f f f f f . .';
            }

            &--role {
                grid-template-areas:
                    'h h h h h h h h . . . .'
                    's s s c c c c c c c . .'
                    '. . . f f f f f f f . .';
            }
        }
    }

    @include media-query(xlarge) {
        .#{$site-prefix}layout {

        }
    }

    .#{$site-prefix}sublayout {
        grid-gap: $grid-gap-y $grid-gap-x;

        &--twocols,
        &--threecols {
            grid-template-areas: none;
        }

        &--publication-header {
            grid-template-columns: repeat(2, 6fr);
            grid-template-rows: auto auto auto 1fr;
            grid-template-areas:
                'st st'
                'sm sm'
                'sc sc'
                'sd sd'
        }

        &--firstminister {
            grid-template-areas: none;
        }
    }

    @include media-query(small) {
        .#{$site-prefix}sublayout {
            &--threecols {
                grid-template-columns: repeat(2, 6fr);
            }

            &--publication-header {
                grid-template-columns: repeat(6, 2fr);
                grid-template-areas:
                    'st st st st st st'
                    'sm sm sm sm sm sm'
                    'sc sc sc sc sc sc'
                    'sd sd sd sd sd sd'
            }
        }
    }

    @include media-query(medium) {
        .#{$site-prefix}sublayout {
            &--twocols {
                grid-template-columns:repeat(2, 6fr);
            }

            &--threecols {
                grid-template-columns:repeat(3, 4fr);
            }

            &--publication-header {
                grid-template-columns: repeat(12, 1fr);
                grid-template-rows: auto auto 1fr;
                grid-template-areas:
                    'st st st st st st st st st sd sd sd'
                    'sm sm sm sm sm sm sm sm sm sd sd sd'
                    'sc sc sc sc sc sc sc sc sc sd sd sd'
            }
        }
    }

    @include media-query(large) {
        .#{$site-prefix}sublayout {
            &--firstminister {
                grid-template-areas: none;
                grid-template-columns: 2fr 4fr;
            }

            &--publication-header {
                grid-template-rows: auto 1fr;
                grid-template-areas:
                    'st st st st st st st st st . sd sd'
                    'sm sm sm sc sc sc sc sc sc . sd sd'
            }
        }
    }
}
