/*------------------------------------*\
    POLICY LIST
\*------------------------------------*/

.#{$site-prefix}policy-list {
    line-height: 24px;
    list-style-type: none;
    margin: 0 0 42px 0;
    position: relative;

    &:after {
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;

        background: $ds_colour__white;
    }

    &__item {
        border-top: 1px solid $ds_colour__border--light;
        margin: 0;
        position: relative;
    }

    &__link {
        @include blocklink();

        display: block;
        padding-bottom: 24px;
        padding-right: 32px;
        padding-top: 24px;
        text-decoration: none;
    }
}

@include media-query(medium) {
    .#{$site-prefix}policy-list {

        &__link {
            padding-top: 32px;
            padding-bottom: 32px;

            &:after {
                right: 25%;
            }
        }
    }
}
