/*------------------------------------*\
    #PERSON GRID
\*------------------------------------*/

.#{$site-prefix}person-grid {
  @include layout();

  list-style-type: none;
  margin-left: 0;
}

@include media-query(medium) {
  .#{$site-prefix}person-grid__item {
      float: left;
      @include colwidth(6);

      &:nth-child(2n+1) {
          clear: left;
      }
  }
}

@include media-query(large) {
  .#{$site-prefix}person-grid__item {
      float: left;
      @include colwidth(4);

      &:nth-child(2n+1) {
          clear: none;
      }
      &:nth-child(3n+1) {
          clear: left;
      }
  }
}

@supports (display: grid) {
  .#{$site-prefix}person-grid {
    @include media-query(medium) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-query(large) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}




// person
.#{$site-prefix}person-grid {
  .#{$site-prefix}person {
    display: flex;
  }

  .#{$site-prefix}person__link {
    flex: none;
    margin-right: 32px;
    width: calc(33% - 16px);
  }

  @include media-query(medium) {
    .#{$site-prefix}person {
      display: block;
    }

    .#{$site-prefix}person__link {
      margin-right: 0;
      width: unset;
    }
  }
}
