/*------------------------------------*\
    #SOCIAL CHANNELS
\*------------------------------------*/

.#{$site-prefix}social-channels {
  > * {
    margin-bottom: 32px;
  }

  .ds_card__content {
    :last-child {
      margin-bottom: 0;
    }
  }
}

@include media-query(medium-down) {
  @supports(display: grid) {
    .#{$site-prefix}social-channels {
      grid-gap: 16px;

      .ds_card {
        display: grid;
        grid-template-columns: 1fr 2fr;
      }

      .ds_card__media {
        margin: 16px 0 16px 16px;
      }

      .ds_card__content {
        padding: 16px;
      }
    }
  }
}

@include media-query(medium) {
  .#{$site-prefix}social-channels {
    margin-right: -32px;
    > * {
      float: left;
      width: calc(33.333333% - 32px);
      margin-right: 32px;
    }
  }
}

@supports(display: grid) {
  @include media-query(medium) {
  .#{$site-prefix}social-channels {
      display: grid;
      grid-gap: 32px;
      grid-template-columns: repeat(3, 4fr);

      margin-right: 0;

      > * {
        margin-right: 0;
        width: auto;
      }
    }
  }
}
