/*------------------------------------*\
    #COLUMN LIST
    Displays a list in columns with items flowing vertically
    Falls back to displaying row-by-row in old IE
\*------------------------------------*/

$gutter: 32px !default;




.#{$site-prefix}column-list {
    -moz-column-gap: $gutter;
    column-gap: $gutter;
    margin-left: 0;

    $columns: 4;

    @while $columns > 1 {
        &--#{$columns} {
            -moz-column-count: #{$columns};
            column-count: #{$columns};
        }

        $columns: $columns - 1;
    }

    &__item {
        display: inline-block;
        width: 100%;
    }
}

@include media-query(medium-down) {
    .#{$site-prefix}column-list--not-small {
        -moz-column-count: 1 !important;
        column-count: 1 !important;
    }
}




.old-ie .#{$site-prefix}column-list {
    $columns: 4;

    margin-right: -32px;
    overflow: hidden;

    @while $columns > 1 {
        &--#{$columns} .#{$site-prefix}column-list__item {
            width: (100% / $columns);
        }

        &--#{$columns} .#{$site-prefix}column-list__item:nth-child(#{$columns}n+1) {
            clear: left;
        }

        $columns: $columns - 1;
    }

    &__item {
        float: left;
        padding-right: 32px;
    }
}

@include media-query(medium-down) {
    .#{$site-prefix}column-list--not-small {
        .#{$site-prefix}column-list__item {
            width: 100% !important;
        }
    }
}
