/*------------------------------------*\
    #LAYERS
\*------------------------------------*/

.mobile-layer {
  display: none;
  opacity: 0;
  @include sticky();
  top: 0;
  right: 0;
  left: 0;

  z-index: -1;

  transition: opacity $transition-in-time * 2;

  &__overlay {
    background: rgba(255, 255, 255, 0.9);
    bottom: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;

    transition: opacity $transition-in-time * 2;

    &--white {
        background: rgba(255, 255, 255, 0.9);
    }

    &--grey {
        background: rgba(225, 225, 225, 0.9);
    }
  }

  &--open {
    opacity: 1;
    z-index: 1001;
    display: block;

    > .mobile-layer__overlay {
      display: block;
      opacity: 1;
      z-index: 100;
    }
  }

  &--dark {
    .mobile-layer__overlay {
      background: rgba(0, 0, 0, 0.7);
    }
  }

  // for things we want to always be on top
  &--highest {
    &.mobile-layer--open {
      z-index: 9999 !important;
    }
  }
}

.mobile-layer__overlay--open {
  display: block;
  opacity: 1;
  z-index: 1001;
}

@include media-query(medium) {
  // makes content in a mobile layer display on larger devices
  .mobile-layer--show-tablet {
    display: block;
    opacity: 1;
    position: static;

    + .mobile-layer__overlay {
      display: none;
    }

    .mobile-layer__content {
      padding-top: 0;
    }
  }
}

/* helper class for elements we want to keep above an overlay when an overlay is open */
.has-overlay .above-overlay {
  z-index: 2001;
}
