/**
 * PATTERN LIBRARY VALUES
 */
$iconsfile: "../images/icons/icons.stack.svg";
$site-prefix: "gov_";


/**
 * BASE STYLES FROM PATTERN LIBRARY
 */
@import "../../node_modules/@scottish-government/pattern-library/src/base/all-base";
@import "../../node_modules/@scottish-government/pattern-library/src/forms/all-forms";
@import "base/base.gov-layouts";

/**
 * COMPONENTS FROM PATTERN LIBRARY
 */
@import "../../node_modules/@scottish-government/pattern-library/src/components/all-components";

.js-enabled .fully-hidden-if-js {
    display: none;
}



// same breakpoints as mygov.scot
$breakpoints: (
    'small' '(min-width: 480px)',
    'medium' '(min-width: 768px)',
    'large' '(min-width: 992px)',
    'xlarge' '(min-width: 1200px)',
    'small-down' '(max-width: 479px)',
    'medium-down' '(max-width: 767px)',
    'large-down' '(max-width: 991px)',
    'small-to-medium' '(min-width: 480px) and (max-width: 767px)',
    'medium-to-large' '(min-width: 768px) and (max-width: 991px)',
    'large-to-xlarge' '(min-width: 992px) and (max-width: 1199px)',
    'xlarge-up' '(min-width: 1200px)' );




@import "helpers/helper.visibility";

@import "objects/object.column-list";
@import "objects/object.overflows";
@import "objects/object.scrollable";

@import "components/component.az-list";
@import "components/component.document-info";
@import "components/component.document-banner";
@import "components/component.featured-item";
@import "components/component.feedback";
@import "components/component.file-icon";
@import "components/component.filters";
@import "components/component.gov-feature-cards";
@import "components/component.gov-feature-header";
@import "components/component.gov-search-result";
@import "components/component.gov-sidebar-feature";
@import "components/component.history-list";
@import "components/component.homepage-block";
@import "components/component.homepage-hero";
@import "components/component.issue-callout";
@import "components/component.latest-blocks";
@import "components/component.person";
@import "components/component.person-grid";
@import "components/component.policy-list";
@import "components/component.stat-box";
@import "components/component.supporting-documents";

@import "overrides/override.aps-tables";
@import "overrides/override.card";
@import "overrides/override.notification-banner";




// full-width-image: TODO turn into a component
.full-width-image {
    // allow the image to break out of layout; by design
    @include ds_media-query(medium-down) {
        margin-left: -16px;
        max-width: none;
        margin-right: -16px;
        width: calc(100% + 32px);
    }

    display: block;
    max-width: 100%;
}


.body-content table {
    @extend .ds_table;

    th h4,
    th h3,
    th h2,
    th h1 {
        margin: 0;
    }
}


.gov_page-bottom {
    background-color: $ds_colour__grey--lighter;
    border-top: 1px solid $ds_colour__border--light;
    padding-bottom: 72px;
}


// .ds_reversed *:not(:focus) {color: white !important}
// @supports (display: grid) {
//     .ds_reversed:focus-within * {color: black !important}
// }



// patch in fully and visibly hidden over old hidden and hidden hard
.hidden {
    @include visually-hidden;
}

.hidden.hidden--hard {
    display: none !important;
}

// patch for inset text
.info-note.note {
    @extend .ds_inset-text;
}

// debug: highlight unmigrated olds
.info-note {
    outline: 4px dashed rgba(255,0,0,0.5);
}

.ds_input__wrapper .ds_input {
    margin-bottom: 0;
}







.ds_accordion-item--small {
    .ds_accordion-item__button, .ds_accordion-item__header-button {
        @include small-size;
        padding: 12px 36px 12px 8px;
    }

    .ds_accordion-item__indicator {
        right: 12px;
        top: 14px;

        @include media-query(medium) {
            right: 16px;
        }
    }
}



.ds_accordion.js-initialised .ds_accordion-item__body {
    padding: 0 8px;
}

.ds_accordion-item--small .ds_accordion-item__body,
.ds_accordion.js-initialised .ds_accordion-item--small .ds_accordion-item__control:checked ~ .ds_accordion-item__body {
    padding-left: 8px;
    padding-right: 8px;

    @include ds_responsive-padding(2, top);
    @include ds_responsive-padding(3, bottom);
}
