/**
 * PATTERN LIBRARY VALUES
 */
$iconsfile: "../images/icons/icons.stack.svg";
$site-prefix: "gov_";


/**
 * BASE STYLES FROM PATTERN LIBRARY
 */
@import "../../node_modules/@scottish-government/design-system/src/base/all-base";
@import "../../node_modules/@scottish-government/design-system/src/forms/all-forms";
@import "base/base.gov-layouts";

/**
 * COMPONENTS FROM PATTERN LIBRARY
 */
@import "../../node_modules/@scottish-government/design-system/src/components/all-components";




// same breakpoints as mygov.scot
$breakpoints: (
    'small' '(min-width: 480px)',
    'medium' '(min-width: 768px)',
    'large' '(min-width: 992px)',
    'xlarge' '(min-width: 1200px)',
    'small-down' '(max-width: 479px)',
    'medium-down' '(max-width: 767px)',
    'large-down' '(max-width: 991px)',
    'small-to-medium' '(min-width: 480px) and (max-width: 767px)',
    'medium-to-large' '(min-width: 768px) and (max-width: 991px)',
    'large-to-xlarge' '(min-width: 992px) and (max-width: 1199px)' );




@import "helpers/helper.visibility";

@import "objects/object.column-list";
@import "objects/object.overflows";
@import "objects/object.scrollable";

@import "components/component.az-list";
@import "components/component.content-block";
@import "components/component.document-banner";
@import "components/component.featured-item";
@import "components/component.feedback";
@import "components/component.filters";
@import "components/component.form-box";
@import "components/component.gov-feature-cards";
@import "components/component.gov-sidebar-feature";
@import "components/component.history-list";
@import "components/component.homepage-fm";
@import "components/component.homepage-hero";
@import "components/component.homepage-news";
@import "components/component.icon-link";
@import "components/component.issue-callout";
@import "components/component.latest-blocks";
@import "components/component.person";
@import "components/component.person-grid";
@import "components/component.policy-list";
@import "components/component.search-results";
@import "components/component.secondary-footer";
@import "components/component.stat-box";
@import "components/component.supporting-documents";
@import "components/component.toggle-link";
@import "components/component.video-wrapper";
@import "components/preview-notification";

@import "content-blocks/all-content-blocks";

@import "overrides/override.card";
@import "overrides/override.feature-header";
@import "overrides/override.notification-banner";
@import "overrides/override.tables";
@import "overrides/override.tag";

@import "components/bugfix.site-header";

.ds_input__wrapper .ds_input {
    margin-bottom: 0;
}

/**
 * CMS STYLES
 */
 @import "./cms.experience-manager";
 .ds_cb__inner .hst-fab {width: 40px !important;}
