/**
 * PATTERN LIBRARY VALUES
 */
$iconsfile: "../images/icons/icons.stack.svg";
$site-prefix: "gov_";


/**
 * BASE STYLES FROM PATTERN LIBRARY
 */
@import "../../node_modules/@scottish-government/pattern-library/src/base/all-base";
@import "../../node_modules/@scottish-government/pattern-library/src/forms/all-forms";
@import "ds-gov/base.gov-layouts";

/**
 * COMPONENTS FROM PATTERN LIBRARY
 */
@import "../../node_modules/@scottish-government/pattern-library/src/components/all-components";

.js-enabled .fully-hidden-if-js {
    display: none;
}



// same breakpoints as mygov.scot
$breakpoints: (
    'small' '(min-width: 480px)',
    'medium' '(min-width: 768px)',
    'large' '(min-width: 992px)',
    'xlarge' '(min-width: 1200px)',
    'small-down' '(max-width: 479px)',
    'medium-down' '(max-width: 767px)',
    'large-down' '(max-width: 991px)',
    'small-to-medium' '(min-width: 480px) and (max-width: 767px)',
    'medium-to-large' '(min-width: 768px) and (max-width: 991px)',
    'large-to-xlarge' '(min-width: 992px) and (max-width: 1199px)',
    'xlarge-up' '(min-width: 1200px)' );

$images-path: '../../../../assets/mygov/';

/**
 * TOOLS
 */
// @import "tools/tools.animation";
// @import "tools/tools.hit-target";
// @import "../../node_modules/@scottish-government/mygov-assets/scss/tools/tools.mixins";
// @import "tools/tools.mixins";
// @import "tools/tools.placeholder-selectors";

/**
 * OBJECTS
 */
// @import "objects/object.column-list";
// @import "objects/object.containers";
// @import "objects/object.dividers";
// @import "objects/object.layers";
// @import "objects/object.media";
// @import "objects/object.narrow";
// @import "objects/object.overflows";
// @import "objects/object.scrollable";
// @import "objects/object.svg-icon";

/**
 * COMPONENTS
 */
// @import "components/component.aps-publication";
// @import "components/component.article";
// @import "components/component.article-header";
// @import "components/component.article-external-link";
// @import "components/component.az-list";
// $breadcrumbs__font-size: 12px;
// $breadcrumbs__font-size--medium: 13px;
// $breadcrumbs__font-size--large: 14px;
// $breadcrumbs__margin: 0 0 28px;
// $breadcrumbs__margin--medium: -3px 0 25px;
// $breadcrumbs__margin--large: $breadcrumbs__margin--medium;
// @import "../../node_modules/@scottish-government/mygov-assets/scss/components/component.breadcrumbs";
// @import "components/component.contact-information";
// @import "components/component.content-data";
// @import "components/component.contents-list";
// @import "components/component.crossbar-header";
// @import "components/component.directorate-list";
// @import "../../node_modules/@scottish-government/mygov-assets/scss/components/component.document-info";
// @import "components/component.document-nav";
// @import "../../node_modules/@scottish-government/mygov-assets/scss/components/component.document-section";
// @import '../../node_modules/@scottish-government/mygov-assets/scss/components/component.expand';
// $expandable__title-size: 16px;
// @import '../../node_modules/@scottish-government/mygov-assets/scss/components/component.expandable';
// @import "../../node_modules/@scottish-government/mygov-assets/scss/components/component.external-links";
// @import "components/component.feedback";
// @import "../../node_modules/@scottish-government/mygov-assets/scss/components/component.file-icon";
// @import "components/component.form-box";
// @import "components/component.history-list";
// @import "components/component.issue-callout";
// @import "components/component.list-controls";
// @import "components/component.listed-content-item";
// @import "components/component.multipage-nav";
// @import "components/component.notification";
// @import "../../node_modules/@scottish-government/mygov-assets/scss/components/component.page-nav";
// @import "components/component.page-group";
// @import "components/component.pagination";
// @import "../../node_modules/@scottish-government/mygov-assets/scss/components/component.person";
// @import "components/component.person-grid";
// @import "components/component.policy-list";
// @import "components/component.publication-info";
// $search-box__border-radius: 0;
// $search-box__background-color: $color__grey--lighter;
// $search-box__font-size: 16px;
// $search-box__font-size--medium: 17px;
// $search-box__font-size--large: $search-box__font-size--medium;
// $search-box__size: 56px;
// $search-box__size--medium: $search-box__size;
// @import "../../node_modules/@scottish-government/mygov-assets/scss/components/component.search-box";
// @import "components/component.search-results";
// @import "components/component.section-marker";
// @import "components/component.see-all-button";
// @import "components/component.sidebar-block";
// // @import "components/component.site-footer";
// @import "../../node_modules/@scottish-government/mygov-assets/scss/components/component.skip-links";
// @import "components/component.social-channels";
// @import "components/component.stat-box";
// @import "components/component.sticky-back-to-top";
// @import "components/component.sticky-document-info";
// @import "components/component.supporting-files";
// @import "components/component.topic-block";
// @import "components/component.topic-header";
// @import "components/component.utility-link";
// @import "components/component.update-history";
// @import "components/component.welcome";




// @import "components/homepage/component.homepage-about";
// @import "components/homepage/component.homepage-block";

// @import "components/homepage/component.homepage-news";
// @import "components/homepage/component.homepage-publication";
// @import "components/homepage/component.homepage-stats";



/*
 need:
 stat box
 homepage gubbins
 overflow
 person (for roles styling)
 expand (civil service page roles are borked)
 listed content item (featured topic item) (should be card now)
 topic block / latest feeds
 publication body (??)
 document info

 still to do:
 filters not styled
 complex doc
 - prev/next/menu
 - sticky doc styling
 sticky doc info
*/
@import "ds-gov/helper.visibility";

@import "ds-gov/object.column-list";
@import "ds-gov/object.scrollable";

@import "ds-gov/component.az-list";
@import "ds-gov/component.document-info";
@import "ds-gov/component.document-banner";
@import "ds-gov/component.featured-item";
@import "ds-gov/component.feedback";
@import "ds-gov/component.file-icon";
@import "ds-gov/component.filters";
@import "ds-gov/component.gov-search-result";
@import "ds-gov/component.homepage-block";
@import "ds-gov/component.homepage-hero";
@import "ds-gov/component.issue-callout";
@import "ds-gov/component.latest-blocks";
@import "ds-gov/component.policy-list";
@import "ds-gov/component.social-channels";
@import "ds-gov/component.stat-box";
@import "ds-gov/component.supporting-documents";
@import "ds-gov/component.topic-header";





// full-width-image: TODO turn into a component
.full-width-image {
    // allow the image to break out of layout; by design
    @include media-query(medium-down) {
        margin-left: -16px;
        max-width: none;
        margin-right: -16px;
        width: calc(100% + 32px);
    }

    display: block;
    max-width: 100%;
}



.person-grid {
    @include layout();

    list-style-type: none;
    margin-left: 0;
}

@include media-query(medium) {
    .person-grid__item {
        float: left;
        @include colwidth(6);

        &:nth-child(2n+1) {
            clear: left;
        }
    }
}

@include media-query(large) {
    .person-grid__item {
        float: left;
        @include colwidth(4);

        &:nth-child(2n+1) {
            clear: none;
        }
        &:nth-child(3n+1) {
            clear: left;
        }
    }
}

@supports (display: grid) {
    .person-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}




.body-content table {
    @extend .ds_table;

    th h4,
    th h3,
    th h2,
    th h1 {
        margin: 0;
    }
}


.gov_page-bottom {
    background-color: $ds_colour__grey--lighter;
    border-top: 1px solid $ds_colour__border--light;
    padding-bottom: 72px;
}


// .ds_reversed *:not(:focus) {color: white !important}
// @supports (display: grid) {
//     .ds_reversed:focus-within * {color: black !important}
// }



// patch in fully and visibly hidden over old hidden and hidden hard
.hidden {
    @include visually-hidden;
}

.hidden.hidden--hard {
    display: none !important;
}

// patch for inset text
.info-note.note {
    @extend .ds_inset-text;
}

// debug: highlight unmigrated olds
.info-note {
    outline: 4px dashed rgba(255,0,0,0.5);
}

.ds_input__wrapper .ds_input {
    margin-bottom: 0;
}
