%inner-shadow-top {
  position: relative;

  &:before {
    border-top: 1px solid $color__grey--light;
    display: block;
    content: '';
    height: 7px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;

    @include background-image(linear-gradient(
        rgba(0, 0, 0, 0.05),
        rgba(0, 0, 0, 0)
    ));
  }
}

%inner-shadow-bottom {
  position: relative;

  &:after {
    border-bottom: 1px solid $color__grey--light;
    bottom: 0;
    display: block;
    content: '';
    height: 7px;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 1;

    @include background-image(linear-gradient(
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.05)
    ));
  }
}

.inner-shadow-top {
  @extend %inner-shadow-top;
}

@include media-query(tablet-down) {
  .inner-shadow-top--no-mobile {
    &:before {
      content: none;
    }
  }
}
