/*------------------------------------*\
    #WRAPPERS
\*------------------------------------*/

$wrapper-padding: 15px !default;

.wrapper {
  margin: 0 auto;
  padding: 0 $wrapper-padding;
}

@include media-query(tablet) {
  .wrapper {
    max-width: 750px;
  }
}

@include media-query(desktop) {
  .wrapper {
    max-width: 970px;
  }
}

@include media-query(hd) {
  .wrapper {
    max-width: 1170px;
  }
}


/**
 * Gives us a full-width (no wrapper) on mobile, but normal wrapper on
 * wider screens.
 */
.wrapper--full-mobile  {
  padding: 0;
}

@include media-query(tablet) {
  .wrapper--full-mobile {
    padding: 0 $wrapper-padding;
  }
}
