/*------------------------------------*\
    #MEDIA
    Generic styles for videos, images
    and other media.
\*------------------------------------*/



.float-left {
  float: left;
  padding-right: 16px;
  padding-bottom: 16px;
}

.float-right {
  float: right;
  padding-left: 16px;
  padding-bottom: 16px;
}
