/*------------------------------------*\
    #MEDIA
\*------------------------------------*/
/**
 * Generic styles for videos, images and other media.
 */




 /*------------------------------------*\
     IMAGES
 \*------------------------------------*/

.float-left {
  float: left;
  padding-right: 16px;
  padding-bottom: 16px;
}

.float-right {
  float: right;
  padding-left: 16px;
  padding-bottom: 16px;
}





/*------------------------------------*\
    VIDEOS
\*------------------------------------*/

.embed-responsive {
  position: relative;
  margin-bottom: 24px;
	height: 0;

  iframe {
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  }


  &--16by9 {
    /**
     * 1. Maintain 16:9 aspect ratio regardless of width.
     */
  	padding-bottom: 56.25%; /* [1] */
  }
}
