/*------------------------------------*\
    #DIVIDERS
\*------------------------------------*/


$divider-horizontal-margin: 48px;
$divider-horizontal-padding: 48px;


$grid-divider-right-padding: 24px !default; // Standard grid gutter width
$grid-divider-right-padding-narrow: 15px !default; // Narrow grid gutter width
$grid-divider-bottom-padding: 24px !default;


.divider {
    margin-top: 48px;
    padding-top: 48px;

    &--bottom {
      padding-bottom: 48px;
    }

    &--border {
        border-top: 1px solid $color__grey--light;
    }

    &--no-margin {
        margin-top: 0px;
    }

}



/*------------------------------------*\
    #GRID DIVIDERS
\*------------------------------------*/
/**
 * Grid dividers give you responsive dividers on the grid. Extends .grid
 *
 * .grid-divider  ................ Add a right border on grid-items in tablets and up
 * .grid-divider--phone  ......... Add a right border on grid items in phones
 * .grid-divider--phone-bottom  .. Add a bottom border on grid items in phones
 * .grid-divider__disabled  ...... Disable the divider on a specific grid item
 * .grid-divider--narrow  ........ Reduces padding to match narrow grid
 *
 */

@mixin grid-divider-setup($location, $padding) {
  .grid__item {
    padding-#{$location}: $padding;
    border-#{$location}: 1px solid $color__grey--light;
    @if $location == 'bottom' {
      margin-bottom: $padding;
    }
  }
  .grid__item:last-child {
    border-right: none;
    padding-right: none;
  }
}

.grid-divider {
  @include media-query(tablet) {
    @include grid-divider-setup('right', $grid-divider-right-padding);
  }
}

.grid-divider--phone {
  @include grid-divider-setup('right', $grid-divider-right-padding);
}

.grid-divider--phone-bottom {
  @include grid-divider-setup('bottom', $grid-divider-bottom-padding);
}

.grid-divider--narrow {
  @include grid-divider-setup('right', $grid-divider-right-padding-narrow);
  @include media-query(tablet) {
    @include grid-divider-setup('right', $grid-divider-right-padding-narrow);
  }
}

.grid-divider__disabled {
  padding-right: 0 !important;
  border-right: 0 !important;
}
