/*------------------------------------*\
    #WRAPPERS
\*------------------------------------*/

$wrapper-padding: 15px !default;

.wrapper {
  margin: 0 auto;
  padding: 0 $wrapper-padding;
}

@include media-query(tablet) {
  .wrapper {
    max-width: 750px;
  }
}

@include media-query(desktop) {
  .wrapper {
    max-width: 970px;
  }
}

@include media-query(hd) {
  .wrapper {
    max-width: 1170px;
  }
}


/**
 * Full-width (no wrapper) on mobile only
 */

@include media-query(tablet-down) {
  .wrapper--full-mobile {
    padding: 0;
  }
}

/**
 * Full-width (no wrapper) on tablet only
 */
@include media-query(tablet-to-desktop) {
  .wrapper--full-tablet {
    padding: 0;
    max-width: none;
  }
}
