/*------------------------------------*\
    a smaller version of the styled radio button
\*------------------------------------*/

label.fancy-radio--min,
label.fancy-radio--min:first-of-type {
    margin-top: 0;
    padding-left: 34px;
}

input+label.fancy-radio--min:before,
label.fancy-radio--min:before {
    border-width: 1px;
    height: 24px;
    margin-top: -3px;
    width: 24px;
}

input:focus+label.fancy-radio--min:before {
    border-width: 2px;
}
