/*------------------------------------*\
    #TRUMP SEARCH BOX
    Override styles for gov.scot searchbox
\*------------------------------------*/

$search-box__transition-duration: 0.4s;
$search-box__transition-timing: ease;




.search-box {

  margin-top: 0;
  margin-bottom: 21px;

  &__input[type=text] {
    border: 1px solid $color__grey--medium;
    border-right: 0;
    box-shadow: none;
    font-size: inherit;
    padding-left: 20px;
  }

   &--mobile {
    left: 15px;
    height: auto;
    position: absolute;
    right: 15px;
    top: 104px;
    width: auto;
    z-index: 101;

    transition: margin-top $search-box__transition-duration $search-box__transition-timing;
  }

  &--large {
      margin-bottom: 42px;
  }
}

@include media-query(medium) {
  .search-box {

    &__input {
      &[type=text] {
        transition: width $transition-in-time;
        margin-right: $search-box__size;
        padding-right: 0;
        width: calc(100% - #{$search-box__size});
      }

      &--expandable:focus {
        width: calc(136% - #{$search-box__size});         // OR the next line
        width: calc(100% + 101px - #{$search-box__size}); // ([full width] + [width of 1 column] - [button width])
      }

      &:focus {
        font-size: 22px;
        font-weight: 300;
      }
    }
  }
}
