/*------------------------------------*\
    #GOVSCOT EXPANDABLE
\*------------------------------------*/

.expandable {
    position: relative;

    .expandable-item__icon {
        background-image: none !important;
        color: $color__grey--medium;

        .optional-icon {display: none;}
        .optional-icon:not(.icon-less) {
            display: block;
        }
    }

    .expandable-item--open {
        .expandable-item__header {
            border-left-color: $color__blue--base;
            color: $color__blue--base;
        }

        .expandable-item__icon {
            color: $color__blue--base;

            .optional-icon {display: none;}
            .optional-icon:not(.icon-more) {
                display: block;
            }
        }
    } 
}

.expand-all-button {
    min-height: 42px;
    min-width: 140px;
    position: absolute;
    right: 0;
    top: -49px;

    &__text {
        padding-right: 42px;
    }

    &__icon-container {
        height: 35px;
        position: absolute;
        right: 13px;
        top: 1px;
        width: 35px;

        .optional-icon {display: none;}
        .optional-icon:not(.icon-less) {
            display: block;
        }
    }

    &__icon {
        height: 100%;
        width: 100%;
    }
}

.expand-all-button--open {
    .expand-all-button__icon-container {
        .optional-icon {display: none;}
        .optional-icon:not(.icon-more) {
            display: block;
        }
    }
}

.button--secondary:hover {
    .expand-all-button__icon-container {
        height: 35px;
        position: absolute;
        right: 12px;
        top: 0;
        width: 35px;
    }
}

@include media-query(medium) {
    .expand-all-button {
        top: -56px;
    }
}
