/*------------------------------------*\
    #MG-ICON
    additional styles to adjust to icons from material design
\*------------------------------------*/

.mg-icon--medium--material {
    height: 24px;
    margin-top: -12px;
    right: 2px;
    width: 24px;
}
