/*------------------------------------*\
    #CONTENTS EXPANDABLE
    modifier for Mygov Assets expandable
\*------------------------------------*/

.contents-expandable {
    margin-bottom: 35px;
    position: relative;

    .expandable-item {
        margin-left: 0;
        margin-right: 0;
    }

    .expandable-item__header {
        border-left: 4px solid transparent;
        color: $color__blue--base;
        height: auto;
        min-height: 35px;
        padding-left: 23px;
    }

    .expandable-item__title {
        font-size: 22px;
        line-height: 28px;
        top: 0;
    }

    .expandable-item__body {
        padding-top: 0;
        padding-bottom: 0;
    }

    .expandable-item__icon {
        background-image: none !important;
        color: $color__grey--medium;

        .optional-icon {display: none;}
        .optional-icon:not(.icon-less) {
            display: block;
        }
    }

    .expandable-item--open {
        .expandable-item__header {
            border-left-color: $color__blue--base;
            color: $color__blue--base;
        }

        .expandable-item__icon {
            color: $color__blue--base;

            .optional-icon {display: none;}
            .optional-icon:not(.icon-more) {
                display: block;
            }
        }
    } 
}

@include media-query(medium) {
    .contents-expandable {
        .expandable-item__body {
            margin-left: 21px;
        }

        .expandable-item__header {
            border-left-width: 6px;
            min-height: 49px;
        }
    
        .expandable-item__title {
            font-size: 26px;
            line-height: 35px;
        }
    }
}
